<template>
  <div
    v-if="showMenu"
    class="eshop-menu row end-xs middle-xs col-xs-12 no-margin no-padding"
  >
    <registerModal v-if="showRegModal" @close="showRegModal = false" />
    <div
      class="active-menu col-xs start-xs search-area row middle-xs no-margin"
    >
      <div
        class="icon-container center-xs search-icon-container row middle-xs middle-xs no-margin"
        @click="showMobileSearch = !showMobileSearch"
      >
        <div v-html="icons['search']"></div>
      </div>
      <transition name="fade-top">
        <mobileSearch
          v-if="showMobileSearch"
          @close="showMobileSearch = false"
        />
      </transition>
    </div>
    <div
      class="active-menu col-xs center-xs user-area row middle-xs no-margin"
      @mouseover="setHoverItem('user')"
      @mouseleave="nullHover"
    >
      <div
        class="icon-container row middle-xs middle-xs no-margin"
        @click.stop.prevent="hoverItem = hoverItem === 'user' ? null : 'user'"
      >
        <div v-html="icons['user']"></div>
      </div>
      <div class="col-xs text-container">
        <div class="col-xs-12 bigger hide-sm">
          <span v-if="$auth.user">Prisijungęs</span
          ><span v-else>Prisijungti</span>
        </div>
        <div class="col-xs-12 smaller hide-sm">
          <span v-if="$auth.user"></span>
          <span v-else>registruotis</span>
        </div>
      </div>
      <transition name="fade-top">
        <userMenu
          v-if="hoverItem === 'user'"
          @user-logged-in="updateMenu"
          @set-hover="setHoverItem('user')"
          @clear-hover="nullHover"
          @show-reg="showReg"
        />
      </transition>
      <div class="col-xs-1 chevron" v-html="icons['chevron']"></div>
    </div>

    <div
      class="active-menu row center-xs col-xs middle-xs no-margin"
      @mouseover="setHoverItem('favourite')"
      @mouseleave="nullHover"
    >
      <div class="row col-xs middle-xs no-margin end-xs">
        <div
          :class="{
            'has-items': favourites && favourites.length
          }"
          class="icon-container row middle-xs"
          @click="hoverItem = hoverItem === 'favourite' ? null : 'favourite'"
        >
          <div v-html="icons['heart']"></div>
        </div>
        <div class="col-xs text-container">
          <div class="col-xs-12 bigger hide-sm">Patikusios</div>
          <div class="col-xs-12 smaller hide-sm">
            prekės({{ favourites ? favourites.length : 0 }})
          </div>
        </div>
      </div>
      <transition name="fade-top">
        <favouritesMenu
          v-show="favourites && favourites.length && hoverItem === 'favourite'"
          @set-hover="setHoverItem('favourite')"
          @clear-hover="nullHover"
        />
      </transition>
      <div class="col-xs-1 chevron" v-html="icons['chevron']"></div>
    </div>

    <div
      class="active-menu row end-xs col-xs middle-xs no-margin"
      @mouseover="setHoverItem('basket')"
      @mouseleave="nullHover"
    >
      <div
        :class="{
          'has-items': cart && cart.length
        }"
        class="icon-container row middle-xs no-margin"
        @click.stop.prevent="
          hoverItem = hoverItem === 'basket' ? null : 'basket'
        "
      >
        <div v-html="icons['bag']"></div>
      </div>
      <div class="col-xs text-container" @click="gotoCart">
        <div class="col-xs-12 bigger hide-sm">Krepšelis</div>
        <div class="col-xs-12 smaller hide-sm">
          ({{ cart && cart.length ? cart.length : 0 }})
          <span
            v-if="finalSum && cart && cart.length"
            style="color: #25aae1; font-weight: 450"
            >{{ finalSum }}€</span
          >
        </div>
      </div>
      <transition name="fade-top">
        <basketMenu
          v-show="cart && cart.length && hoverItem === 'basket'"
          @set-hover="setHoverItem('basket')"
          @clear-hover="nullHover"
          @final-sum="setFinalSum"
        />
      </transition>
      <div class="col-xs-1 chevron" v-html="icons['chevron']"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import userMenu from '~/components/header/dropdownMenus/userMenu'
import basketMenu from '~/components/header/dropdownMenus/basketMenu'
import favouritesMenu from '~/components/header/dropdownMenus/favouritesMenu'
import registerModal from '~/components/registerModal'
import mobileSearch from '~/components/header/mobileSearch'

export default {
  components: {
    basketMenu,
    userMenu,
    registerModal,
    favouritesMenu,
    mobileSearch
  },
  props: {},
  data() {
    return {
      showMenu: true,
      finalSum: null,
      showMobileSearch: false,
      hoverItem: null,
      showRegModal: false,
      timeout: null,
      icons: {
        search:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
        user:
          '<svg width="34" height="34" viewBox="0 0 28 34"><path class="" d="M820.881,122.32H821.1a6.2,6.2,0,0,0,4.8-2.147c2.625-3.056,2.189-8.294,2.141-8.794-0.171-3.753-1.888-5.549-3.306-6.386a7.391,7.391,0,0,0-3.668-.993h-0.115a7.4,7.4,0,0,0-3.668.965c-1.431.837-3.176,2.633-3.347,6.414-0.047.5-.484,5.738,2.141,8.794A6.174,6.174,0,0,0,820.881,122.32Zm-5.12-10.765c0-.022.007-0.043,0.007-0.057,0.225-5.048,3.695-5.59,5.181-5.59h0.082c1.84,0.042,4.969.817,5.18,5.59a0.142,0.142,0,0,0,.007.057c0.007,0.049.484,4.837-1.684,7.357a4.4,4.4,0,0,1-3.51,1.507h-0.068a4.386,4.386,0,0,1-3.5-1.507C815.291,116.406,815.754,111.6,815.761,111.555ZM835,131.008v-0.021c0-.056-0.007-0.112-0.007-0.176-0.041-1.394-.13-4.654-3.088-5.7l-0.068-.021a19.426,19.426,0,0,1-5.658-2.661,0.9,0.9,0,0,0-1.281.232,0.969,0.969,0,0,0,.225,1.324,20.958,20.958,0,0,0,6.223,2.936c1.588,0.584,1.766,2.337,1.813,3.942a1.439,1.439,0,0,0,.007.177,13.176,13.176,0,0,1-.143,2.175,26.442,26.442,0,0,1-24.042-.007,12.461,12.461,0,0,1-.143-2.176c0-.056.006-0.112,0.006-0.175,0.048-1.606.225-3.359,1.814-3.943a21.183,21.183,0,0,0,6.223-2.936,0.97,0.97,0,0,0,.225-1.324,0.9,0.9,0,0,0-1.281-.232,19.223,19.223,0,0,1-5.658,2.661c-0.027.007-.048,0.014-0.068,0.021-2.959,1.049-3.047,4.309-3.088,5.7a1.422,1.422,0,0,1-.007.176V131a11.112,11.112,0,0,0,.348,3.19,0.89,0.89,0,0,0,.354.443c0.205,0.141,5.106,3.366,13.306,3.366s13.1-3.232,13.306-3.366a0.937,0.937,0,0,0,.355-0.443A11.716,11.716,0,0,0,835,131.008Z" transform="translate(-807 -104)"/></svg>',
        close:
          '<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>',
        chevron:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c6c6c6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>',
        heart:
          '<svg width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>',
        bag:
          '<svg width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>'
      }
    }
  },
  computed: {
    ...mapState({
      cart: (state) => state.cart,
      favourites: (state) => state.favourites
    })
  },
  methods: {
    updateMenu($event) {
      this.showMenu = false
      this.$nextTick(() => {
        this.showMenu = true
        this.$nextTick(() => {})
      })
    },
    async checkUserAuth() {
      const user = await this.$axios.$get('api/auth/user')
      console.log(user)
    },
    setFinalSum(val) {
      this.finalSum = val
    },
    gotoCart() {
      if (!this.cart || (this.cart && !this.cart.length)) {
        this.$notify({
          group: 'all',
          type: 'warning',
          duration: 5000,
          text: 'Prekių krepšelis yra tuščias'
        })
        return
      }
      this.$router.push({ path: '/krepselis' })
    },
    showReg() {
      this.showRegModal = true
    },
    setHoverItem(code) {
      clearTimeout(this.timeout)
      this.hoverItem = code
    },
    nullHover() {
      this.timeout = setTimeout(
        function () {
          this.hoverItem = null
        }.bind(this),
        800
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.eshop-menu {
  font-weight: bold;
  z-index: 1000000;
  height: 100%;
  .bigger {
    padding-right: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .smaller {
    margin-top: 3px;
    font-size: 14px;
    font-weight: normal;
  }
  .text-container {
    padding-left: 5px;
    padding-right: 0;
    margin-right: 0;
    text-align: left;
    position: relative;
  }
  .icon-container {
    width: 30px;
  }
  .active-menu {
    height: 100%;
    cursor: pointer;
    position: relative;
    margin: 0;
    max-width: 220px;
  }
  .search-icon-container {
    background: #25aae1;
    padding: 10px;
  }
  .icon-container {
    width: auto;
  }
  .chevron {
    position: absolute;
    right: 1em;
  }
}
.fade-top-item {
  display: inline-block;
  margin-right: 10px;
}
.fade-top-enter-active,
.fade-top-leave-active {
  transition: all 0.3s;
}
.fade-top-enter, .fade-top-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}
@media only screen and (min-width: 1200px) {
  .search-area {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .eshop-menu {
    .text-container {
      display: none;
    }
    position: relative;
    .active-menu {
      padding: 0;
      position: initial;
    }
    .chevron {
      display: none;
    }
  }
}
@media only screen and (max-width: 450px) {
  .eshop-menu {
    .text-container {
      display: none;
    }
    .active-menu {
    }
    .chevron {
      display: none;
    }
  }
}
</style>
