<template>
  <div v-view="viewHandler" class="header-container row col-xs-12">
    <div
      v-if="fixed"
      class="row col-xs-12 no-padding no-margin"
      style="opacity: 0"
    >
      <secondaryMenu v-cloak />
    </div>
    <div class="header-container-container row">
      <mobileMenu v-cloak @close="close" v-if="showMobMenu" />

      <div
        style="z-index: 11"
        class="row col-xs-12 no-padding no-margin between-xs middle-xs"
      >
        <div class="col-xs-4 top-xs start-xs row">
          <nuxt-link to="/">
            <div class="logo" v-html="icons['logo']"></div>
          </nuxt-link>
        </div>
        <div
          style="margin-top: 0"
          class="row col-xs end-xs top-xs search-container"
        >
          <search v-cloak />
        </div>
        <div
          @click="showMobMenu = true"
          class="mobile-menu hide-sm col-xs-2 end-xs row"
          style="text-align: right"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="34"
            height="34"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </div>
      </div>
      <transition name="fade">
        <div
          v-if="showMenu"
          :class="{
            fixed: $route.name != 'info-slug' && fixed && showMenu
          }"
          class="row col-xs-12 no-padding no-margin"
        >
          <secondaryMenu v-cloak />
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import checkView from 'vue-check-view'
import search from '~/components/header/search'
import mobileMenu from '~/components/header/mobileMenu'
import secondaryMenu from '~/components/header/secondaryMenu'
Vue.use(checkView)

export default {
  props: {},
  components: {
    secondaryMenu,
    mobileMenu,
    search
  },
  data() {
    return {
      inView: 1,
      showMenu: true,
      fixed: false,
      showMobMenu: false,
      enoughtScreenEstate: true,
      icons: {
        logo: `<svg x="0px" y="0px" width="295.28px" height="90.647px" viewBox="0 0 595.28 140.647" enable-background="new 0 0 595.28 140.647" xml:space="preserve"> <g id="XMLID_1_"> <path id="XMLID_2528_" fill="#4FA0CA" d="M204.214,30.662h6.341v39.704h20.236v5.508h-26.577V30.662z"/> <path id="XMLID_2526_" d="M299.804,30.744h26.163v5.488h-19.846v14.102h19.892v5.488h-19.892v14.485h19.892v5.488h-26.209V30.744z" /> <path id="XMLID_2524_" d="M537.854,30.744h26.163v5.488h-19.846v14.102h19.892v5.488h-19.892v14.485h19.892v5.488h-26.209V30.744z" /> <path id="XMLID_2521_" d="M349.134,30.744h13.783c4.723,0,6.701,0.383,8.424,1.021c4.595,1.723,7.594,6.254,7.594,12.189 c0,5.743-3.191,10.592-8.104,12.188v0.128c0,0,0.51,0.574,1.34,2.042l9.572,17.485h-7.147l-9.509-17.932h-9.636v17.932h-6.317 V30.744z M364.513,52.376c4.914,0,7.977-3.126,7.977-8.168c0-3.318-1.277-5.679-3.573-6.955c-1.213-0.639-2.681-1.021-6.19-1.021 h-7.275v16.144H364.513z"/> <path id="XMLID_2519_" d="M395.597,30.744h6.827l11.168,31.843c0.83,2.425,1.723,6.19,1.723,6.19h0.128c0,0,0.893-3.765,1.722-6.19 l11.296-31.843h6.7L418.57,75.796h-6.317L395.597,30.744z"/> <path id="XMLID_2517_" d="M455.011,30.744h6.317v45.052h-6.317V30.744z"/> <path id="XMLID_2516_" d="M262.431,30.662c-8.237,0-14.121,5.388-14.121,12.201c0,13.44,21.182,11.396,21.182,20.872 c0,4.149-3.468,6.441-7.556,6.441c-5.865,0-10.206-3.817-11.004-4.569v7.294c2.464,1.47,6.135,2.972,10.88,2.972 c8.671,0,13.873-5.574,13.873-12.325c0-14.183-21.182-11.767-21.182-20.81c0-3.468,3.282-6.379,7.928-6.379 c5.521,0,9.516,3.7,9.593,3.772V33.06C269.946,31.898,266.735,30.662,262.431,30.662z"/> <path id="XMLID_2515_" d="M503.73,70.164c-9.616,0-16.073-7.756-16.216-16.973c0.143-9.217,6.6-16.973,16.216-16.973 c7.964,0,13.136,5.31,13.473,5.665v-7.268c-2.135-1.459-5.855-3.388-11.137-3.895c-0.217-0.022-0.428-0.05-0.65-0.066 c-0.344-0.025-0.706-0.029-1.062-0.041c-0.271-0.009-0.531-0.032-0.809-0.032c-0.024,0-0.048,0.002-0.073,0.002 c-0.018,0-0.034-0.002-0.051-0.002c-0.042,0-0.083,0.006-0.125,0.006c-0.642,0.006-1.275,0.037-1.898,0.09 c-0.258,0.021-0.511,0.051-0.766,0.08c-0.423,0.05-0.841,0.111-1.254,0.182c-0.411,0.07-0.815,0.153-1.217,0.244 c-0.271,0.062-0.541,0.128-0.807,0.2c-0.538,0.143-1.064,0.306-1.583,0.486c-0.122,0.043-0.244,0.085-0.365,0.129 c-8.199,3.007-13.808,10.579-14.178,19.963c-0.01,0.175-0.018,0.35-0.025,0.526c-0.003,0.153-0.022,0.301-0.022,0.456 c0,0.083,0.005,0.165,0.006,0.248c-0.001,0.083-0.006,0.164-0.006,0.248c0,0.154,0.019,0.302,0.022,0.456 c0.006,0.176,0.015,0.351,0.025,0.526c0.371,9.384,5.979,16.956,14.178,19.963c0.121,0.045,0.242,0.087,0.365,0.129 c0.519,0.18,1.045,0.343,1.583,0.486c0.266,0.071,0.536,0.137,0.807,0.2c0.402,0.091,0.806,0.174,1.217,0.244 c0.413,0.071,0.831,0.132,1.254,0.182c0.255,0.029,0.508,0.059,0.766,0.08c0.623,0.054,1.256,0.084,1.898,0.09 c0.042,0,0.083,0.006,0.125,0.006c0.018,0,0.034-0.002,0.051-0.002c0.024,0,0.048,0.002,0.073,0.002 c0.278,0,0.538-0.023,0.809-0.032c0.356-0.012,0.718-0.017,1.062-0.041c0.222-0.016,0.433-0.044,0.65-0.066 c5.282-0.507,9.002-2.436,11.137-3.895V64.5C516.866,64.854,511.694,70.164,503.73,70.164z"/> <path id="XMLID_2454_" fill="#4FA0CA" d="M30.175,30.662h16.522c8.262,0,14.217,5.571,14.217,14.153 c0,8.581-5.955,14.345-14.217,14.345H36.515v16.714h-6.341V30.662z M45.672,53.652c5.443,0,8.773-3.394,8.773-8.837 s-3.33-8.645-8.709-8.645h-9.222v17.482H45.672z"/> <path id="XMLID_2451_" fill="#4FA0CA" d="M101.245,30.701c12.623,0,22.4,9.716,22.4,22.277c0,12.871-9.777,22.896-22.4,22.896 S78.783,65.849,78.783,52.978C78.783,40.417,88.622,30.701,101.245,30.701z M101.245,70.243c8.911,0,16.089-7.425,16.089-17.265 c0-9.529-7.178-16.708-16.089-16.708s-16.151,7.178-16.151,16.708C85.095,62.817,92.335,70.243,101.245,70.243z"/> <path id="XMLID_2448_" fill="#4FA0CA" d="M163.961,30.734c12.614,0,22.384,9.708,22.384,22.26c0,12.862-9.77,22.879-22.384,22.879 c-12.614,0-22.447-10.017-22.447-22.879C141.515,40.443,151.347,30.734,163.961,30.734z M163.961,70.247 c8.904,0,16.077-7.42,16.077-17.252c0-9.522-7.173-16.695-16.077-16.695c-8.904,0-16.139,7.173-16.139,16.695 C147.822,62.827,155.057,70.247,163.961,70.247z"/> <text transform="matrix(1 0 0 1 402.8075 114.2563)" font-family="'ArialMT'" font-size="28">e-parduotuvė</text> </g> </svg>`
      }
    }
  },
  mounted() {
    setTimeout(
      function () {
        this.checkIfenoughtScreenEstate()
      }.bind(this),
      2000
    )
  },
  computed: {},
  methods: {
    close() {
      this.showMobMenu = false
    },
    checkIfenoughtScreenEstate() {
      const body = document.body
      const html = document.documentElement

      const height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      )
      this.enoughtScreenEstate = height - screen.height > 300
    },
    updateLayer() {
      this.showMenu = false
      this.$nextTick(() => {
        this.showMenu = true
        this.$nextTick(() => {})
      })
    },
    viewHandler(ev) {
      if (!ev.percentInView && !this.fixed) {
        this.updateLayer()
        this.fixed = true
      } else {
        this.fixed = false
      }
    }
  }
}
</script>

<style lang="scss">
.header-container {
  background: #fff;
  padding: 0 20px;
  color: #171717;
  .header-container-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    padding-left: 20px !important;
    top: 0;
    left: 0;
    z-index: 999999999;
  }
  .logo {
    svg {
      max-width: 400px;
    }
  }
}
.fade-item {
  display: inline-block;
  margin-right: 10px;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter, .fade-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}
@media only screen and (max-width: 400px) {
  .header-container {
    .logo {
      svg {
        max-width: 200px;
      }
    }
  }
}
</style>
