<template>
  <div class="mobile-menu-container row middle-xs end-xs col-xs-12 no-margin">
    <div class="col-xs-12 row end-xs no-margin">
      <div @click="close" class="close" v-html="icons['close']"></div>
    </div>
    <div
      @click="goto(item.slug)"
      :key="item.slug"
      v-for="item of menu"
      :class="{
        active:
          $nuxt.$route.path == `/info/${item.slug}` ||
          $nuxt.$route.path == `/${item.slug}`
      }"
      class="menu-item col-xs-12"
    >
      {{ item.title }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import anime from 'animejs'

export default {
  props: {},
  data() {
    return {
      icons: {
        close:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      }
    }
  },
  components: {},
  mounted() {
    if (this.menu.length < 2) this.getContent()
    this.animateAppear()
  },
  computed: {
    ...mapState({
      menu: (state) => state.menu
    })
  },
  methods: {
    animateAppear() {
      anime({
        targets: '.mobile-menu-container .menu-item',
        opacity: [0, 1],
        translateX: [20, 0],
        duration: 1000,
        elasticity: 5000,
        easing: 'easeOutQuart',
        delay(el, i, l) {
          return i * 100
        },
        endDelay(el, i, l) {
          return (l - i) * 100
        }
      })
    },
    close() {
      this.$emit('close')
    },
    async getContent() {
      const ip = await this.$axios.$get('/api/getMenuPages/')
      this.$store.commit('setMenu', ip.menu)
    },
    goto(code) {
      if (code === 'prekes') {
        this.$router.push({ path: `/${code}` })
      } else {
        this.$router.push({ path: `/info/${code}` })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.mobile-menu-container {
  background: #25aae1;
  z-index: 100000000;
  width: 200px;
  min-height: 200px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  .close {
    cursor: pointer;
  }
  .menu-item {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    margin: 20px 0;
  }
}
</style>
