<template>
  <div class="row search-container mobile middle-xs">
    <input
      style="border-right: 1px solid #fff!important"
      placeholder="Prekių paieška"
      autocomplete="off"
      class="search col-xs"
      type="text"
      name="search"
      v-model="search"
      v-on:keyup.enter="searchProducts"
    />
    <div
      @click="searchProducts"
      class="search-button row middle-xs center-xs no-margin"
    >
      <div class="row middle-xs center-xs" v-html="icons['search']"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Vue from 'vue'
import { Select, Option } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
Vue.component(Select.name, Select)
Vue.component(Option.name, Option)

export default {
  props: {},
  data() {
    return {
      category: null,
      search: null,
      icons: {
        chevron:
          '<svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c6c6c6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>',
        search:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>'
      }
    }
  },
  mounted() {
    this.getCategories()
    if (!this.search && this.searchVars.search_string)
      this.search = this.searchVars.search_string
  },
  watch: {},
  computed: {
    ...mapState({
      searchCats: (state) => state.searchCats,
      searchVars: (state) => state.searchVars
    }),
    categories() {
      if (!this.searchCats) return
      const catObj = []
      for (const cat of this.searchCats) {
        for (const category of cat.children) {
          catObj.push(category)
        }
      }
      return catObj
    }
  },
  methods: {
    searchProducts() {
      this.$store.commit('setSearchVars', {
        category: this.category,
        search_string: this.search
      })
      this.$emit('close')
      this.$router.push({ path: '/prekes' })
    },
    async getCategories() {
      const result = await this.$axios.$get(`/api/getMainCats`)
      this.$store.commit('setSearchCats', result.categories)
    }
  }
}
</script>

<style lang="scss" scoped>
.search-container.mobile {
  display: inline-flex;
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 300px;
  left: 0;
  text-align: left;
  padding-left: 8px;
  margin-left: 0;
  padding-left: 0;
  .search {
    width: 90% !important;
  }
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 400px) {
}
</style>
