<template>
  <div class="row search-container middle-xs">
    <input
      style="border-right: 1px solid #fff !important"
      placeholder="Prekių paieška"
      autocomplete="off"
      class="search"
      type="text"
      name="search"
      v-model="search"
      @keyup.enter="searchProducts"
    />
    <!-- <div class="row col-xs middle-xs center-xs categories no-margin between-xs">
      <el-select
        v-if="searchCats && searchCats.length"
        class="no-border"
        :clearable="true"
        v-model="category"
        :placeholder="'Visos kategorijos'"
      >
        <el-option
          v-for="item in categories"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        >
        </el-option>
      </el-select>
    </div> -->
    <div
      @click="searchProducts"
      class="search-button row middle-xs center-xs no-margin"
    >
      <div class="row middle-xs center-xs" v-html="icons['search']"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Vue from 'vue'
import { Select, Option } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
Vue.component(Select.name, Select)
Vue.component(Option.name, Option)

export default {
  props: {},
  data() {
    return {
      category: null,
      search: null,
      icons: {
        chevron:
          '<svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c6c6c6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>',
        search:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>'
      }
    }
  },
  computed: {
    ...mapState({
      searchCats: (state) => state.searchCats,
      searchVars: (state) => state.searchVars
    }),
    categories() {
      if (!this.searchCats) return
      const catObj = []
      for (const cat of this.searchCats) {
        for (const category of cat.children) {
          catObj.push(category)
        }
      }
      return catObj
    }
  },
  mounted() {
    this.getCategories()
    if (!this.search && this.searchVars.search_string)
      this.search = this.searchVars.search_string
  },
  methods: {
    searchProducts() {
      this.$store.commit('setSearchVars', {
        category: this.category,
        search_string: this.search
      })
      this.$router.push({ path: '/prekes' })
    },
    async getCategories() {
      const result = await this.$axios.$get(`/api/getMainCats`)
      this.$store.commit('setSearchCats', result.categories)
    }
  }
}
</script>

<style lang="scss">
.search-container {
  margin: 10px;
  height: 50px;
  .no-border {
    :placeholder {
      color: #333 !important;
    }
    input {
      border: none;
    }
  }
  .search-button {
    background: #25aae1;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .categories {
    width: 225px;
    font-size: 14px;
    height: 50px;
    border: 1px solid #e9e8e8;
  }
  input.search {
    font-size: 14px;
    padding-left: 20px;
    height: 50px;
    width: 325px;
    height: 50px;
    border: 1px solid #e9e8e8;
    border-right: 0;
  }
  &.hollow {
    input {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      &::placeholder {
        color: #fff !important;
      }
    }
    .search-button {
      background: #fff;
      cursor: pointer;
      svg {
        stroke: #25aae1;
      }
    }
    .categories {
      border-left: none;
    }
    .el-input__inner {
      background: transparent;
      border: none;
    }
  }
}
@media only screen and (max-width: 600px) {
  .search-container {
    .top-products-block {
      padding: 50px 0 25px 0;
    }
    .search-and-cat {
      height: 240px;
      width: 80%;
    }
    .kategorijos {
      display: none;
    }
    input.search {
      width: 225px !important;
    }
    .categories {
      display: none;
    }
  }
}
@media only screen and (max-width: 400px) {
  .search-container {
    padding: 0;
    padding-bottom: 10px;
    input.search {
      width: 70% !important;
    }
  }
  .search-and-cat {
    height: 300px !important;
    width: 80%;
  }
}
</style>
