<template>
  <div class="secondary-menu row middle-xs col-xs-12">
    <div
      class="menu-container row col-lg-6 col-sm-5 col-xs-12 col-md-4 hide-xs center-sm start-lg hide-sm"
    >
      <div
        @click="goto(item.slug)"
        :key="item.slug"
        v-for="item of menu"
        :class="{
          active:
            $nuxt.$route.path == `/info/${item.slug}` ||
            $nuxt.$route.path == `/${item.slug}`
        }"
        class="menu-item"
      >
        {{ item.title }}
      </div>
    </div>
    <div
      style="height: 100%"
      class="col-lg-6 col-sm-7 col-md-8 middle-xs row col-xs no-padding no-margin no-padding eshop-cont"
    >
      <eshopMenu v-cloak />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import eshopMenu from './eshopMenu'

export default {
  props: {},
  data() {
    return {
      icons: {},
      tempMenu: [
        {
          title: 'Prekės',
          slug: 'prekes',
          mainUrl: true
        }
      ]
    }
  },
  components: {
    eshopMenu
  },
  mounted() {
    if (this.menu.length < 2) this.getContent()
  },
  computed: {
    ...mapState({
      menu: (state) => state.menu
    })
  },
  methods: {
    async getContent() {
      const ip = await this.$axios.$get('/api/getMenuPages/')
      const menu = this.tempMenu.concat(ip.menu)
      this.$store.commit('setMenu', menu)
    },
    goto(code) {
      if (code === 'prekes') {
        this.$router.push({ path: `/${code}` })
      } else {
        this.$router.push({ path: `/info/${code}` })
      }
    }
  }
}
</script>

<style lang="scss">
.secondary-menu {
  padding-left: 10px;
  border-top: 2px solid #f4f3f3;
  height: 70px;
  z-index: 1000;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 5px 15px -15px rgba(0, 0, 0, 0.8);
  .menu-item {
    color: #171717;
    cursor: pointer;
    margin-right: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover,
    &.active {
      color: #25aae1;
      transition: all 0.3s ease;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .menu-container {
    flex-basis: 40%;
    max-width: 40%;
  }
  .eshop-cont {
    flex-basis: 60%;
    max-width: 60%;
  }
}
</style>
