<template>
  <div class="main-poolservice-container gray-bg"></div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      scrollPercent: null
    }
  },
  mounted() {
    this.activateCode()
  },
  methods: {
    async activateCode() {
      const result = await this.$axios.$post('/api/activateCode/', {
        code: this.$route.params.code
      })
      if (result.result) {
        this.$notify({
          group: 'all',
          type: 'success',
          text: 'Sėkmingai aktyvavote savo paskyrą...'
        })
        this.$router.push({ path: '/' })
        return
      } else {
        this.$notify({
          group: 'all',
          type: 'error',
          text: 'Įvyko klaida aktyvuojant...'
        })
      }
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style lang="scss" scoped></style>
