<template>
  <div v-if="product" class="main-poolservice-container gray-bg">
    <pageHeader />
    <div class="container">
      <div
        v-if="currentCatID"
        class="text-gray-500 mt-6 flex items-center cursor-pointer"
        @click="goBack"
      >
        <span v-html="back" class="pr-2"></span>Atgal
      </div>
      <singleProductBlock :product="product" />
    </div>
    <section
      v-show="!hideRelatedProducts"
      class="col-xs-12 related-products-section"
    >
      <div class="container">
        <div class="section-title">Susijusios prekės</div>
        <relatedProducts
          :product-id="product.id"
          @no-related-products="hideRelatedProducts = true"
        />
      </div>
    </section>
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import checkView from 'vue-check-view'
import { mapState } from 'vuex'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
import relatedProducts from '~/components/relatedProducts'
import singleProductBlock from '~/components/product/singleProductBlock'
import productBreadcrumbs from '~/components/products/productBreadcrumbs'
Vue.use(checkView)

export default {
  components: {
    pageHeader,
    relatedProducts,
    productBreadcrumbs,
    singleProductBlock,
    footerBlock
  },
  data() {
    return {
      back:
        '<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" /</svg>',
      scrollPercent: null,
      product: null,
      hideRelatedProducts: false
    }
  },
  computed: {
    category() {
      return this.product.categories.length ? this.product.categories[0].id : 0
    },
    ...mapState({
      currentCatID: (state) => state.currentCatID
    })
  },
  mounted() {
    this.getProductBySlug()
  },
  methods: {
    goBack() {
      window.history.back()
    },
    getPristatymoTerminas(id) {
      if (!this.terminai) return
      const terminas = this.terminai.find((element) => element.cart_id === id)
      return terminas ? terminas.term : null
    },
    async getProductBySlug() {
      this.product = await this.$axios
        .$get(`/api/getProductBySlug/${this.$route.params.slug}`)
        .catch((err) => {
          console.log(err)
        })
      this.$store.commit(
        'setCurrentCat',
        this.product.categories.length ? this.product.categories[0].id : null
      )
    }
  }
}
</script>

<style lang="scss">
.circle {
  position: absolute;
  top: 45%;
  right: -160px;
  z-index: 100000;
}
.circle2 {
  position: absolute;
  z-index: 0;
  right: -20px;
  top: 60%;
}
.circle3 {
  position: absolute;
  top: 85%;
  left: -160px;
  z-index: 100000;
}
.circle4 {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: 90%;
}
.container {
  margin: 0 auto;
}
.gray-bg {
  background: #f5f5f5;
}
.main-categories-container--category {
  svg {
    fill: #e9c520;
  }
  &.hover {
    transition: all 0.3s ease;
    &:hover {
      svg {
        fill: #fff !important;
      }
    }
  }
}
.heart-icon {
  &:hover {
    svg {
      fill: #f13d3d;
    }
  }
}
</style>
