<template>
  <div class="dropdown-menu" @mouseover="emitHover" @mouseleave="clearHover">
    <div class="scroll">
      <div
        v-for="item of cart"
        :key="item.id"
        class="product-item row col-xs-12 no-padding"
        @click.stop.prevent="gotoProduct(item.product.slug)"
      >
        <div v-if="item.product && item.product.image" class="image col-xs-3">
          <img :src="getImageUrl(item.product.image)" />
        </div>
        <div class="descr col-xs-9">
          <div class="title col-xs-12 no-padding">
            {{ item.product.name }}
          </div>
          <div class="row description">
            <div class="col-xs-3">
              Kaina: <br />
              Kiekis:
            </div>
            <div class="col-xs">
              {{ getPrice(item.product) }} €<br />
              {{ item.qty }}
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-1 close">
        <div v-html="icons['close']"></div>
      </div> -->
      </div>
    </div>
    <div v-if="cart && cart.length" class="row between-xs total-sum">
      <!-- <div class="row col-xs-12 no-padding">
        <div class="col-xs">PVM (21%)</div>
        <div class="row col-xs end-xs" style="font-weight: 450; color: #25aae1">
          {{ (getSum * 0.21).toFixed(2) + ' €' }}
        </div>
      </div> -->
      <div class="row col-xs-12 no-padding" style="margin-top: 0.5em">
        <div class="col-xs">SUMA</div>
        <div class="row col-xs end-xs" style="font-weight: 450; color: #25aae1">
          {{ getSum + ' €' }}
        </div>
      </div>
    </div>
    <mainButton
      class="black bigger-text no-hover"
      text="žiūrėti krepšelį"
      @on-click="gotoBasket"
    />
    <div style="margin-bottom: 10px"></div>
    <!-- <mainButton class="active bigger-text no-hover" text="apmokėti" /> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import mainButton from '~/components/mainButton'

export default {
  components: { mainButton },
  props: {
    hoverItem: {
      type: String
    }
  },
  data() {
    return {
      backendUrl: process.env.backendUrl,
      icons: {
        close:
          '<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      }
    }
  },
  mounted() {
    this.fetchMyCart()
  },
  computed: {
    ...mapState({
      cart: (state) => state.cart
    }),
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    },
    getSum() {
      let sum = 0
      for (const item of this.cart) {
        sum += this.getPrice(item.product) * item.qty
      }
      this.$emit('final-sum', this.round(sum))
      return this.round(sum)
    }
  },
  methods: {
    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    },
    round(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100
    },
    gotoProduct(slug) {
      this.$router.push({ path: `/prekes/${slug}` })
    },
    checkIfDiscount(product) {
      if (!product.discount) return product.price * 1.21
      return (product.price - (product.price * product.discount) / 100) * 1.21
    },
    getPrice(product) {
      return parseFloat(this.checkIfDiscount(product)).toFixed(2)
    },
    getImageUrl(image) {
      return `${this.backendUrl}/storage/app/media/${image}`
    },
    gotoBasket() {
      this.$router.push({ path: '/krepselis' })
    },
    emitHover() {
      this.$emit('set-hover', 'basket')
    },
    clearHover() {
      this.$emit('clear-hover')
    },
    async fetchMyCart() {
      const result = await this.$axios.$post('/api/fetchMyCart', {
        user_cookie: this.checkCookie
      })
      this.$store.commit('setCart', result.cart)
      if (!result.user && this.$auth.user) {
        this.$auth.logout()
        this.$notify({
          group: 'all',
          type: 'success',
          text: 'Jūsų sesija baigėsi. Prisijunkite iš naujo'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-menu {
  position: absolute;
  line-height: 1.4em;
  text-align: left;
  padding: 15px;
  box-shadow: -1px 0px 5px 0px rgba(122, 122, 122, 0.3);
  z-index: 1000000000;
  top: 100%;
  left: -60px;
  width: 300px;
  height: auto;
  background: #fff;
  font-size: 12px;
  .scroll {
    max-height: 350px;
    overflow-y: auto;
  }
  .title {
    color: #333;
  }
  .description {
    margin-top: 8px;
    color: #898989;
    font-weight: bold;
    .col-xs-3 {
      padding: 0;
    }
  }
}
.product-item {
  margin: 10px 0;
  position: relative;
  .descr {
    width: 60%;
  }
  .image {
    img {
      max-height: 50px;
      max-width: 100%;
    }
  }
}
.close {
  position: absolute;
  right: 0;
  top: 0;
}
.total-sum {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
  margin: 20px 0;
  border-top: 1px solid rgba(122, 122, 122, 0.1);
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
}
</style>
