<template>
  <div @mouseover="emitHover" @mouseleave="clearHover" class="dropdown-menu">
    <div
      @click.stop.prevent="gotoProduct(favourite.products.slug)"
      :key="favourite.id"
      v-for="favourite of favourites"
      class="product-item row col-xs-12 no-padding"
    >
      <div
        v-if="favourite.products && favourite.products.image"
        class="image col-xs-3 no-padding"
      >
        <img :src="getImageUrl(favourite.products.image)" />
      </div>
      <div v-if="favourite.products" class="descr col-xs-9">
        <div class="title col-xs-12 no-padding">
          {{ favourite.products.name }}
        </div>
        <div class="row description">
          <div class="col-xs-3">Kaina:<br /></div>
          <div class="col-xs">
            {{ getPrice(favourite.products.price) }} EUR<br />
          </div>
        </div>
      </div>
      <!-- <div class="col-xs-1 close">
        <div v-html="icons['close']"></div>
      </div> -->
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    hoverItem: {
      type: String
    }
  },
  data() {
    return {
      backendUrl: process.env.backendUrl,
      icons: {
        close:
          '<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      }
    }
  },
  components: {},
  mounted() {
    this.getFavourites()
  },
  computed: {
    ...mapState({
      favourites: (state) => state.favourites
    }),
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    }
  },
  methods: {
    async getFavourites() {
      const result = await this.$axios.$post('api/getFavourites', {
        user_cookie: this.checkCookie
      })
      this.$store.commit('setFavourites', result.favourites)
    },
    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    },
    getImageUrl(image) {
      return `${this.backendUrl}/storage/app/media/${image}`
    },
    getPrice(price) {
      return parseInt(price) + '.00'
    },
    gotoProduct(slug) {
      this.$router.push({ path: `/prekes/${slug}` })
    },
    emitHover() {
      this.$emit('set-hover', 'basket')
    },
    clearHover() {
      this.$emit('clear-hover')
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-menu {
  position: absolute;
  line-height: 1.4em;
  text-align: left;
  padding: 15px;
  box-shadow: -1px 0px 5px 0px rgba(122, 122, 122, 0.3);
  z-index: 1000000;
  top: 100%;
  left: -60px;
  width: 300px;
  height: auto;
  background: #fff;
  font-size: 12px;
  max-height: 400px;
  overflow-y: scroll;
  .title {
    color: #333;
  }
  .description {
    margin-top: 8px;
    color: #898989;
    font-weight: bold;
    .col-xs-3 {
      padding: 0;
    }
  }
}
.product-item {
  margin: 10px 0;
  position: relative;
  .descr {
    width: 60%;
  }
  .image {
    img {
      max-width: 90%;
      max-height: 60px;
    }
  }
}
.close {
  position: absolute;
  right: 0;
  top: 0;
}
.total-sum {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
  margin: 20px 0;
  border-top: 1px solid rgba(122, 122, 122, 0.1);
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
}
</style>
