<template>
  <div class="dropdown-menu" @mouseover="emitHover" @blur="clearHover">
    <div v-if="!$auth.user">
      <div
        style="display: none"
        class="row center-xs col-xs-12 no-margin no-padding"
      >
        <div
          class="social-button facebook col-xs-6 no-margin between-xs middle-xs center-xs"
        >
          <div>Facebook</div>
        </div>
        <div
          class="social-button google col-xs-6 no-margin between-xs middle-xs center-xs"
          @click="authWithGoogle()"
        >
          <div>Google</div>
        </div>
      </div>
      <div class="col-xs-12 pass-login no-padding">
        <label>El. pašto adresas</label>
        <input v-model="login.username" type="text" name="email" />
        <label>Slaptažodis</label>
        <input
          v-model="login.password"
          type="password"
          name="password"
          @keyup.enter="userLogin"
        />
        <!-- <div style="margin-bottom:20px; font-weight:300">
          <small>Pamiršote slaptažodį?</small>
        </div> -->
        <mainButton
          class="active bigger-text no-hover"
          text="prisijungti"
          @on-click="userLogin"
        />
      </div>
      <div class="col-xs-12 pass-login no-padding no-margin">
        <div style="margin-bottom: 5px" class="col-xs-12 no-padding">
          <label>Nesate užsiregistravę?</label>
        </div>
        <mainButton
          class="active bigger-text no-hover"
          text="registruotis"
          @on-click="showRegisterModal"
        />
      </div>
      <div style="margin: 1em 0; text-align: center">
        <div
          style="
            text-align: center;
            line-height: 0em;
            padding: 3px 1em;
            display: flex;
            justify-content: center;
            align-items: center;
          "
          @click="loginWithGoogle"
        >
          Prisijungti su
          <img
            style="width: 50px; margin-top: 0px; margin-left: 5px"
            src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg"
            alt=""
          />
        </div>
        <!-- <div
          class="hidden"
          @click="loginWithFacebook"
          style="text-align:center; padding:0 1em;"
        >
          Prisijungti su
          <img
            style="width:70px"
            src="https://upload.wikimedia.org/wikipedia/commons/8/89/Facebook_Logo_%282019%29.svg"
            alt=""
          />
        </div> -->
      </div>
    </div>
    <div v-else>
      <div class="col-xs-12 pass-login no-padding no-margin">
        <div style="margin-bottom: 5px" class="col-xs-12 no-padding">
          <label>Prisijungęs kaip: {{ $auth.user.email }}</label>
        </div>
        <div class="user-menu-items">
          <div
            class="col-xs-12 user-menu-items--item"
            @click="openUrl('paskyra')"
          >
            Mano paskyra
          </div>
          <!-- <div
            @click="openUrl('uzsakymu-istorija')"
            class="col-xs-12 user-menu-items--item"
          >
            Užsakymų istorija
          </div> -->
        </div>
        <mainButton
          class="active bigger-text no-hover"
          text="atsijungti"
          @on-click="userLogout"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { Button } from 'element-ui'
import mainButton from '~/components/mainButton'
Vue.component(Button.name, Button)

export default {
  components: { mainButton },
  props: {
    hoverItem: {
      type: String
    }
  },
  data() {
    return {
      login: {
        username: '',
        password: ''
      },
      icons: {
        facebook:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>'
      }
    }
  },
  computed: {
    fromTop() {
      const menuElement = document.querySelector('.secondary-menu')
      const bounding = menuElement.getBoundingClientRect()
      return bounding.height - 20
    }
  },
  mounted() {
    console.log('this.$auth', this.$auth)
  },
  methods: {
    loginWithGoogle() {
      this.$auth.loginWith('google')
    },
    loginWithFacebook() {
      this.$auth.loginWith('facebook')
    },
    showRegisterModal() {
      this.clearHover()
      this.$emit('show-reg')
    },
    notify() {
      this.$notify({
        group: 'all',
        type: 'success',
        duration: 5000,
        title: 'Important message',
        text: 'Hello user! This is a notification!'
      })
    },
    async userLogout() {
      await this.$auth.logout().then((response) =>
        this.$notify({
          group: 'all',
          type: 'success',
          duration: 2000,
          title: 'Sėkmingai atsijungta'
        })
      )
    },
    async userLogin() {
      try {
        await this.$auth
          .loginWith('local', {
            data: this.login
          })
          .then((response) => {
            this.$auth.setUser(response.data.user)
            setTimeout(
              function () {
                this.$emit('user-logged-in')
              }.bind(this),
              100
            )
          })
      } catch (err) {
        this.$notify({
          group: 'all',
          type: 'error',
          duration: 2000,
          title: 'Neteisingas el. pašto adresas arba slaptažodis'
        })
      }
    },
    authWithGoogle() {
      this.$auth.loginWith('google')
    },
    emitHover() {
      this.$emit('set-hover', 'user')
    },
    openUrl(url) {
      this.$router.push({ path: `/${url}` })
    },
    clearHover() {
      this.$emit('clear-hover')
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-menu {
  position: absolute;
  line-height: 1.4em;
  text-align: left;
  padding: 15px;
  box-shadow: -1px 0px 5px 0px rgba(122, 122, 122, 0.3);
  z-index: 1000000;
  top: 100%;
  left: -60px;
  width: 300px;
  height: auto;
  background: #fff;
  font-size: 12px;
  max-height: 400px;
  overflow-y: auto;
}
.social-button {
  text-transform: uppercase;
  color: #25aae1;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 40px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  line-height: 1.2em;
}
.user-menu-items {
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0;
  &--item {
    padding: 8px 0;
    padding-left: 0;
    border-bottom: 1px solid #e9e8e8;
    &:hover {
      color: #25aae1;
      transition: 0.3s all ease;
      border-bottom: 1px solid #25aae1;
    }
  }
}
.facebook {
  background: #0b88ef;
  color: #fff;
}
.google {
  background: #ea4335;
  color: #fff;
}
.pass-login {
  margin: 20px 0;
  label {
    font-size: 14px;
    font-weight: 300;
  }
  input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    color: #333;
  }
}
</style>
