<template>
  <div class="main-poolservice-container gray-bg">
    <pageHeader />
    <div class="container">
      <svg
        :style="{
          transform: 'translateY(' + scrollPercent * 1.5 * 580 + 'px)'
        }"
        height="400px"
        class="circle2"
      >
        <circle
          cx="160"
          cy="140"
          r="120"
          stroke="#fdfdfd"
          stroke-width="30"
          fill="none"
        />
      </svg>
      <svg
        :style="{
          transform: 'translateY(' + scrollPercent * 4.5 * 330 + 'px)'
        }"
        class="circle4"
      >
        <circle
          cx="160"
          cy="80"
          r="60"
          stroke="#dbdbdb"
          stroke-width="20"
          fill="none"
        />
      </svg>
      <svg
        :style="{
          transform: 'translateY(-' + scrollPercent * 2.5 * 420 + 'px)'
        }"
        height="400px"
        class="circle3 z-0"
      >
        <circle
          cx="160"
          cy="140"
          r="120"
          stroke="#fdfdfd"
          stroke-width="30"
          fill="none"
        />
      </svg>
      <topProductBlock />

      <productCatalogWithFilters
        :products="products"
        @fetch-new-products="getProducts"
      />
    </div>
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import checkView from 'vue-check-view'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
import topProductBlock from '~/components/products/topProductBlock'
import productCatalogWithFilters from '~/components/products/productCatalogWithFilters'
Vue.use(checkView)

export default {
  components: {
    pageHeader,
    footerBlock,
    topProductBlock,
    productCatalogWithFilters
  },
  data() {
    return {
      scrollPercent: null,
      show: false
    }
  },
  computed: {
    ...mapState({
      products: (state) => state.products,
      sortDir: (state) => state.sortDir,
      searchVars: (state) => state.searchVars,
      currentPage: (state) => state.currentPage,
      children: (state) => state.children,
      getProductsTrigger: (state) => state.getProductsTrigger
    })
  },
  watch: {
    getProductsTrigger() {
      this.getProducts()
    }
  },
  mounted() {
    this.loadProducts()
  },
  methods: {
    async loadProducts() {
      if (window.location.search) {
        const products = await this.$axios.$get(
          `/api/getProducts/${window.location.search}`
        )
        this.$store.commit('setProducts', products.products)
        this.$store.commit('setFavourites', products.favourites)
        this.$store.commit('setCurrentCat', this.getUrlVars().cat)
        return
      }
      this.getProducts()
    },
    getUrlVars() {
      let vars = {}
      let parts = window.location.href.replace(
        /[?&]+([^=&]+)=([^&]*)/gi,
        function (m, key, value) {
          vars[key] = value
        }
      )
      return vars
    },
    viewHandler(e) {
      this.scrollPercent = e.scrollPercent
    },
    setCurrentPath(url) {
      window.history.pushState({}, 'some', url)
    },
    getAllFiltersToUrl(url, filterValues) {
      let urlString = ''
      for (const filterKey in filterValues) {
        urlString += '&' + filterKey + '=' + filterValues[filterKey]
      }
      return url + urlString
    },
    async getProducts(filterValues) {
      let url = `?page=${this.currentPage}`
      if (this.searchVars && this.searchVars.category) {
        url += `&cat=${this.searchVars.category}`
      }
      if (this.searchVars && this.searchVars.search_string) {
        url += `&search_string=${this.searchVars.search_string}`
      }
      if (this.searchVars && this.searchVars.manufacturer) {
        url += `&manufacturer=${this.searchVars.manufacturer}`
      }
      if (this.searchVars && this.searchVars.sort) {
        url += `&sort=${this.searchVars.sort}`
      } else if (this.searchVars && !this.searchVars.sort) {
        url += `&sort=viewed`
      }
      url += `&sort_dir=${this.sortDir}`
      if (filterValues && !this.searchVars.search_string) {
        url = await this.getAllFiltersToUrl(url, filterValues)
        let urlToChange = this.getAllFiltersToUrl(url, filterValues)
        this.setCurrentPath(urlToChange)
      }
      url = '/api/getProducts' + url
      const products = await this.$axios.$get(url)
      this.$store.commit('setProducts', products.products)
      this.$store.commit('setFavourites', products.favourites)

      if (products.max_price) {
        this.$store.commit('setMaxPrice', parseInt(products.filters.max_price))
      }
      this.$store.commit('setFilters', products.filters)

      if (products.children && products.children.length) {
        this.$store.commit('setCatChildren', products.children)
      }
      this.show = true
    }
  }
}
</script>

<style lang="scss">
.circle {
  position: absolute;
  top: 45%;
  right: -160px;
  z-index: 1;
  user-select: none;
}
.circle2 {
  position: absolute;
  z-index: 0;
  right: -100px;
  top: 60%;
  user-select: none;
}
.circle3 {
  position: absolute;
  top: 85%;
  left: -160px;
  z-index: -1;
  user-select: none;
}
.circle4 {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: 90%;
}
.container {
  margin: 0 auto;
}
.main-categories-container--category {
  svg {
    fill: #e9c520;
  }
  &.hover {
    transition: all 0.3s ease;
    &:hover,
    .active {
      svg {
        fill: #fff !important;
      }
    }
  }
}
.heart-icon {
  &:hover,
  &.active {
    svg {
      fill: #f13d3d;
    }
  }
}
@media only screen and (max-width: 800px) {
  .circle,
  .circle2,
  .circle3,
  .circle4 {
    display: none;
  }
}
</style>
