<template>
  <div
    v-if="featuredProducts"
    class="row featured-products between-xs col-xs-12"
  >
    <product
      class="featured-products--product"
      :style="{
        marginBottom: k == 0 ? '38px' : 0
      }"
      :key="productContent.id"
      :productInfo="productContent"
      v-for="(productContent, k) of featuredProducts"
    />
  </div>
</template>

<script>
import anime from 'animejs'
import product from '~/components/product'

export default {
  props: {},
  components: { product },
  data() {
    return {
      icons: {},
      featuredProducts: null
    }
  },
  mounted() {
    this.getManufacturers()
  },
  watch: {
    featuredProducts() {
      setTimeout(
        function() {
          this.animateAppear()
        }.bind(this),
        100
      )
    }
  },
  computed: {},
  methods: {
    animateAppear() {
      anime({
        targets: '.featured-products .single-product',
        scale: [1.2, 1],
        opacity: [0, 1],
        duration: 800,
        easing: 'easeOutQuart',
        delay(el, i) {
          return 25 * (i + 5)
        }
      })
    },
    async getManufacturers() {
      this.featuredProducts = await this.$axios.$get('/api/getFeaturedProducts')
    }
  }
}
</script>

<style lang="scss" scoped>
.featured-products {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  &--product {
    margin: 0px;
    width: 100%;
    position: relative;
    height: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .featured-products {
    margin: 0;
    &.margin-top {
      margin-top: 40px;
    }
    &--product {
      margin: 0 15px;
      width: 45%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .featured-products {
    &--product {
      width: 100%;
    }
  }
}
</style>
