<template>
  <div class="products-catalog row top-xs center-xs no-margin">
    <div class="row top-xs products-catalog--filters col-lg-3 col-xs-12">
      <card title="Gamintojai">
        <div slot="content" class="categories border-spread flex center-items">
          <el-select
            class="mx-auto"
            v-model="manufacturer"
            clearable
            :placeholder="'Pasirinkite gamintoją'"
          >
            <el-option
              v-for="item in filterMakers"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </div>
      </card>
      <card
        v-if="children"
        :title="parentCat ? parentCat.name : null"
        style="margin-top: 20px; cursor: pointer"
      >
        <div slot="content" class="categories border-spread">
          <div class="all-categories row start-xs">
            <div
              v-if="parentCat.id"
              class="row col-xs-12 products-catalog--label between-xs middle-xs start-xs"
              @click.stop.prevent="goCatStepBack"
            >
              <div
                style="font-weight: 450"
                class="col-xs-10 row middle-xs start-xs no-margin no-padding"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#999"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevrons-left"
                >
                  <polyline points="11 17 6 12 11 7" />
                  <polyline points="18 17 13 12 18 7" />
                </svg>
                Atgal
              </div>
            </div>
            <div
              v-for="cat of children"
              :key="cat.code"
              :class="{
                active: searchVars.category == cat.id
              }"
              class="row col-xs-12 products-catalog--label between-xs middle-xs start-xs"
              @click.stop.prevent="openSubCategory(cat.id)"
            >
              <div class="col-xs-10 row start-xs no-margin no-padding">
                {{ cat.name }}
              </div>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#c6c6c6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-right"
              >
                <polyline points="9 18 15 12 9 6" />
              </svg>
            </div>
          </div>
        </div>
      </card>

      <sections v-if="filters" style="width: 100%" class="product-filters">
        <card
          v-for="(filter, key) in activeFilters"
          :key="key"
          style="margin-top: 20px"
          :title="filter.title"
        >
          <div slot="content" style="margin: 0 1em; padding-bottom: 10px">
            <vue-slider
              v-if="filter.type == 'slider'"
              v-model="filterValues[key]"
              tooltip="always"
              :tooltip-placement="'bottom'"
              :min="filter.min"
              :max="filter.max"
              :drag-on-click="true"
              @drag-end="priceDragEnd"
            />
            <el-select
              v-else-if="filter.type == 'dropdown'"
              v-model="filterValues[key]"
              clearable
              :placeholder="filter.placeholder ? filter.placeholder : null"
              @change="fetchNewProducts(1)"
            >
              <el-option
                v-for="(item, key1) in filter.values"
                :key="key1"
                :label="item"
                :value="item"
              />
            </el-select>
          </div>
        </card>
      </sections>

      <div
        style="margin: 15px 0; cursor: pointer"
        class="col-xs-12 row no-padding"
        @click="clearFilters"
      >
        <div class="col-xs-1 close no-padding">
          <div v-html="icons['close']" />
        </div>
        <div style="font-size: 14px">Išvalyti filtrus</div>
      </div>
    </div>
    <div
      class="row products-catalog--products start-xs col-xs no-padding"
      style="margin-left: 10px"
    >
      <div
        v-if="products && products.data"
        class="row no-margin no-padding"
        style="width: 100%; margin-right: -80px !important"
      >
        <productBreadcrumbs class="w-full mb-4" v-if="currentCatID" />

        <topFiltersAndInfo
          v-if="products && products.total"
          :total="products.total"
          :page="products.current_page"
          :per_page="products.per_page"
          @fetch-new="fetchNewProducts"
        />

        <div
          v-for="product in products.data"
          :key="product.id"
          style="margin-bottom: 30px"
          class="col-lg-4 col-sm-6 col-xs-12"
        >
          <product :product-info="product" />
        </div>

        <pagination
          v-if="products && products.data.length"
          class="col-xs-12"
          :limit="1"
          :data="products"
          @pagination-change-page="fetchNewProducts"
        />

        <notFound v-else @clear-filters="clearFilters" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import anime from 'animejs'
import { mapState } from 'vuex'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'
import topFiltersAndInfo from '~/components/products/topFiltersAndInfo'
import productBreadcrumbs from '~/components/products/productBreadcrumbs'
// import paginateLinks from '~/components/paginateLinks'
import product from '~/components/product'
import card from '~/components/card'
import notFound from '~/components/404'
Vue.component('Pagination', require('laravel-vue-pagination'))

export default {
  components: {
    VueSlider,
    topFiltersAndInfo,
    productBreadcrumbs,
    product,
    card,
    notFound
  },
  props: {},
  data() {
    return {
      min: 100,
      max: 17000,
      showSlider: false,
      icons: {
        close:
          '<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      },
      filterValues: {},
      scrollPercent: 0,
      processStyle: {
        backgroundColor: '#f15967'
      },
      tooltipStyles: {
        backgroundColor: '#f15967',
        borderColor: '#f15967'
      },
      filterMakers: [],
      manufacturer: null
    }
  },
  computed: {
    ...mapState({
      filters: (state) => state.filters,
      sortDir: (state) => state.sortDir,
      currentCatID: (state) => state.currentCatID,
      getProductsTrigger: (state) => state.getProductsTrigger,
      products: (state) => state.products,
      searchCats: (state) => state.searchCats,
      searchVars: (state) => state.searchVars,
      children: (state) => state.children,
      parentCat: (state) => state.parentCat,
      minPrice: (state) => state.minPrice,
      maxPrice: (state) => state.maxPrice,
      subcatToOpen: (state) => state.subcatToOpen
    }),
    galiaExists() {
      return true
    },
    activeFilters() {
      if (!this.filters) return
      const returnArray = {}
      for (const item in this.filters) {
        if (!this.filters[item].show) continue
        if (this.filters[item].max < this.filters[item].current_max)
          this.$store.commit('normalizeMax', item)
        this.$set(returnArray, item, this.filters[item])
      }
      return returnArray
    },
    categories() {
      if (!this.searchCats) return
      return this.searchCats.filter((element) => !element.main)
    },
    mainCats() {
      if (!this.searchCats) return
      return this.searchCats.filter((element) => element.main)
    }
  },
  watch: {
    products() {
      setTimeout(
        function () {
          this.animateAppear()
        }.bind(this),
        500
      )
      if (!this.children || (this.children && !this.children.length)) {
        this.loadMainCats()
      }
    },
    searchVars() {
      this.fetchNewProducts()
    },
    getProductsTrigger(val) {
      if (!this.currentCatID) {
        this.loadMainCats()
        return
      }
      this.openSubCategory(this.currentCatID)
    },
    filters(val) {
      this.updateFilterValues()
    },
    maxPrice(val) {
      if (val < this.price[1]) this.price[1] = val
      this.max = val + 2000
      this.updateSlider()
    },
    price(val) {
      this.$store.commit('setSearchVar', ['price', val])
    },
    manufacturer(val) {
      this.$store.commit('setSearchVar', ['manufacturer', val])
      this.fetchNewProducts()
    }
  },
  mounted() {
    this.getManufacturers()
    this.min = 0
    this.checkSubcatToOpen()
    setTimeout(
      function () {
        this.animateScroll(160)
        // this.price[0] = this.minPrice
        this.showSlider = true
      }.bind(this),
      1000
    )
  },
  methods: {
    updateFilterValues(forceClear) {
      this.filterValues = {}
      for (const filterKey in this.filters) {
        if (this.filters[filterKey].type === 'dropdown') {
          if (
            !this.filters[filterKey].current_val ||
            this.filters[filterKey].current_val === 'undefined'
          )
            continue
          this.$set(
            this.filterValues,
            this.filters[filterKey].code,
            this.filters[filterKey].current_val
          )
          continue
        }
        this.$set(this.filterValues, this.filters[filterKey].code, [
          parseFloat(
            forceClear
              ? this.filters[filterKey].min
              : this.filters[filterKey].current_min ||
                  this.filters[filterKey].min ||
                  0
          ),
          parseFloat(
            forceClear
              ? this.filters[filterKey].max
              : this.filters[filterKey].current_max ||
                  this.filters[filterKey].max
          )
        ])
      }
    },
    checkSubcatToOpen() {
      if (this.subcatToOpen) {
        this.openSubCategory(this.subcatToOpen.id)
        this.$store.commit('setSubcatToOpen', null)
      }
    },
    priceDragEnd(val) {
      this.$emit('fetch-new-products', this.filterValues)
    },
    updateSlider($event) {
      this.showSlider = false
      this.$nextTick(() => {
        this.showSlider = true
        this.$nextTick(() => {})
      })
    },
    goCatStepBack() {
      const found = this.searchCats.find(
        (element) => element.id === this.parentCat.id
      )
      if (found && found.main) {
        this.clearFilters()
        // this.$store.commit('setCatChildren', this.mainCats)
        // this.$store.commit('setParentCategory', {
        //   name: 'Šakinės kategorijos',
        //   id: null
        // })
        // this.fetchNewProducts()
        return
      }
      for (const directory of this.searchCats) {
        if (directory.id === this.parentCat.id) {
          this.loadCatList(directory, this.searchCats)
          return
        } else if (directory.children) {
          for (const subdir of directory.children) {
            if (subdir.id === this.parentCat.id) {
              this.loadCatList(subdir, directory.children)
              return
            }
            if (subdir.children) {
              for (const subdirsubdir of subdir.children) {
                if (subdirsubdir.id === this.parentCat.id) {
                  this.loadCatList(subdirsubdir, subdirsubdir.children)
                  return
                }
              }
            }
          }
        }
      }
    },
    loadMainCats() {
      this.$store.commit('setCatChildren', this.mainCats)
      this.$store.commit('setParentCategory', {
        name: 'Šakinės kategorijos',
        id: null
      })
    },
    loadCatList(cat, list) {
      if (cat && cat.id) {
        this.$store.commit('setParentCategory', cat.parent)
        this.$store.commit('setCatChildren', list)
        this.$store.commit('setSearchVar', ['category', cat.id])
        this.fetchNewProducts()
      }
    },
    async getCategories() {
      const result = await this.$axios.$get(`/api/getMainCats`)
      this.$store.commit('setSearchCats', result.categories)
    },
    openSubCategory(catID) {
      this.price = [0, 20000]
      this.manufacturer = null
      this.filterValues = {}

      this.$store.commit('setSearchVars', {})
      this.$store.commit('setCurrentCat', catID)

      for (const directory of this.searchCats) {
        if (directory.id === catID) {
          this.loadCatListChildren(directory)
          return
        } else if (directory.children) {
          for (const subdir of directory.children) {
            if (subdir.id === catID) {
              this.loadCatListChildren(subdir)
              return
            }
            if (subdir.children) {
              for (const subdirdir of subdir.children) {
                if (subdirdir.id === catID) {
                  this.loadCatListChildren(subdirdir)
                  return
                }
              }
            }
          }
        }
      }
      this.loadCatListWithout({ id: catID })
    },
    loadCatListWithout(found) {
      this.$store.commit('setSearchVar', ['category', found.id])
      this.fetchNewProducts()
    },
    loadCatListChildren(found) {
      if (found && found.children) {
        this.$store.commit('setParentCategory', found)
        this.$store.commit('setCatChildren', found.children)
      }
      this.$store.commit('setSearchVar', ['category', found.id])
      this.fetchNewProducts()
    },
    clearFilters() {
      this.$store.commit('setSearchVars', {})
      this.$store.commit('setCurrentCat', {})
      this.price = [0, 20000]
      this.manufacturer = null
      this.filterValues = {}
      this.loadMainCats()
      this.fetchNewProducts()
    },
    async getManufacturers() {
      this.filterMakers = await this.$axios.$get('/api/getAllManufacturers')
    },
    fetchNewProducts(page = 1) {
      this.$store.commit('setCurrentPage', page)
      this.$emit('fetch-new-products', this.filterValues)
      setTimeout(
        function () {
          this.animateScroll()
        }.bind(this),
        200
      )
    },
    animateScroll(margin = 80) {
      const element = document.querySelector('.products-catalog--products')
      const coord = element.getBoundingClientRect()
      if (!coord) return
      window.scrollBy({
        top: coord.top - margin,
        left: 0,
        behavior: 'smooth'
      })
    },
    animateAppear() {
      anime({
        targets: '.products-catalog--products .single-product',
        translateY: [20, 0],
        opacity: [0, 1],
        duration: 800,
        elasticity: 5000,
        easing: 'easeOutQuart',
        delay(el, i) {
          return 35 * (i + 5)
        }
      })
    }
  }
}
</script>

<style lang="scss">
.el-select-dropdown__item {
  text-transform: capitalize !important;
}
.products-catalog {
  position: relative;
  .categories {
    padding: 20px 0;
  }
  .all-categories {
    padding-left: 0px;
    margin: 0 20px;
  }
  &--filters {
    padding-right: 0;
    margin-left: 0px;
    padding-right: 17px;
  }
  &--label {
    text-align: left;
    margin: 10px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    border-bottom: 1px solid #f0efef;
    padding: 10px 0;
    margin-top: 0;
    padding-top: 0;
    &.active {
      font-weight: bold;
    }
    svg {
      transition: 0.5s all ease;
    }
    &:hover,
    &.active {
      transition: 0.1s all ease;
      svg {
        transform: translateX(5px);
        transition: 0.5s all ease;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.vue-slider {
  padding: 10px 10px 30px 10px !important;
}
.vue-slider-dot-tooltip-inner {
  background: transparent !important;
  color: #333;
  &::after {
    display: none;
  }
}
.vue-slider-dot-handle {
  box-shadow: none;
  background-color: #333;
}
.vue-slider-process {
  background-color: #25aae1;
}
.pagination {
  margin: 5px 0 15px 0;
  display: inline-flex;
  padding-left: 16px;
  .page-item {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    background: transparent;
    color: #333;
    width: 35px;
    height: 35px;
    margin: 10px 4px;
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 500;
    min-width: 25px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    user-select: none;
    &:first-child {
      margin-left: 0;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    &.active {
      background: #25a9e0;
      border: 1px solid #25a9e0;
      a {
        color: #fff;
      }
    }
  }
  .sr-only {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .products-catalog {
    .categories {
    }
    .all-categories {
    }
    &--filters {
      margin-left: 0;
      padding-right: 0;
    }
  }
}
@media only screen and (max-width: 400px) {
  .pagination-prev-nav,
  .pagination-next-nav {
    display: none;
  }
}
</style>
