<template>
  <nav v-if="searchCats" class="flex" aria-label="Breadcrumb">
    <ol class="flex items-center space-x-4">
      <li>
        <div @click="clearFilters">
          <a href="#" class="text-gray-400 hover:text-gray-500">
            <div v-html="homeIcon" aria-hidden="true" />
            <span class="sr-only">Visos</span>
          </a>
        </div>
      </li>
      <li v-if="currentCat && currentCat.parent && parentOfParentCat">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 h-5 w-5 text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a
            @click="gotoCat(parentOfParentCat.id)"
            class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer"
          >
            {{ parentOfParentCat.name }}
          </a>
        </div>
      </li>
      <li v-if="currentCat && currentCat.parent && currentCat.parent.parent">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 h-5 w-5 text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a
            @click="gotoCat(currentCat.parent.id)"
            class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer"
          >
            {{ currentCat.parent.name }}
          </a>
        </div>
      </li>
      <li v-if="currentCat && currentCat.parent">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 h-5 w-5 text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a
            @click="gotoCat(currentCat.parent.id)"
            class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer"
          >
            {{ currentCat.parent.name }}
          </a>
        </div>
      </li>
      <li v-if="currentCat">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 h-5 w-5 text-gray-300"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a
            class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 font-bold"
          >
            {{ currentCat.name }}
          </a>
        </div>
      </li>
    </ol>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    isInnerProduct: {
      type: Boolean,
      default: false
    },
    catId: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      homeIcon:
        '<svg class="flex-shrink-0 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /> </svg>',
      pages: [
        { name: 'Projects', href: '#', current: false },
        { name: 'Project Nero', href: '#', current: true }
      ]
    }
  },
  computed: {
    ...mapState({
      searchCats: (state) => state.searchCats,
      searchVars: (state) => state.searchVars,
      currentCatID: (state) => state.currentCatID
    }),
    parentOfParentCat() {
      for (let cat of this.searchCats) {
        if (cat.id == this.currentCat.parent.id) {
          return cat.parent
        }
        if (cat.children) {
          for (let subcat of cat.children) {
            if (subcat.id == this.currentCat.parent.id) {
              return subcat.parent
            }
          }
        }
      }
      return true
    },
    currentCat() {
      for (let cat of this.searchCats) {
        if (cat.id == this.currentCatID) {
          return cat
        }
        if (cat.children) {
          for (let subcat of cat.children) {
            if (subcat.id == this.currentCatID) {
              return subcat
            }
            if (subcat.children) {
              for (let subsubcat of subcat.children) {
                if (subsubcat.id == this.currentCatID) {
                  return subsubcat
                }
                if (subsubcat.children) {
                  for (let subsubcatcat of subcat.children) {
                    if (subsubcatcat.id == this.currentCatID) {
                      return subsubcat
                    }
                  }
                }
              }
            }
          }
        }
      }
      return true
    }
  },
  mounted() {
    console.log('this.searchCats', this.searchCats)
  },
  methods: {
    gotoCat(catID) {
      this.$store.commit('setSearchVar', ['category', catID])
      this.fetchNewProducts(catID)
      if (this.isInnerProduct) {
        setTimeout(() => {
          alert(catID)

          this.$router.push('/prekes')
        }, 3000)
      }
    },
    animateScroll(margin = 80) {
      const element = document.querySelector('.products-catalog--products')
      const coord = element.getBoundingClientRect()
      if (!coord) return
      window.scrollBy({
        top: coord.top - margin,
        left: 0,
        behavior: 'smooth'
      })
    },
    clearFilters() {
      this.$store.commit('setSearchVars', {})
      this.$store.commit('setCurrentCat', {})
      this.fetchNewProducts()
    },
    fetchNewProducts(catID) {
      this.$store.commit('setCurrentCat', catID)
      this.$store.commit('setCurrentPage', 1)
      this.$store.commit('triggerDownloadProducts')
      setTimeout(
        function () {
          this.animateScroll()
        }.bind(this),
        200
      )
    }
  }
}
</script>
