<template>
  <div v-if="total" class="top-filters-block col-xs-12 row middle-xs">
    <div
      class="top-filters-block--generic-info col-lg-6 col-xs-12 start-lg center-xs no-padding"
    >
      Rodoma {{ total >= 15 ? per_page : total }} iš {{ total }} prekių
      <span v-if="page">(Puslapis: {{ page }})</span>
    </div>
    <div
      class="top-filters-block--filters col-lg-6 col-xs-12 end-lg center-xs no-padding"
    >
      <el-row>
        Rūšiuoti pagal:
        <el-select
          v-model="value"
          :placeholder="filterOptions[0].label"
          style="margin-left:5px"
        >
          <el-option
            v-for="item in filterOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
        <el-button
          type="plain"
          :icon="sortDir ? 'el-icon-top' : 'el-icon-bottom'"
          @click="changeSortDir"
        />
      </el-row>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import { Row, Select, Button, Option } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
Vue.component(Select.name, Select)
Vue.component(Option.name, Option)
Vue.component(Button.name, Button)
Vue.component(Row.name, Row)

export default {
  components: {},
  props: {
    total: {
      type: Number,
      default: 0
    },
    page: {
      type: Number,
      default: 1
    },
    perPage: {
      type: Number,
      default: 15
    }
  },
  data() {
    return {
      icons: {},
      value: ''
    }
  },
  computed: {
    ...mapState({
      sortDir: (state) => state.sortDir
    }),
    filterOptions() {
      return [
        {
          value: 'viewed',
          label: 'Populiarumą'
        },
        {
          value: 'price',
          label: 'Prekės kainą'
        },
        {
          value: 'updated_at',
          label: 'Įkėlimo datą'
        }
      ]
    }
  },
  watch: {
    value(val) {
      this.$store.commit('setSearchVar', ['sort', val])
      this.$emit('fetch-new')
    }
  },
  methods: {
    changeSortDir() {
      this.$store.commit('sortDirChange')
      this.$emit('fetch-new')
    }
  }
}
</script>

<style lang="scss">
.top-filters-block {
  margin: 15px 0;
  font-size: 14px;
  font-weight: 500;
  &--generic-info {
    text-align: left;
  }
  &--filters {
    text-align: right;
  }
}
@media only screen and (max-width: 950px) {
  .top-filters-block {
    &--generic-info {
      text-align: center;
      margin-bottom: 20px;
    }
    &--filters {
      text-align: center;
    }
  }
}
</style>
