<template>
  <div class="top-products-block row top-xs center-xs no-margin">
    <div class="featured-products col-lg-3 col-xs-12">
      <featuredProducts />
    </div>
    <div
      style="background-image: url('/katalogas.jpg')"
      class="search-and-cat col-xs row bottom-xs"
    >
      <div class="row start-lg col-xs-12 center-xs">
        <div class="kategorijos">
          Geriausi produktai visose kategorijose
        </div>
        <search class="hollow" />
      </div>
    </div>
  </div>
</template>

<script>
import featuredProducts from '~/components/products/featuredProducts'
import search from '~/components/header/search'

export default {
  components: { featuredProducts, search },
  props: {},
  data() {
    return {
      icons: {}
    }
  }
}
</script>

<style lang="scss" scoped>
.top-products-block {
  padding: 50px 0 25px 0;
}
.search-and-cat {
  height: 620px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 100%;
  margin-left: 10px;
  z-index: 1;
  background-size: cover;
}
.kategorijos {
  font-size: 48px;
  color: #fff;
  text-align: left;
  font-weight: 450;
  padding: 20px 8px;
}
@media only screen and (max-width: 600px) {
  .top-products-block {
    padding: 50px 0 25px 0;
  }
  .search-and-cat {
    height: 240px;
    width: 90%;
  }
  .kategorijos {
    font-size: 28px;
    width: 90%;
  }
}
</style>
