<template>
  <div class="generic-page-container gray-bg between-xs">
    <pageHeader />

    <circles :inview="infoInView" />

    <moon-loader
      v-if="loading"
      :loading="true"
      :color="'#25AAE1'"
      class="row middle-xs center-xs loader"
    />

    <div
      v-view="viewHandler"
      v-if="content && !loading"
      class="container"
      style="z-index: 1"
    >
      <div class="generic-title col-xs-12 start-xs no-padding">
        {{ content.title }}
      </div>
      <div
        v-if="content.type === 'contacts'"
        class="contacts-container--content row"
      >
        <div class="col-lg-3 col-xs-12 no-padding" v-html="content.text"></div>
        <div class="no-padding col-lg-offset-1 col-lg col-xs-12">
          <GmapMap
            :center="{ lat: 54.680208, lng: 25.2635359 }"
            :zoom="15"
            :options="mapStyle"
            map-type-id="terrain"
            class="col-xs border-spread-more"
            style="height: 500px; margin-bottom: 50px"
          >
            <GmapMarker
              :key="index"
              :position="{ lat: 54.6803, lng: 25.265778 }"
              :clickable="true"
              :draggable="false"
              :icon="{ url: '/icon.png' }"
              @click="openGoogleMaps"
            />
          </GmapMap>
        </div>
      </div>
      <div
        v-else
        v-html="content.text"
        class="flex-row col-xs-12 no-margin generic-page-container--content"
      ></div>
    </div>
    <contactsForm />
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import checkView from 'vue-check-view'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import circles from '~/components/circles'
import * as VueGoogleMaps from '~/node_modules/vue2-google-maps'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
import contactsForm from '~/components/contactsForm'
Vue.use(checkView)

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyC_smxJuOToM-y2w60424LpZRKWpZjR1LU',
    libraries: 'places',
    region: 'LT',
    language: 'lt'
  },
  installComponents: true
})

export default {
  components: {
    pageHeader,
    MoonLoader,
    circles,
    footerBlock,
    contactsForm
  },
  data() {
    return {
      content: null,
      loading: true,
      infoInView: null,
      mapStyle: {
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        disableDefaultUI: true,
        styles: [
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [
              {
                color: '#e9e9e9'
              },
              {
                lightness: 17
              }
            ]
          },
          {
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5'
              },
              {
                lightness: 20
              }
            ]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 17
              }
            ]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 29
              },
              {
                weight: 0.2
              }
            ]
          },
          {
            featureType: 'road.arterial',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 18
              }
            ]
          },
          {
            featureType: 'road.local',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 16
              }
            ]
          },
          {
            featureType: 'poi',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5'
              },
              {
                lightness: 21
              }
            ]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [
              {
                color: '#dedede'
              },
              {
                lightness: 21
              }
            ]
          },
          {
            elementType: 'labels.text.stroke',
            stylers: [
              {
                visibility: 'on'
              },
              {
                color: '#ffffff'
              },
              {
                lightness: 16
              }
            ]
          },
          {
            elementType: 'labels.text.fill',
            stylers: [
              {
                saturation: 36
              },
              {
                color: '#333333'
              },
              {
                lightness: 40
              }
            ]
          },
          {
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f2f2f2'
              },
              {
                lightness: 19
              }
            ]
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#fefefe'
              },
              {
                lightness: 20
              }
            ]
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#fefefe'
              },
              {
                lightness: 17
              },
              {
                weight: 1.2
              }
            ]
          }
        ]
      }
    }
  },
  mounted() {
    this.getContent()
  },
  methods: {
    viewHandler(e) {
      this.infoInView = e.percentInView
    },
    openGoogleMaps() {
      window.open(
        'https://www.google.com/maps/place/%C5%A0vitrigailos+g.+3,+Vilnius+03110/@54.6790159,25.2556945,15z/data=!4m5!3m4!1s0x46dd947329ebc60d:0xe239c8ead51c1e6e!8m2!3d54.680208!4d25.2657299',
        '_blank'
      )
    },
    async getContent() {
      const ip = await this.$axios.$get(
        `/api/getContactsPage/${this.$route.params.slug}`
      )
      this.loading = false
      this.content = ip.page
    }
  }
}
</script>

<style lang="scss" scoped>
.generic-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .loader {
    min-height: 500px;
  }
  .generic-title {
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0 30px 0;
  }
  &--content {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px !important;
    > div {
      padding-left: 0;
    }
  }
}
.border-spread-more {
  box-shadow: 3px 3px 15px 5px rgba(122, 122, 122, 0.2);
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 10px;
  }
  .generic-page-container {
    margin: 10px 0;
    .generic-title {
      font-size: 36px;
      font-weight: 500;
      padding: 0 20px !important;
      margin: 10px 0 10px 0 !important;
    }
    &--content {
      font-size: 16px;
      padding: 0 15px;
      width: 100vw;
      padding-bottom: 30px !important;
    }
  }
  .contacts-container--content {
    padding: 0 20px;
  }
}
</style>
