<template>
  <div class="row col-xs no-margin" style="padding-right: 0">
    <h2>Prekių, atitinkančių jūsų paiešką, nerasta</h2>
    <div
      @click="clearFilters"
      class="row col-xs-12 font-bold underline mt-2"
      style="cursor: pointer; margin-left: -1rem"
    >
      Išvalyti filtrus
    </div>
    <svg
      style="z-index: 1"
      width="100%"
      height="auto"
      viewBox="0 0 1440 1024"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="1440" height="1024" fill="" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M721.026 820.857L835 810.357L818.5 839.357L850.616 857.471C851.866 858.176 852.642 859.496 852.651 860.931C852.664 863.14 850.884 864.942 848.675 864.955C812.025 865.177 785.047 865.203 767.739 865.035C748.145 864.845 731.958 864.475 719.179 863.926L721.026 820.857ZM400.5 719.857L430.5 791.857L392.697 805.751L353.294 854.815C352.429 855.892 351.069 856.447 349.697 856.281C347.503 856.017 345.94 854.025 346.204 851.832L360.155 735.966L400.5 719.857Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M836.605 537.357L946.222 605.249C971.502 620.907 979.76 653.823 964.863 679.559L879.605 826.857L707.5 826.82L874.105 658.357L741.105 608.857L622 684.142L453.605 849.357L387 689.547L548.105 629.857L638.105 573.857L677.605 526.857L836.605 537.357Z"
        fill="white"
      />
      <path
        d="M874.111 658.811L709.191 825.571L879.068 825.607L964.109 678.683C978.802 653.298 970.657 620.831 945.722 605.387L836.264 537.593L677.83 527.131L638.497 573.931L548.396 629.994L548.26 630.061L387.887 689.479L453.766 847.546L621.369 683.107L621.494 683.008L740.913 607.525L873.753 656.965L877.414 652.389C877.673 652.065 878.145 652.013 878.468 652.272C878.792 652.53 878.844 653.002 878.586 653.326L875.233 657.516L875.349 657.559L875.192 657.718L878.397 659.721C878.749 659.941 878.855 660.404 878.636 660.755C878.416 661.106 877.954 661.213 877.602 660.993L874.111 658.811ZM637.502 572.784L637.426 572.875L637.604 572.721L637.502 572.784ZM637.502 572.784L677.17 525.584L836.736 536.121L946.511 604.111C972.137 619.982 980.507 653.347 965.407 679.435L879.932 827.107L705.599 827.07L872.65 658.155L741.087 609.19L622.363 684.234L453.234 850.169L385.902 688.615L547.668 628.68L637.502 572.784ZM547.668 628.68L547.604 628.721L547.739 628.654L547.668 628.68Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M731 380.857L806.088 381.729L879.434 388.763L1038 398.857L997.5 214.857L1064 215.357C1102.01 356.213 1121.08 428.821 1121.23 433.18C1122.08 458.571 1102.18 479.844 1076.79 480.694L856 464.357L835.5 533.357L736 528.857L731 380.857Z"
        fill="white"
      />
      <path
        d="M836.545 534.157L730.248 525.046L730.753 380.099L731.509 380.108L806.66 380.983L879.982 388.015L1037.55 398.046L997.065 214.101L1065.08 214.612L1065.22 215.162C1103.35 356.474 1122.33 428.698 1122.48 433.155C1123.34 458.96 1103.12 480.58 1077.24 481.443L857.047 465.15L836.545 534.157ZM731.752 523.669L835.455 532.558L855.953 463.565L856.555 463.61L1077.27 479.945C1102.24 479.108 1121.81 458.182 1120.98 433.205C1120.83 428.95 1101.71 356.144 1063.92 216.103L998.935 215.615L1039.45 399.669L1038.45 399.606L879.862 389.51L806.58 382.479L732.247 381.616L731.752 523.669Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M788 535.357L836.654 536.669L839.259 526.169L788 524.357V535.357Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M537.5 296.857L467.183 532.442C462.602 547.789 470.884 564.027 485.997 569.33L516 579.857L668 478.357L668.105 380.857L598 408.357L637 296.857L610 231.857L581.5 245.857L537.5 296.857Z"
        fill="white"
      />
      <path
        d="M638.452 296.107H537.336L466.859 532.227C462.164 547.958 470.653 564.603 486.143 570.038L516.5 580.689L669.144 478.759L669.251 379.757L599.642 407.062L638.452 296.107ZM538.453 297.607H636.338L597.147 409.652L667.749 381.958L667.645 477.956L516.29 579.026L486.64 568.622C471.905 563.452 463.83 547.62 468.296 532.656L538.453 297.607Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M640 322.858L634.554 346.178L523 317.858L528.048 293.858L640 322.858Z"
        fill="white"
      />
      <path
        d="M640.696 322.261L634.648 346.518L522.093 318.455L528.141 294.198L640.696 322.261ZM638.877 323.353L529.234 296.016L523.912 317.363L633.555 344.7L638.877 323.353Z"
        fill="#002D6F"
      />
      <path
        d="M535.063 308.806C534.228 312.155 536.266 315.547 539.615 316.382C542.965 317.217 546.357 315.179 547.192 311.83C548.027 308.481 545.989 305.089 542.64 304.254C539.29 303.419 535.898 305.457 535.063 308.806ZM536.519 309.169C537.153 306.623 539.731 305.074 542.277 305.709C544.822 306.344 546.371 308.922 545.736 311.467C545.102 314.013 542.524 315.562 539.978 314.927C537.433 314.292 535.884 311.714 536.519 309.169Z"
        fill="#002D6F"
      />
      <path
        d="M785.025 515.811L765.073 514.415C760.666 514.107 756.843 517.43 756.535 521.838L755.558 535.804C755.25 540.211 758.573 544.034 762.981 544.342L782.932 545.738C787.339 546.046 791.162 542.723 791.47 538.315L792.447 524.349C792.755 519.942 789.432 516.119 785.025 515.811Z"
        fill="white"
      />
      <path
        d="M765.071 514.197L785.022 515.592C789.43 515.9 792.753 519.723 792.445 524.13L791.468 538.096C791.16 542.504 787.337 545.827 782.929 545.519L762.978 544.124C758.571 543.815 755.247 539.993 755.556 535.585L756.532 521.619C756.84 517.212 760.663 513.889 765.071 514.197ZM764.966 515.693C761.385 515.443 758.279 518.143 758.029 521.724L757.052 535.69C756.802 539.271 759.502 542.377 763.083 542.627L783.034 544.022C786.615 544.273 789.721 541.573 789.972 537.992L790.948 524.026C791.199 520.445 788.499 517.339 784.917 517.088L764.966 515.693Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M666.067 713.527L667.016 299.857H667.961V297.795H495V244.377L667.105 91.8574H730.983V244.377H780V297.795H730.983V299.857H731V742.857H730.983V864.377H780V917.795H730.983V957.857H667.961V917.795H495V864.377L666.067 713.527ZM562.105 864.357H667.105L666.605 776.857L562.105 864.357ZM562 244.857H667L666.605 156.857L562 244.857Z"
        fill="#EEF5FF"
      />
      <path
        d="M665.713 713.188L666.66 299.856C666.661 299.442 666.997 299.107 667.41 299.107H667.605V298.545H495.395C494.981 298.545 494.645 298.209 494.645 297.795V244.377C494.645 244.163 494.737 243.958 494.897 243.816L667.003 91.2961C667.14 91.1745 667.317 91.1074 667.5 91.1074H731.378C731.792 91.1074 732.128 91.4432 732.128 91.8574V243.627H780.395C780.809 243.627 781.145 243.963 781.145 244.377V297.795C781.145 298.209 780.809 298.545 780.395 298.545H732.128V299.697C732.139 299.749 732.145 299.802 732.145 299.857V742.857C732.145 742.912 732.139 742.966 732.128 743.018V863.627H780.395C780.809 863.627 781.145 863.963 781.145 864.377V917.795C781.145 918.209 780.809 918.545 780.395 918.545H732.128V957.857C732.128 958.272 731.792 958.607 731.378 958.607H668.355C667.941 958.607 667.605 958.272 667.605 957.857V918.545H495.395C494.981 918.545 494.645 918.209 494.645 917.795V864.377C494.645 864.162 494.737 863.957 494.899 863.815L665.713 713.188ZM667.605 299.107H668.355L667.605 299.857V299.107ZM667.212 713.529C667.212 713.744 667.119 713.948 666.958 714.09L496.145 864.716V917.045H668.355C668.77 917.045 669.105 917.38 669.105 917.795V957.107H730.628V917.795C730.628 917.38 730.963 917.045 731.378 917.045H779.645V865.127H731.378C730.963 865.127 730.628 864.792 730.628 864.377V742.857C730.628 742.802 730.634 742.749 730.645 742.697V300.018C730.634 299.966 730.628 299.912 730.628 299.857V297.795C730.628 297.38 730.963 297.045 731.378 297.045H779.645V245.127H731.378C730.963 245.127 730.628 244.792 730.628 244.377V92.6074H667.785L496.145 244.715V297.045H668.355C668.77 297.045 669.105 297.38 669.105 297.795V299.857C669.105 300.272 668.77 300.607 668.355 300.607H668.159L667.212 713.529ZM562.5 865.107C561.799 865.107 561.481 864.232 562.019 863.782L666.519 776.282C667.005 775.875 667.746 776.218 667.75 776.853L668.25 864.353C668.252 864.769 667.916 865.107 667.5 865.107H562.5ZM666.746 863.607L666.259 778.456L564.564 863.607H666.746ZM562.395 245.607C561.695 245.607 561.376 244.734 561.912 244.283L666.517 156.284C667.004 155.874 667.747 156.218 667.75 156.854L668.145 244.854C668.147 245.27 667.81 245.607 667.395 245.607H562.395ZM666.641 244.107L666.257 158.462L564.451 244.107H666.641Z"
        fill="#002D6F"
      />
      <path
        d="M637.5 650.857C540.878 650.857 495 606.057 495 524.507C495 443.307 540.878 398.857 637.5 398.857C733.774 398.857 780 443.657 780 524.507C780 605.707 733.774 650.857 637.5 650.857ZM637 597.857C692.643 597.857 718 570.264 718 524.508C718 479.101 692.643 451.857 637 451.857C581.357 451.857 556 478.752 556 524.508C556 570.613 581.357 597.857 637 597.857Z"
        fill="#EEF5FF"
      />
      <path
        d="M637.895 651.607C542.59 651.607 494.645 608.047 494.645 524.507C494.645 441.363 542.549 398.107 637.895 398.107C732.878 398.107 781.145 441.7 781.145 524.507C781.145 607.71 732.839 651.607 637.895 651.607ZM637.895 650.107C732.04 650.107 779.645 606.848 779.645 524.507C779.645 442.564 732.082 399.607 637.895 399.607C543.345 399.607 496.145 442.228 496.145 524.507C496.145 607.185 543.388 650.107 637.895 650.107ZM637.395 598.607C583.07 598.607 555.645 572.668 555.645 524.508C555.645 476.745 583.037 451.107 637.395 451.107C691.617 451.107 719.145 476.962 719.145 524.508C719.145 572.451 691.586 598.607 637.395 598.607ZM637.395 597.107C690.774 597.107 717.645 571.605 717.645 524.508C717.645 477.813 690.809 452.607 637.395 452.607C583.844 452.607 557.145 477.597 557.145 524.508C557.145 571.82 583.881 597.107 637.395 597.107Z"
        fill="#002D6F"
      />
      <path
        d="M545.114 629.356C511.36 608.551 495 573.036 495 524.507C495 475.743 511.662 440.233 546.048 419.645L575.588 471.067C562.325 483.509 556 501.656 556 524.508C556 546.781 561.918 564.653 574.309 577.177L545.114 629.356ZM729.886 629.356L700.691 577.177C713.082 564.653 719 546.781 719 524.508C719 501.656 712.675 483.509 699.412 471.067L728.952 419.645C763.338 440.233 780 475.743 780 524.507C780 573.036 763.64 608.551 729.886 629.356Z"
        fill="#002D6F"
      />
      <path
        d="M539.638 530.556C538.807 536.795 533.466 541.608 527 541.608C520.534 541.608 515.193 536.795 514.362 530.556L513.53 531.388C513.237 531.681 512.763 531.681 512.47 531.388C512.177 531.095 512.177 530.62 512.47 530.327L515 527.797L517.53 530.327C517.823 530.62 517.823 531.095 517.53 531.388C517.237 531.681 516.763 531.681 516.47 531.388L515.925 530.843C516.82 535.87 521.053 539.741 526.25 540.083V518.548C526.09 518.523 525.93 518.489 525.771 518.446C523.237 517.767 521.733 515.162 522.412 512.628C523.091 510.094 525.695 508.591 528.229 509.269C530.763 509.948 532.267 512.553 531.588 515.087C531.088 516.954 529.542 518.262 527.75 518.549V540.083C532.947 539.741 537.18 535.87 538.075 530.843L537.53 531.388C537.237 531.681 536.763 531.681 536.47 531.388C536.177 531.095 536.177 530.62 536.47 530.327L539 527.797L541.53 530.327C541.823 530.62 541.823 531.095 541.53 531.388C541.237 531.681 540.763 531.681 540.47 531.388L539.638 530.556ZM526.159 516.997C527.893 517.461 529.675 516.433 530.139 514.699C530.604 512.965 529.575 511.183 527.841 510.718C526.107 510.254 524.325 511.283 523.861 513.016C523.396 514.75 524.425 516.532 526.159 516.997Z"
        fill="white"
      />
      <path
        d="M748.75 540.083V518.548C748.91 518.523 749.07 518.489 749.229 518.446C751.763 517.767 753.267 515.162 752.588 512.628C751.909 510.094 749.305 508.591 746.771 509.269C744.237 509.948 742.733 512.553 743.412 515.087C743.912 516.954 745.458 518.262 747.25 518.549V540.083C742.053 539.741 737.82 535.87 736.925 530.843L737.47 531.388C737.763 531.681 738.237 531.681 738.53 531.388C738.823 531.095 738.823 530.62 738.53 530.327L736 527.797L733.47 530.327C733.177 530.62 733.177 531.095 733.47 531.388C733.763 531.681 734.237 531.681 734.53 531.388L735.362 530.556C736.193 536.795 741.534 541.608 748 541.608C754.466 541.608 759.807 536.795 760.638 530.556L761.47 531.388C761.763 531.681 762.237 531.681 762.53 531.388C762.823 531.095 762.823 530.62 762.53 530.327L760 527.797L757.47 530.327C757.177 530.62 757.177 531.095 757.47 531.388C757.763 531.681 758.237 531.681 758.53 531.388L759.075 530.843C758.18 535.87 753.947 539.741 748.75 540.083ZM748.841 516.997C747.107 517.461 745.325 516.433 744.861 514.699C744.396 512.965 745.425 511.183 747.159 510.718C748.893 510.254 750.675 511.283 751.139 513.016C751.604 514.75 750.575 516.532 748.841 516.997Z"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M942 231.857L875.576 244.592C882.834 252.614 892.108 256.829 903.397 257.237C914.686 257.645 930.127 256.342 949.719 253.327L942 231.857Z"
        fill="white"
      />
      <path
        d="M925.691 233.012L925.322 231.558L873.996 244.579L874.832 245.503C882.228 253.676 891.693 257.979 903.182 258.394C914.526 258.804 930.01 257.497 949.645 254.476L949.417 252.993C929.867 256.001 914.47 257.301 903.236 256.895C892.587 256.51 883.788 252.688 876.801 245.415L925.691 233.012Z"
        fill="#002D6F"
      />
      <mask
        id="mask0"
        mask-type="alpha"
        maskUnits="userSpaceOnUse"
        x="748"
        y="214"
        width="139"
        height="167"
      >
        <path
          d="M806.5 380.857L816.5 340.857L835.278 343.482C851.151 345.701 866.218 335.834 870.529 320.397L885.472 266.885C891.562 245.075 878.819 222.458 857.01 216.368C853.42 215.366 849.71 214.857 845.982 214.857H812.336C800.061 214.857 789.33 223.138 786.218 235.013L748 380.857H806.5Z"
          fill="white"
        />
      </mask>
      <g mask="url(#mask0)">
        <path
          d="M806.5 380.857L816.5 340.857L835.278 343.482C851.151 345.701 866.218 335.834 870.529 320.397L885.472 266.885C891.562 245.075 878.819 222.458 857.01 216.368C853.42 215.366 849.71 214.857 845.982 214.857H812.336C800.061 214.857 789.33 223.138 786.218 235.013L748 380.857H806.5Z"
          fill="white"
        />
        <mask
          id="mask1"
          mask-type="alpha"
          maskUnits="userSpaceOnUse"
          x="748"
          y="214"
          width="139"
          height="167"
        >
          <path
            d="M806.5 380.857L816.5 340.857L835.278 343.482C851.151 345.701 866.218 335.834 870.529 320.397L885.472 266.885C891.562 245.075 878.819 222.458 857.01 216.368C853.42 215.366 849.71 214.857 845.982 214.857H812.336C800.061 214.857 789.33 223.138 786.218 235.013L748 380.857H806.5Z"
            fill="white"
          />
        </mask>
        <g mask="url(#mask1)">
          <path
            d="M806.5 380.857L816.5 340.857L835.278 343.482C851.151 345.701 866.218 335.834 870.529 320.397L885.472 266.885C891.562 245.075 878.819 222.458 857.01 216.368C853.42 215.366 849.71 214.857 845.982 214.857H812.336C800.061 214.857 789.33 223.138 786.218 235.013L748 380.857H806.5Z"
            fill="white"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M878.864 274.498L884 273.857L883.33 284.223C883.23 285.757 881.907 286.92 880.373 286.82C880.303 286.816 880.234 286.809 880.165 286.799C878.524 286.569 877.381 285.052 877.612 283.411L878.864 274.498Z"
            fill="#002D6F"
          />
        </g>
        <path
          d="M835.174 344.225C851.42 346.496 866.839 336.398 871.251 320.599L886.194 267.086C892.396 244.878 879.42 221.847 857.211 215.646C853.556 214.625 849.778 214.107 845.983 214.107H812.337C799.72 214.107 788.691 222.618 785.493 234.823L747.028 381.607H807.086L817.064 341.694L835.174 344.225ZM805.915 380.107H748.972L786.944 235.203C789.969 223.658 800.402 215.607 812.337 215.607H845.983C849.642 215.607 853.284 216.106 856.808 217.091C878.218 223.069 890.728 245.273 884.749 266.683L869.806 320.195C865.597 335.271 850.883 344.906 835.382 342.739L815.936 340.021L805.915 380.107Z"
          fill="#002D6F"
        />
      </g>
      <mask
        id="mask2"
        mask-type="alpha"
        maskUnits="userSpaceOnUse"
        x="759"
        y="214"
        width="93"
        height="84"
      >
        <path
          d="M825.983 268.841L823.126 265.983C816.961 259.818 806.984 259.762 800.75 265.857C794.822 271.654 794.715 281.159 800.511 287.087C800.676 287.255 800.844 287.419 801.016 287.579L803.048 289.471C792.307 294.094 777.624 296.889 759 297.857L785.529 230.107C789.13 220.909 797.999 214.857 807.877 214.857H851.5C842.24 238.857 833.734 256.852 825.983 268.841Z"
          fill="white"
        />
      </mask>
      <g mask="url(#mask2)">
        <path
          d="M825.983 268.841L823.126 265.983C816.961 259.818 806.984 259.762 800.75 265.857C794.822 271.654 794.715 281.159 800.511 287.087C800.676 287.255 800.844 287.419 801.016 287.579L803.048 289.471C792.307 294.094 777.624 296.889 759 297.857L785.529 230.107C789.13 220.909 797.999 214.857 807.877 214.857H851.5C842.24 238.857 833.734 256.852 825.983 268.841Z"
          fill="#002D6F"
        />
      </g>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M812 194.357L838 173.357L856.5 194.357"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M788 194.357C788 194.357 793.5 201.191 804.5 214.857H861L881 194.357C819 194.357 788 194.357 788 194.357Z"
        fill="white"
      />
      <path
        d="M837.912 174.892L855.937 195.353L857.063 194.361L838.088 172.822L811.529 194.274L812.471 195.441L837.912 174.892Z"
        fill="#002D6F"
      />
      <path
        d="M787.416 195.328L803.916 215.828C804.058 216.005 804.273 216.107 804.5 216.107H861C861.202 216.107 861.396 216.026 861.537 215.881L881.537 195.381C882 194.906 881.664 194.107 881 194.107H788C787.37 194.107 787.021 194.837 787.416 195.328ZM879.22 195.607L860.684 214.607H804.859L789.566 195.607H879.22Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M876 275.857L877.5 309.857L862 298.357"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M752.5 357.857H789.605L790.605 381.444L804.105 357.857H816.5L808.5 381.857L745 381.357L752.5 357.857Z"
        fill="white"
      />
      <path
        d="M857.737 273.824L856.553 282.246C856.323 283.886 854.806 285.029 853.165 284.799C851.524 284.568 850.381 283.051 850.612 281.411L851.833 272.722L836.362 269.833C835.955 269.757 835.687 269.365 835.763 268.958C835.839 268.551 836.231 268.283 836.638 268.359L862.138 273.12C862.545 273.196 862.813 273.588 862.737 273.995C862.661 274.402 862.27 274.671 861.862 274.595L857.737 273.824ZM876.113 274.616L883.858 273.121C884.265 273.042 884.658 273.308 884.737 273.715C884.815 274.122 884.549 274.515 884.142 274.594L876.78 276.015L878.249 309.324C878.277 309.955 877.56 310.336 877.053 309.96L874.757 308.256L877.5 317.857C874.042 316.914 871.24 314.381 869.954 311.036L869.5 309.857C863.269 312.809 856.39 314.127 849.51 313.688L836.5 312.857L863.846 300.161L861.553 298.46C861.221 298.213 861.151 297.743 861.398 297.41C861.645 297.078 862.114 297.008 862.447 297.255L876.681 307.816L875.251 275.39C875.233 274.977 875.553 274.626 875.967 274.608C876.017 274.606 876.066 274.609 876.113 274.616Z"
        fill="#002D6F"
      />
      <path
        d="M790.968 382.469L780.525 419.846C780.414 420.245 780 420.478 779.601 420.367C779.202 420.255 778.969 419.842 779.08 419.443L789.414 382.457L744.994 382.107C744.489 382.103 744.132 381.611 744.286 381.129L751.786 357.629C751.885 357.318 752.174 357.107 752.5 357.107H789.605C790.007 357.107 790.338 357.424 790.355 357.826L791.245 378.817L803.454 357.485C803.588 357.251 803.836 357.107 804.105 357.107H816.5C817.012 357.107 817.373 357.609 817.212 358.095L809.212 382.095C809.109 382.403 808.819 382.61 808.494 382.607L790.968 382.469ZM746.024 380.615L789.834 380.96L788.886 358.607H753.048L746.024 380.615ZM807.961 381.103L815.459 358.607H804.54L791.737 380.975L807.961 381.103Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M884.703 244.857H943.5C946.5 258.191 958.167 264.857 978.5 264.857C982.517 264.857 987.49 263.394 993.417 260.466L1008.5 260.357V214.857H851C852.995 231.96 867.484 244.857 884.703 244.857Z"
        fill="white"
      />
      <path
        d="M978.395 265.607C982.509 265.607 987.535 264.138 993.489 261.214L1009.14 261.102V214.107H850.052L850.15 214.944C852.189 232.425 866.999 245.607 884.598 245.607H942.801C946.098 258.948 958.043 265.607 978.395 265.607ZM1007.64 215.607V259.613L993.134 259.717L992.979 259.793C987.147 262.674 982.28 264.107 978.395 264.107C958.376 264.107 947.037 257.628 944.127 244.693L943.995 244.107H884.598C868.042 244.107 854.066 231.914 851.748 215.607H1007.64Z"
        fill="#002D6F"
      />
      <path
        d="M850.459 215.468C860.04 222.312 871.504 222.312 884.737 215.525L884.053 214.19C871.286 220.737 860.417 220.737 851.331 214.247L850.459 215.468Z"
        fill="#002D6F"
      />
      <path d="M1032 212.857H1008V303.857H1032V212.857Z" fill="white" />
      <path
        d="M1007.39 212.857H1032.39V303.857H1007.39V212.857ZM1008.89 302.357H1030.89V214.357H1008.89V302.357Z"
        fill="#002D6F"
      />
      <path
        d="M1019.89 293.607C1023.35 293.607 1026.14 290.809 1026.14 287.357C1026.14 283.906 1023.35 281.107 1019.89 281.107C1016.44 281.107 1013.64 283.906 1013.64 287.357C1013.64 290.809 1016.44 293.607 1019.89 293.607ZM1019.89 292.107C1017.27 292.107 1015.14 289.981 1015.14 287.357C1015.14 284.734 1017.27 282.607 1019.89 282.607C1022.52 282.607 1024.64 284.734 1024.64 287.357C1024.64 289.981 1022.52 292.107 1019.89 292.107Z"
        fill="#002D6F"
      />
      <path
        d="M731.498 243.607L495.998 244.107L496.001 245.607L731.501 245.107L731.498 243.607Z"
        fill="#002D6F"
      />
      <path
        d="M731.5 297.357L667.395 298.357"
        stroke="#002D6F"
        stroke-width="1.5"
      />
      <path
        d="M710.75 918.607H689.25V956.857C689.25 957.272 688.914 957.607 688.5 957.607C688.086 957.607 687.75 957.272 687.75 956.857V918.607H668V917.107H732V918.607H712.25V956.857C712.25 957.272 711.914 957.607 711.5 957.607C711.086 957.607 710.75 957.272 710.75 956.857V918.607Z"
        fill="#002D6F"
      />
      <path
        d="M779.803 863.607H496C495.586 863.607 495.25 863.943 495.25 864.357C495.25 864.772 495.586 865.107 496 865.107H779.803C780.217 865.107 780.553 864.772 780.553 864.357C780.553 863.943 780.217 863.607 779.803 863.607Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M613 229.857H621C625.418 229.857 629 233.439 629 237.857V295.857C629 302.485 623.627 307.857 617 307.857C610.373 307.857 605 302.485 605 295.857V237.857C605 233.439 608.582 229.857 613 229.857Z"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M637 229.857H645C649.418 229.857 653 233.439 653 237.857V295.857C653 302.485 647.627 307.857 641 307.857C634.373 307.857 629 302.485 629 295.857V237.857C629 233.439 632.582 229.857 637 229.857Z"
        fill="white"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M661 229.857H669C673.418 229.857 677 233.439 677 237.857V295.857C677 302.485 671.627 307.857 665 307.857C658.373 307.857 653 302.485 653 295.857V237.857C653 233.439 656.582 229.857 661 229.857Z"
        fill="white"
      />
      <path
        d="M652.895 298.869C651.377 304.063 646.579 307.857 640.895 307.857C635.21 307.857 630.412 304.063 628.895 298.869C627.377 304.063 622.579 307.857 616.895 307.857C609.991 307.857 604.395 302.261 604.395 295.357V237.857C604.395 233.439 607.976 229.857 612.395 229.857H621.395C624.832 229.857 627.762 232.025 628.895 235.067C630.027 232.025 632.958 229.857 636.395 229.857H645.395C648.832 229.857 651.762 232.025 652.895 235.067C654.027 232.025 656.958 229.857 660.395 229.857H669.395C673.813 229.857 677.395 233.439 677.395 237.857V295.357C677.395 302.261 671.798 307.857 664.895 307.857C659.21 307.857 654.412 304.063 652.895 298.869ZM612.395 231.357C608.805 231.357 605.895 234.268 605.895 237.857V295.357C605.895 301.433 610.82 306.357 616.895 306.357C622.97 306.357 627.895 301.433 627.895 295.357V237.857C627.895 234.268 624.985 231.357 621.395 231.357H612.395ZM636.395 231.357C632.805 231.357 629.895 234.268 629.895 237.857V295.357C629.895 301.433 634.82 306.357 640.895 306.357C646.97 306.357 651.895 301.433 651.895 295.357V237.857C651.895 234.268 648.985 231.357 645.395 231.357H636.395ZM660.395 231.357C656.805 231.357 653.895 234.268 653.895 237.857V295.357C653.895 301.433 658.82 306.357 664.895 306.357C670.97 306.357 675.895 301.433 675.895 295.357V237.857C675.895 234.268 672.985 231.357 669.395 231.357H660.395Z"
        fill="#002D6F"
      />
      <path
        d="M607.042 231.695L583.542 244.195L584.247 245.52L607.747 233.02L607.042 231.695Z"
        fill="#002D6F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M540.818 417.98C543.688 416.323 547.357 417.306 549.014 420.176L577.514 469.539C579.171 472.409 578.188 476.079 575.318 477.735C572.448 479.392 568.779 478.409 567.122 475.539L538.622 426.176C536.965 423.306 537.948 419.637 540.818 417.98ZM540.818 632.101C538.426 630.721 537.607 627.663 538.988 625.271L568.488 574.176C569.868 571.784 572.926 570.965 575.318 572.346C577.709 573.726 578.529 576.784 577.148 579.176L547.648 630.271C546.267 632.663 543.209 633.482 540.818 632.101ZM734.136 418.096C736.767 419.614 737.668 422.978 736.149 425.609L708.149 474.106C706.63 476.737 703.267 477.638 700.636 476.119C698.005 474.601 697.104 471.237 698.623 468.606L726.623 420.109C728.142 417.478 731.505 416.577 734.136 418.096ZM734.069 630.869C731.199 632.526 727.53 631.543 725.873 628.673L697.873 580.176C696.216 577.306 697.199 573.637 700.069 571.98C702.939 570.323 706.608 571.306 708.265 574.176L736.265 622.673C737.922 625.543 736.939 629.213 734.069 630.869Z"
        fill="white"
      />
      <path
        d="M541 417.547C544.109 415.752 548.084 416.817 549.879 419.926L578.379 469.289C580.174 472.398 579.109 476.374 576 478.168C572.891 479.963 568.916 478.898 567.121 475.789L538.621 426.426C536.826 423.317 537.891 419.342 541 417.547ZM539.92 425.676L568.42 475.039C569.8 477.431 572.858 478.25 575.25 476.869C577.641 475.489 578.461 472.431 577.08 470.039L548.58 420.676C547.199 418.284 544.141 417.465 541.75 418.846C539.358 420.226 538.539 423.284 539.92 425.676ZM541 632.168C537.891 630.374 536.826 626.398 538.621 623.289L567.121 573.926C568.916 570.817 572.891 569.752 576 571.547C579.109 573.342 580.174 577.317 578.379 580.426L549.879 629.789C548.084 632.898 544.109 633.963 541 632.168ZM541.75 630.869C544.141 632.25 547.199 631.431 548.58 629.039L577.08 579.676C578.461 577.284 577.641 574.226 575.25 572.846C572.858 571.465 569.8 572.284 568.42 574.676L539.92 624.039C538.539 626.431 539.358 629.489 541.75 630.869ZM735.251 417.547C738.36 419.342 739.425 423.317 737.63 426.426L709.13 475.789C707.335 478.898 703.36 479.963 700.251 478.168C697.142 476.374 696.077 472.398 697.872 469.289L726.372 419.926C728.167 416.817 732.142 415.752 735.251 417.547ZM727.671 420.676L699.171 470.039C697.79 472.431 698.609 475.489 701.001 476.869C703.392 478.25 706.45 477.431 707.831 475.039L736.331 425.676C737.712 423.284 736.892 420.226 734.501 418.846C732.109 417.465 729.052 418.284 727.671 420.676ZM735.251 632.168C732.142 633.963 728.167 632.898 726.372 629.789L697.872 580.426C696.077 577.317 697.142 573.342 700.251 571.547C703.36 569.752 707.335 570.817 709.13 573.926L737.63 623.289C739.425 626.398 738.36 630.374 735.251 632.168ZM734.501 630.869C736.892 629.489 737.712 626.431 736.331 624.039L707.831 574.676C706.45 572.284 703.392 571.465 701.001 572.846C698.609 574.226 697.79 577.284 699.171 579.676L727.671 629.039C729.052 631.431 732.109 632.25 734.501 630.869Z"
        fill="#002D6F"
      />
      <path
        d="M608.017 294.901C607.716 295.186 607.242 295.174 606.956 294.874C606.671 294.574 606.683 294.099 606.983 293.814C613.95 287.195 620.449 287.195 626.074 293.874C626.34 294.191 626.3 294.664 625.983 294.931C625.666 295.198 625.193 295.157 624.926 294.841C619.884 288.853 614.383 288.853 608.017 294.901ZM632.517 294.901C632.216 295.186 631.742 295.174 631.456 294.874C631.171 294.574 631.183 294.099 631.483 293.814C638.45 287.195 644.949 287.195 650.574 293.874C650.84 294.191 650.8 294.664 650.483 294.931C650.166 295.198 649.693 295.157 649.426 294.841C644.384 288.853 638.883 288.853 632.517 294.901ZM656.517 294.901C656.216 295.186 655.742 295.174 655.456 294.874C655.171 294.574 655.183 294.099 655.483 293.814C662.45 287.195 668.949 287.195 674.574 293.874C674.84 294.191 674.8 294.664 674.483 294.931C674.166 295.198 673.693 295.157 673.426 294.841C668.384 288.853 662.883 288.853 656.517 294.901Z"
        fill="#002D6F"
      />
      <path
        d="M666.5 713.357L666.947 779.857"
        stroke="#002D6F"
        stroke-width="1.5"
        stroke-linejoin="round"
      />
      <path
        d="M666.645 92.3531L668.145 92.3622L667.75 157.362L666.25 157.353L666.645 92.3531ZM687.75 91.1077C687.75 90.6935 688.086 91.6077 688.5 91.6077C688.914 91.6077 689.25 91.9435 689.25 92.3577L689 244.358C689 244.772 688.914 244.858 688.5 244.858C688.086 244.858 687.5 244.772 687.5 244.358L687.75 91.1077ZM711.25 92.3577C711.25 91.9435 711.586 91.6077 712 91.6077C712.414 91.6077 712.75 91.9435 712.75 92.3577L712.5 244.358C712.5 244.772 712.164 245.108 711.75 245.108C711.336 245.108 711 244.772 711 244.358L711.25 92.3577Z"
        fill="#002D6F"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    }
  },
  components: {},
  data() {
    return {
      icons: {}
    }
  },
  computed: {
    image() {
      return {}
    }
  },
  methods: {
    clearFilters() {
      this.$emit('clear-filters')
    }
  }
}
</script>

<style lang="scss" scoped></style>
