<template>
  <div class="col-xs-12 no-padding start-xs card-component border-spread">
    <div class="col-xs-12 title start-xs">
      {{ title }}
    </div>
    <slot name="content" />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    }
  },
  components: {},
  data() {
    return {
      icons: {}
    }
  },
  computed: {
    image() {
      return {}
    }
  }
}
</script>

<style lang="scss" scoped>
.card-component {
  background: #fff;
  .title {
    text-align: left;
    background: #fff;
    font-size: 18;
    font-weight: 600;
    text-transform: uppercase;
    margin: 14px 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f0efef;
  }
}
</style>
