<template>
  <div class="row">
    <svg
      :style="{
        transform: 'translateY(' + pctScrolled * 2.5 + 'px)',
        left: left1,
        bottom: bottom1
      }"
      class="circle"
    >
      <circle
        cx="160"
        cy="80"
        r="60"
        stroke="#2baae1"
        stroke-width="20"
        fill="none"
      />
    </svg>
    <svg
      :style="{
        transform: 'translateY(' + pctScrolled * 1.1 + 'px)',
        left: left2,
        bottom: bottom2
      }"
      height="400px"
      class="circle2"
    >
      <circle
        cx="160"
        cy="140"
        r="120"
        stroke="#fff"
        stroke-width="30"
        fill="none"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    inview: {
      type: Number
    },
    title: {
      type: String
    }
  },
  components: {},
  data() {
    return {
      icons: {},
      pctScrolled: 1,
      left1: -50,
      left2: -20,
      bottom1: 300,
      bottom2: 200
    }
  },
  computed: {
    image() {
      return {}
    },
    getScrollPercent() {
      return (
        window.pageYOffset ||
        (document.documentElement || document.body.parentNode || document.body)
          .scrollTop
      )
    }
  },
  mounted() {
    this.left1 = -this.randomIntFromInterval(100, 200) + 'px'
    this.left2 = -this.randomIntFromInterval(100, 200) + 'px'
    this.bottom1 = Math.floor(Math.random() * 200) + 50 + 'px'
    this.bottom2 = Math.floor(Math.random() * 300) + 50 + 'px'
    const self = this
    window.addEventListener(
      'scroll',
      function() {
        self.amountscrolled()
      },
      false
    )
  },
  methods: {
    randomIntFromInterval(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min)
    },
    getDocHeight() {
      const D = document
      return Math.max(
        D.body.scrollHeight,
        D.documentElement.scrollHeight,
        D.body.offsetHeight,
        D.documentElement.offsetHeight,
        D.body.clientHeight,
        D.documentElement.clientHeight
      )
    },
    amountscrolled() {
      const winheight =
        window.innerHeight ||
        (document.documentElement || document.body).clientHeight
      const docheight = this.getDocHeight()
      const scrollTop =
        window.pageYOffset ||
        (document.documentElement || document.body.parentNode || document.body)
          .scrollTop
      const trackLength = docheight - winheight
      const pctScrolled = Math.floor((scrollTop / trackLength) * 100) //
      this.pctScrolled = pctScrolled
    }
  }
}
</script>

<style lang="scss" scoped>
.circle {
  position: absolute;
  z-index: 1;
}
.circle2 {
  position: absolute;
  z-index: 1;
}
</style>
