<template>
  <div class="contacts-form-container">
    <div class="container">
      <div class="section-title">
        Palikite mums žinutę
      </div>
      <div class="row">
        <div class="col-lg col-xs-12 contacts-form-container--row">
          <input
            v-model="message.name"
            type="text"
            name=""
            placeholder="Vardas*"
          />
        </div>
        <div class="col-lg col-xs-12 contacts-form-container--row">
          <input
            v-model="message.email"
            type="text"
            name=""
            placeholder="El. pašto adresas*"
          />
        </div>
        <div class="col-lg col-xs-12 contacts-form-container--row">
          <input
            v-model="message.phone"
            type="text"
            name=""
            placeholder="Telefonas"
          />
          <input
            v-model="isRobot"
            type="text"
            name="vardasvardas"
            class="someclassprotect"
            placeholder=""
          />
        </div>
      </div>
      <div class="row" style="margin:15px 0;">
        <textarea
          v-model="message.content"
          placeholder="Jūsų žinutė*"
        ></textarea>
      </div>
      <div class="row end-xs no-margin">
        <mainButton
          :isLoading="isLoading"
          @on-click="trySendEmail"
          class="active no-hover"
          text="Siųsti"
        />
      </div>
    </div>
  </div>
</template>

<script>
import mainButton from '~/components/mainButton'

export default {
  props: {},
  components: { mainButton },
  data() {
    return {
      validForm: false,
      isLoading: false,
      isRobot: null,
      message: {
        name: null,
        email: null,
        phone: null,
        content: null
      },
      icons: {}
    }
  },
  mounted() {},
  computed: {},
  methods: {
    validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@(([[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    trySendEmail() {
      this.validate().then(this.sendEmail())
    },
    async sendEmail() {
      if (!this.validForm) return
      this.isLoading = true
      const result = await this.$axios.$post('/api/sendEmail', {
        message: this.message
      })
      if (result.success) {
        this.isLoading = false
        this.$notify({
          group: 'all',
          type: 'success',
          text: 'Žinutė sėkmingai išsiųsta'
        })
        this.message = {
          name: null,
          email: null,
          phone: null,
          content: null
        }
      }
    },
    validate() {
      const self = this
      return new Promise((resolve, reject) => {
        if (
          !this.message.name ||
          !this.message.email ||
          !this.message.content
        ) {
          self.validForm = false
          self.$notify({
            group: 'all',
            type: 'error',
            text: 'Užpldykite visus laukus pažymėtus žvaigždute'
          })
          return reject
        } else if (!this.validateEmail(this.message.email)) {
          self.validForm = false
          self.$notify({
            group: 'all',
            type: 'error',
            text: 'Neteisingas el. pašto adresas'
          })
          return reject
        }
        if (this.isRobot) self.validForm = false
        self.validForm = true
        return resolve
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.contacts-form-container {
  background: #fff;
  padding: 30px;
  input {
    width: 100%;
    padding: 10px;
    color: #333;
    font-size: 15px;
  }
  .someclassprotect {
    position: absolute;
    z-index: -100;
    left: -9999px;
    opacity: 0;
  }
  textarea {
    width: 100%;
    padding: 10px;
    color: #333;
    height: 100px;
    border: 1px solid #e9e8e8 !important;
    font-size: 15px;
  }
  &--row {
    margin: 10px 0;
  }
  .row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
</style>
