<template>
  <div class="footer-block-container">
    <div style="max-width: 1440px; margin: 0 auto" class="row">
      <div style="padding: 30px" class="col-lg-3 col-xs-12 center-xs block">
        <div class="footer-block-title">Rekvizitai</div>
        <div class="footer-block-text">
          UAB ,,Poolservice.LT“ <br />
          Įmonės kodas 124089161 PVM <br />
          mokėtojo kodas LT240891610
        </div>
      </div>
      <div
        style="padding: 30px; opacity:0; visibility:0"
        class="col-lg-6 col-xs-12 center-xs block newsletter-block"
      >
        <div class="footer-block-title">Prenumeruokite naujienalaiškį</div>
        <div class="footer-block-subtitle">ir gaukite naujienas pirmieji</div>
        <div class="row newsletter-container middle-xs center-xs">
          <form
            action="https://razzby.us20.list-manage.com/subscribe/post?u=b2d8bb37f602c7c92440201cd&amp;id=f52ea03a6a"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <input
              placeholder="Įveskite savo el. pašto adresą"
              class="search"
              type="text"
              name="EMAIL"
              v-model="email"
            />
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_b2d8bb37f602c7c92440201cd_f52ea03a6a"
                tabindex="-1"
                value=""
              />
            </div>
          </form>
          <div
            @click="submitNewsletterForm"
            class="search-button row middle-xs center-xs no-margin"
          >
            <div class="row middle-xs center-xs" v-html="icons['email']"></div>
          </div>
        </div>
      </div>
      <div
        style="padding: 30px; text-align: center"
        class="col-lg-3 col-xs-12 center-xs center-lg block"
      >
        <div class="footer-block-title">Informacija</div>
        <div class="footer-block-text">
          <nuxt-link to="/grazinimas">Prekių grąžinimas</nuxt-link>
          <nuxt-link
            :key="page.id"
            v-for="page of pages"
            :to="'/info/' + page.slug"
            >{{ page.title }}
          </nuxt-link>
        </div>
      </div>
    </div>
    <div
      class="col-xs-12 center-xs bottom-xs copyright"
      style="font-size:12px; font-weight: 100"
    >
      ©{{ getDate }} UAB Poolservice.LT
    </div>
  </div>
</template>

<script>
import { format } from 'date-fns'

export default {
  props: {},
  components: {},
  data() {
    return {
      pages: [],
      icons: {
        email:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>'
      },
      email: null
    }
  },
  computed: {
    getDate() {
      return format(new Date(), 'yyyy')
    }
  },
  mounted() {
    this.getPages()
  },
  methods: {
    async getPages() {
      const result = await this.$axios.$get('api/getFooterPages')
      this.pages = result.footer_pages
    },
    submitNewsletterForm() {
      document.getElementById('mc-embedded-subscribe-form').submit()
    }
  }
}
</script>

<style lang="scss" scoped>
.footer-block-container {
  background: #25aae1;
  color: #fff;
  padding: 40px 0;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  a {
    color: #fff !important;
    display: block;
  }
}
.footer-block {
  &-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
  }
  &-subtitle {
    font-size: 14px;
    margin-top: 10px;
  }
  &-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2em;
  }
}
.block {
  border-right: 1px solid #4db7e3;
}
.copyright {
  border-top: 1px solid #4db7e3;
  padding: 15px 0;
}
.newsletter-container {
  margin-top: 30px;
  height: 50px;
  .search-button {
    background: #25aae1;
    height: 50px;
    width: 80px;
    cursor: pointer;
    border: 1px solid #fff;
  }
  ::placeholder {
    color: #fff;
  }
  input.search {
    color: #fff;
    background: #25aae1;
    font-size: 14px;
    padding-left: 20px;
    height: 50px;
    width: 325px;
    height: 50px;
    border: 1px solid #fff;
    border-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .newsletter-container {
    .search-button {
      height: 50px;
      width: 80px;
    }
    input.search {
      width: 225px;
    }
  }
  .block {
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #4db7e3;
  }
  .copyright {
    border-top: none;
    padding: 15px 0;
  }
}
@media only screen and (max-width: 400px) {
  .newsletter-block {
    padding: 20px 0 !important;
  }
  .newsletter-container {
    .search-button {
      height: 50px;
      width: 80px;
    }
    input.search {
      width: 100%;
    }
  }
}
</style>
