<template>
  <div class="info-news-container">
    <svg
      :style="{
        transform: 'translateY(' + (1 + infoInView) * 80 + 'px)'
      }"
      class="circle"
    >
      <circle
        cx="160"
        cy="80"
        r="60"
        stroke="#2baae1"
        stroke-width="20"
        fill="none"
      />
    </svg>
    <svg
      :style="{
        transform: 'translateY(' + (1 - infoInView) * 20 + 'px)'
      }"
      height="400px"
      class="circle2"
    >
      <circle
        cx="160"
        cy="140"
        r="120"
        stroke="#f5f5f5"
        stroke-width="30"
        fill="none"
      />
    </svg>
    <div class="container row center-xs">
      <div class="row col-lg-6 col-xs-11 image-block center-xs">
        <div :style="getUrl" class="news-image"></div>
      </div>
      <div
        class="row col-lg-6 col-xs-12 middle-xs start-xs"
        style="padding-right:0"
      >
        <div class="text-block row start-xs">
          <div class="col-xs-12 useful">Naudinga informacija</div>
          <div class="col-xs-12 title">{{ content.title }}</div>
          <div
            class="col-xs-12 text"
            v-html="content.description || shrt(content.text)"
          ></div>
          <div style="padding-left: 16px; max-width: 200px">
            <mainButton text="plačiau" @on-click="gotoInner(content.slug)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mainButton from '~/components/mainButton'

export default {
  props: {
    infoInView: {
      type: Number
    }
  },
  components: { mainButton },
  data() {
    return {
      backendUrl: process.env.backendUrl,
      content: {},
      icons: {}
    }
  },
  mounted() {
    this.getInfoPage()
  },
  computed: {
    image() {
      return {}
    },
    getUrl() {
      return {
        backgroundImage: `url(${this.backendUrl}/storage/app/media/${this.content.image})`
      }
    }
  },
  methods: {
    gotoInner(slug) {
      this.$router.push({ path: `/info/${slug}` })
    },
    shrt(content) {
      return content && content.length >= 400
        ? content.substr(0, 400) + '...'
        : content
    },
    async getInfoPage() {
      const page = await this.$axios.$get('/api/getInfoPage')
      this.content = page.content
    }
  }
}
</script>

<style lang="scss" scoped>
.circle {
  position: absolute;
  z-index: 1;
}
.circle2 {
  position: absolute;
  z-index: -1;
  left: -180px;
  top: 40px;
}
.info-news-container {
  padding: 50px 0;
  position: relative;
  .news-image {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
  .text-block {
    color: #333;
    text-align: left;
    padding-left: 4rem;
    > div {
      margin: 15px 0;
    }
    .useful {
      color: #5d5d5d;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 100;
    }
    .title {
      font-size: 28px;
      font-weight: 600;
    }
    .text {
      font-size: 16px;
      line-height: 1.6em;
      font-weight: light;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .info-news-container {
    .text-block {
      padding-left: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .info-news-container {
    .text-block {
      padding: 0;
      margin-top: 20px;
      > div {
        margin: 10px 0;
      }
    }
    .news-image {
      width: 100%;
      height: 200px;
      margin: 0 auto;
      background-size: cover;
    }
    .text {
      margin: 0;
    }
  }
}
</style>
