<template>
  <div class="main-content-container">
    <div class="container row">
      <div class="row col-lg-3 col-xs-11 categories border-spread between-xs">
        <div class="col-xs-12 cat--title">Top Kategorijos</div>
        <div class="col-xs-12 no-padding">
          <div v-if="categories" class="all-categories">
            <div
              @click="openCat(cat)"
              v-for="cat of categories"
              :key="cat.code"
              class="row col-xs-12 cat--label between-xs middle-xs"
            >
              <div class="col-xs-10 no-padding">{{ cat.name }}</div>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#c6c6c6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-right"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>
        </div>
        <div style="width:100%" class="row bottom-xs no-padding">
          <mainButton
            style="width:100%;"
            class="appear-button"
            @on-click="gotoPrekes"
            text="prekių katalogas"
          />
        </div>
      </div>
      <div
        style="background-image: url('poolpool.jpeg')"
        :style="getFeat"
        class="col-lg-6 col-xs-11 feat-image border-spread top-xs between-xs"
      >
        <div class="feat-image-title">
          <div class="feat-image-title--smaller-text animate">
            nuolaida su kodu "pool"
          </div>
          <div class="feat-image-title--bigger-text animate">
            visoms prekėms užsakomoms internetu
          </div>
        </div>
        <div>
          <div class="number-circle row middle-xs center-xs">
            {{ discount.value }}
          </div>
        </div>
      </div>
      <div class="col-lg col-xs no-padding">
        <featuredProducts class="margin-top" />
      </div>
    </div>
  </div>
</template>

<script>
import anime from 'animejs'
import mainButton from '~/components/mainButton'
import featuredProducts from '~/components/products/featuredProducts'

export default {
  props: {},
  components: { mainButton, featuredProducts },
  data() {
    return {
      icons: {},
      backendUrl: process.env.backendUrl,
      loaded: false,
      categories: null,
      discount: {
        value: '0%'
      }
    }
  },
  mounted() {
    this.getTopCats()
    this.loaded = true
  },
  computed: {
    image() {
      return {
        backgroundImage: `url(~assets/nuolaida.png)`
      }
    },
    getFeat() {
      if (!this.loaded) return
      const height = document.querySelector('.main-content-container')
        .clientHeight
      return {
        height: height - 30 + 'px'
      }
    }
  },
  methods: {
    openCat(cat) {
      this.$store.commit('setSubcatToOpen', cat)
      this.$router.push({ path: '/prekes' })
    },
    async getTopCats() {
      const result = await this.$axios.$get('api/getTopCats')
      this.categories = result.categories
      setTimeout(
        function() {
          this.animateAppearCats()
          this.animateAppear()
        }.bind(this),
        100
      )
    },
    gotoPrekes() {
      this.$router.push({ path: '/prekes' })
    },
    animateAppearCats() {
      anime({
        targets: '.cat--label, .appear-button',
        opacity: [0, 1],
        duration: 1000,
        easing: 'easeOutQuart',
        delay(el, i) {
          return 65 * (i + 5)
        }
      })
    },
    animateAppear() {
      anime({
        targets: '.animate',
        translateY: [-150, 0],
        opacity: [0, 1],
        duration: 800,
        elasticity: 5000,
        easing: 'easeOutQuart',
        delay(el, i) {
          return 65 * (i + 5)
        },
        complete() {}
      })
      anime({
        targets: '.number-circle',
        opacity: [0, 1],
        duration: 1000,
        delay: 1000,
        elasticity: 5000,
        easing: 'easeOutElastic(3, .8)'
      })
      anime({
        targets: this.discount,
        value: 10,
        round: 1,
        delay: 1000,
        duration: 2000,
        easing: 'easeOutQuart'
      })
    }
  }
}
</script>

<style lang="scss">
.main-content-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f6f6f6;
  .appear-button {
    opacity: 0;
  }
  .animate {
    opacity: 0;
  }
  .feat-image {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 569.57px;
    margin: 0 30px;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding: 40px;
    .number-circle {
      opacity: 0;
      width: 110px;
      height: 110px;
      background: #e9c520;
      border-radius: 50%;
      font-size: 36px;
      color: #fff;
      font-weight: 600;
      border: 3px solid #fff;
    }
    &-title {
      text-transform: uppercase;
      color: #fff;
      &--smaller-text {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
      }
      &--bigger-text {
        font-size: 48px;
        font-weight: 600;
        margin-top: 20px;
      }
    }
  }
  .categories {
    background: #fff;
    padding: 30px 30px;
    flex: 0 1 auto;
    &.border-spread {
      box-shadow: 3px 3px 35px 5px rgba(0, 0, 0, 0.05);
    }
  }
  .all-categories {
    padding-top: 20px;
  }
  .cat {
    &--title {
      font-size: 18px;
      font-weight: bold;
      padding: 0 0 10px 0;
      text-transform: uppercase;
      border-bottom: 1px solid #f0efef;
    }
    &--label {
      opacity: 0;
      font-size: 15px;
      font-weight: normal;
      margin: 10px 0;
      line-height: 25px;
      cursor: pointer;
      border-bottom: 1px solid #f0efef;
      padding: 0 0 10px 0;
      svg {
        transition: 0.5s all ease;
      }
      &:hover {
        svg {
          transform: translateX(5px);
          transition: 0.5s all ease;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .main-content-container {
    .categories {
      flex: auto;
    }
    .feat-image {
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .main-content-container {
    .feat-image {
      overflow: hidden;
      height: 350px !important;
    }
    .number-circle {
      font-size: 21px;
    }
    .categories {
      margin: 0 auto;
      margin-bottom: 30px;
      display: auto;
    }
    .feat-image {
      margin: 0 auto;
      margin-bottom: 30px;
      .number-circle {
        width: 75px;
        height: 75px;
        font-size: 22px;
      }
      &-title {
        text-transform: uppercase;
        color: #fff;
        &--smaller-text {
          font-size: 14px;
        }
        &--bigger-text {
          font-size: 26px;
        }
      }
    }
  }
}
</style>
