<template>
  <div class="main-categories-container">
    <svg
      :style="{
        transform: 'translateY(' + scrollPercent * 30 + 'px)'
      }"
      class="circle"
    >
      <circle
        cx="160"
        cy="80"
        r="60"
        stroke="#dbdbdb"
        stroke-width="20"
        fill="none"
      />
    </svg>
    <svg
      :style="{
        transform: 'translateY(-' + scrollPercent * 80 + 'px)'
      }"
      height="400px"
      class="circle2"
    >
      <circle
        cx="160"
        cy="140"
        r="120"
        stroke="#f5f5f5"
        stroke-width="30"
        fill="none"
      />
    </svg>
    <div class="container row center-xs">
      <div
        @click="gotoCat(cat)"
        :key="cat.id"
        v-for="cat of mainCats"
        :class="{
          hover: !launched
        }"
        class="main-categories-container--category row col-xs-11 col-md-5 col-lg middle-xs center-xs border-spread"
      >
        <div>
          <div
            class="no-padding main-categories-container--category--icon row middle-xs center-xs"
          >
            <div
              style="border-bottom: 2px solid #f4f3f3; padding-bottom: 15px"
              class="row middle-xs center-xs"
              v-html="icons[cat.id]"
            ></div>
          </div>
          <div
            class="row col-xs-12 center-xs middle-xs no-margin main-categories-container--category--label"
          >
            {{ cat.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import anime from 'animejs'

export default {
  components: {},
  props: {
    catsInView: {
      type: Number
    },
    scrollPercent: {
      type: Number
    }
  },
  watch: {
    catsInView(val) {
      // if (val > 0) {
      //   this.animateAppear()
      // }
    }
  },
  data() {
    return {
      launched: false,
      icons: {
        0: '<svg xmlns="http://www.w3.org/2000/svg" width="56.218" height="51.906" viewBox="0 0 56.218 51.906"> <defs> </defs> <path id="Z" class="cls-1" d="M254.915,907.835h0.17L266.574,940h2.25l-12.6-34.909h-2.455L241.176,940h2.25Zm-8.3,21h16.773v-1.977H246.614v1.977ZM297.412,957v-1.977H277.3l19.943-31.176v-1.756H274.776v1.977H294.7l-19.96,31.176V957h22.67Z" transform="translate(-241.188 -905.094)"/> </svg>',
        152: '<svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62"> <defs> <style> .cls-1 { fill: #e9c520; fill-rule: evenodd; } </style> </defs> <path class="cls-1" d="M899,958H845v-2h-2v4h58v-4h-2v2Zm-58-6h62v2H841v-2Zm14-34a8,8,0,0,1,16,0v11h2V918a8,8,0,0,1,16,0v1h2v-1a9.988,9.988,0,0,0-18-5.975V904a4,4,0,0,1,8,0h2a6,6,0,0,0-11-3.31A6,6,0,0,0,861,904h2a4,4,0,0,1,8,0v8.025A9.988,9.988,0,0,0,853,918v1h2v-1Zm-2,3h2v2h-2v-2Zm0,4h2v2h-2v-2Zm36-4h2v2h-2v-2Zm0,4h2v2h-2v-2Zm-31,18h7v7h2v-7h2v7h2v-7h2v7h2v-7h2v7h2v-7h7a7,7,0,0,0,6.92-6H897v-1a5.006,5.006,0,0,0-5-5H852a5.006,5.006,0,0,0-5,5v1h4.08A7,7,0,0,0,858,943Zm28-2H858a5.009,5.009,0,0,1-4.9-4h37.8A5.009,5.009,0,0,1,886,941Zm-34-8h40a3.006,3.006,0,0,1,2.829,2H849.171A3.006,3.006,0,0,1,852,933Zm33-16h2v2h-2v-2Zm0,4h2v4h-2v-4Zm-28,0h2v2h-2v-2Zm0-4h2v2h-2v-2Zm38,22h2v2h-2v-2Zm0,4h2v2h-2v-2Zm-48-4h2v2h-2v-2Zm0,4h2v2h-2v-2Z" transform="translate(-841 -898)"/> </svg> ',
        154: '<svg xmlns="http://www.w3.org/2000/svg" width="68" height="51" viewBox="0 0 68 51"> <defs> <style> .cls-1 { fill: #e9c520; fill-rule: evenodd; } </style> </defs> <path class="cls-1" d="M902.867,940.467h-7.934a3.409,3.409,0,0,0-3.4-3.4H887a3.41,3.41,0,0,0-3.4,3.4h-4.533v-4.534a3.41,3.41,0,0,0,3.4-3.4V928a3.411,3.411,0,0,0-3.4-3.4V912.133A1.134,1.134,0,0,0,877.933,911H862.067a1.134,1.134,0,0,0-1.134,1.133V924.6a3.411,3.411,0,0,0-3.4,3.4v4.533a3.41,3.41,0,0,0,3.4,3.4v4.534H856.4a3.41,3.41,0,0,0-3.4-3.4h-4.533a3.409,3.409,0,0,0-3.4,3.4h-7.934A1.133,1.133,0,0,0,836,941.6v15.867a1.133,1.133,0,0,0,1.133,1.133h7.934a3.41,3.41,0,0,0,3.4,3.4H853a3.411,3.411,0,0,0,3.4-3.4h27.2A3.411,3.411,0,0,0,887,962h4.533a3.41,3.41,0,0,0,3.4-3.4h7.934A1.133,1.133,0,0,0,904,957.467V941.6A1.133,1.133,0,0,0,902.867,940.467Zm-57.8,15.866h-6.8v-13.6h6.8v13.6Zm9.066,2.267A1.133,1.133,0,0,1,853,959.733h-4.533a1.134,1.134,0,0,1-1.134-1.133V940.467a1.134,1.134,0,0,1,1.134-1.134H853a1.134,1.134,0,0,1,1.133,1.134V958.6Zm9.067-45.333h13.6V924.6H863.2V913.267Zm-3.4,19.266V928a1.133,1.133,0,0,1,1.133-1.133h18.134A1.133,1.133,0,0,1,880.2,928v4.533a1.134,1.134,0,0,1-1.133,1.134H860.933A1.134,1.134,0,0,1,859.8,932.533Zm23.8,23.8H856.4v-13.6h5.667A1.133,1.133,0,0,0,863.2,941.6v-5.667h13.6V941.6a1.133,1.133,0,0,0,1.133,1.133H883.6v13.6Zm9.067,2.267a1.134,1.134,0,0,1-1.134,1.133H887a1.133,1.133,0,0,1-1.133-1.133V940.467A1.134,1.134,0,0,1,887,939.333h4.533a1.134,1.134,0,0,1,1.134,1.134V958.6Zm9.066-2.267h-6.8v-13.6h6.8v13.6Z" transform="translate(-836 -911)"/> </svg> ',
        153: '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60"> <defs></defs> <path class="cls-1" d="M599,946.122a11,11,0,0,0-5.445,1.432A8.953,8.953,0,0,1,589,948.773a5.82,5.82,0,0,1-3-.77v-4c0-8.047,9.764-9.938,10.18-10.016a1,1,0,0,0-.359-1.966c-0.087.015-6.474,1.243-9.821,5.784v-4.9a5.01,5.01,0,0,0,4-4.9V918a5.008,5.008,0,0,0-4-4.9V911a1,1,0,0,0-2,0v2.1a5.008,5.008,0,0,0-4,4.9v10a5.01,5.01,0,0,0,4,4.9v8.9c-3.347-4.541-9.734-5.769-9.821-5.784a1,1,0,0,0-.359,1.966c0.391,0.073,9.024,1.746,10.074,8.615A8.2,8.2,0,0,0,579,945a8.894,8.894,0,0,0-5.581,2.071A9.679,9.679,0,0,1,571,948.452V930.065c0-5.69,5.954-7.034,6.208-7.087a1,1,0,1,0-.413-1.958A10.9,10.9,0,0,0,571,924.488V920.9a5.008,5.008,0,0,0,4-4.9V906a5.008,5.008,0,0,0-4-4.9V900a1,1,0,1,0-2,0v1.1a5.007,5.007,0,0,0-4,4.9v10a5.007,5.007,0,0,0,4,4.9v6.539a10.788,10.788,0,0,0-5.8-3.418,1,1,0,0,0-.4,1.96c0.254,0.052,6.2,1.337,6.2,7.02v15.773h-0.007a5.657,5.657,0,0,1-4.037-1.665,7.578,7.578,0,0,0-5.3-2.11,6.981,6.981,0,0,0-3.655.937V944c0-8.047,9.763-9.938,10.179-10.016a1,1,0,0,0-.359-1.966c-0.087.015-6.474,1.243-9.82,5.784v-9.9a5.01,5.01,0,0,0,4-4.9V913a5.009,5.009,0,0,0-4-4.9V906a1,1,0,0,0-2,0v2.1a5.008,5.008,0,0,0-4,4.9v10a5.009,5.009,0,0,0,4,4.9v5.9c-3.347-4.542-9.734-5.77-9.821-5.785a1,1,0,0,0-.359,1.966C544.236,930.06,554,931.951,554,940v7.4a5.3,5.3,0,0,1-3.671,1.372,7.222,7.222,0,0,1-4.171-1.2A9.212,9.212,0,0,0,541,946.122a1,1,0,0,0-1,1v7.5a1,1,0,0,0,1,1,6.056,6.056,0,0,1,4.077,1.5A8,8,0,0,0,550.329,959a7.572,7.572,0,0,0,5.294-2.11,5.727,5.727,0,0,1,8.074,0A7.568,7.568,0,0,0,569,959a8.877,8.877,0,0,0,5.579-2.071,6.6,6.6,0,0,1,8.848,0A8.862,8.862,0,0,0,589,959a9.43,9.43,0,0,0,5.535-1.841,7.442,7.442,0,0,1,4.465-1.53,1,1,0,0,0,1-1v-7.5A1,1,0,0,0,599,946.122ZM567,916V906a3,3,0,1,1,6,0v10A3,3,0,1,1,567,916Zm15,12V918a3,3,0,0,1,6,0v10A3,3,0,0,1,582,928Zm-30-5V913a3,3,0,0,1,6,0v10A3,3,0,0,1,552,923Zm46,30.678a9.826,9.826,0,0,0-4.535,1.791A7.442,7.442,0,0,1,589,957a6.91,6.91,0,0,1-4.422-1.7,8.552,8.552,0,0,0-11.159,0,6.923,6.923,0,0,1-4.425,1.7,5.665,5.665,0,0,1-4.037-1.665,7.7,7.7,0,0,0-10.592,0A5.659,5.659,0,0,1,550.329,957a6.061,6.061,0,0,1-4.079-1.5,8.136,8.136,0,0,0-4.25-1.82v-5.507a7.324,7.324,0,0,1,3.17,1.146,9.194,9.194,0,0,0,5.159,1.456,7.563,7.563,0,0,0,5.294-2.11,5.728,5.728,0,0,1,8.074,0,7.568,7.568,0,0,0,5.3,2.11,8.871,8.871,0,0,0,5.579-2.071,6.6,6.6,0,0,1,8.848,0A8.856,8.856,0,0,0,589,950.773a11.006,11.006,0,0,0,5.445-1.429A9.392,9.392,0,0,1,598,948.17v5.507Z" transform="translate(-540 -899)"/> </svg>',
        151: '<svg xmlns="http://www.w3.org/2000/svg" width="57.031" height="57" viewBox="0 0 57.031 57"> <defs> </defs> <path class="cls-1" d="M898.926,941.542a1.544,1.544,0,0,0-1.749-.327,24.655,24.655,0,0,1-12.791,3.6V908.52a7.544,7.544,0,0,0-15.087,0,1.094,1.094,0,0,0,2.187,0,5.357,5.357,0,0,1,10.713,0v5.231H860.991V908.52a7.544,7.544,0,0,0-15.087,0,1.093,1.093,0,0,0,2.186,0,5.357,5.357,0,0,1,10.714,0v31.387c-4.92,0-10.276,1.417-16.289,5.776a1.17,1.17,0,0,0-.219,1.526,1,1,0,0,0,.875.436,1.562,1.562,0,0,0,.656-0.218c6.013-4.36,11.26-5.558,16.18-5.34a52.509,52.509,0,0,1,11.479,2.4,48.109,48.109,0,0,0,12.025,2.507,25.967,25.967,0,0,0,14.978-3.924A1.2,1.2,0,0,0,898.926,941.542Zm-37.935-25.72H882.2V927.81H860.991V915.822Zm21.318,28.88a48.536,48.536,0,0,1-10.277-2.4,62.193,62.193,0,0,0-11.041-2.4v-9.918h21.318V944.7Zm16.4,7.3a1.107,1.107,0,0,0-1.53-.436c-9.73,5.776-17.273,3.488-25.254,1.09-8.746-2.616-17.71-5.231-29.518,3.269a1.17,1.17,0,0,0-.218,1.526,1.113,1.113,0,0,0,.874.545,1.553,1.553,0,0,0,.656-0.218c10.823-7.956,19.023-5.449,27.55-2.942,8.09,2.4,16.4,4.9,27-1.308A1.2,1.2,0,0,0,898.707,952Z" transform="translate(-842 -901)"/> </svg>',
        150: '<svg xmlns="http://www.w3.org/2000/svg" width="51" height="59" viewBox="0 0 51 59"> <defs></defs> <path class="cls-1" d="M1162.71,943.3c9.49,0,14.71-5.588,14.71-15.737,0-9.5-13.41-24.609-13.98-25.246a1,1,0,0,0-.73-0.312,1.02,1.02,0,0,0-.73.312c-0.57.637-13.98,15.744-13.98,25.246C1148,937.707,1153.22,943.3,1162.71,943.3Zm0-38.826c2.81,3.3,12.75,15.536,12.75,23.089,0,6.282-2.21,13.77-12.75,13.77s-12.75-7.488-12.75-13.77C1149.96,920.005,1159.9,907.774,1162.71,904.469Zm27.46,40.794c5.61,0,8.83-3.755,8.83-10.3,0-6.148-7.78-14.6-8.11-14.957a1.014,1.014,0,0,0-.72-0.3,0.974,0.974,0,0,0-.71.3c-0.34.357-8.11,8.809-8.11,14.957C1181.35,941.508,1184.56,945.263,1190.17,945.263Zm0-23.105c1.89,2.207,6.87,8.427,6.87,12.8,0,5.531-2.31,8.335-6.87,8.335s-6.86-2.8-6.86-8.335C1183.31,930.585,1188.28,924.365,1190.17,922.158Zm-14.46,19.5c-0.25.284-6.13,7.019-6.13,11.47,0,5,2.5,7.869,6.86,7.869s6.87-2.868,6.87-7.869c0-4.451-5.88-11.186-6.13-11.47a1.016,1.016,0,0,0-.74-0.318A0.993,0.993,0,0,0,1175.71,941.661Zm0.73,17.372c-3.25,0-4.9-1.986-4.9-5.9,0-2.673,3.07-7.026,4.9-9.293,1.84,2.263,4.91,6.616,4.91,9.293C1181.35,957.047,1179.7,959.033,1176.44,959.033Zm-15.79-19.677a0.837,0.837,0,0,0,.1,0,0.984,0.984,0,0,0,.1-1.962,7.169,7.169,0,0,1-5.24-2.684c-2.61-3.41-1.75-8.909-1.74-8.964a0.979,0.979,0,0,0-1.93-.323c-0.05.26-1.02,6.38,2.1,10.476A9.075,9.075,0,0,0,1160.65,939.356Zm28.54,1.972a6.822,6.822,0,0,0,4.8-2.072,5.877,5.877,0,0,0,1.07-4.975,0.979,0.979,0,0,0-1.93.324,4.043,4.043,0,0,1-.63,3.371,4.886,4.886,0,0,1-3.31,1.385A0.984,0.984,0,0,0,1189.19,941.328ZM1175.9,955.2a1.138,1.138,0,0,1-.65-0.69,1.152,1.152,0,0,1,.11-0.941,0.984,0.984,0,1,0-1.76-.88,3.1,3.1,0,0,0,1.42,4.276,0.984,0.984,0,0,0,.88-1.76v0Z" transform="translate(-1148 -902)"/> </svg>'
      },
      categories: [
        {
          label: 'Visos kategorijos',
          code: 'az'
        },
        {
          label: 'Tvenkinių įranga',
          code: 'tvenkiniai'
        },
        {
          label: 'Baseinų įranga',
          code: 'baseinai'
        },
        {
          label: 'Vandens priežiūros priemonės',
          code: 'vandens'
        }
      ]
    }
  },
  mounted() {},
  computed: {
    ...mapState({
      searchCats: (state) => state.searchCats
    }),
    mainCats() {
      if (!this.searchCats) return
      return this.searchCats.filter((element) => element.main)
    }
  },
  methods: {
    gotoCat(category) {
      this.$store.commit('setSearchVars', {})
      this.$store.commit('setParentCategory', category)
      this.$store.commit('setSearchVar', ['category', category.id])
      this.$store.commit('setCatChildren', category.children)
      this.$router.push({ path: '/prekes' })
    },
    animateAppear() {
      if (this.launched) return true
      const self = this
      anime({
        targets: '.main-categories-container--category',
        opacity: [0, 1],
        duration: 800,
        elasticity: 5000,
        easing: 'easeOutQuart',
        delay(el, i, l) {
          return i * 100
        },
        endDelay(el, i, l) {
          return (l - i) * 100
        },
        complete() {
          self.launched = true
        }
      })
    }
  }
}
</script>

<style lang="scss">
.main-categories-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e6e6e6;
  position: relative;
  overflow: hidden;
  .circle {
    position: absolute;
    top: -50px;
    right: -60px;
    z-index: 1;
  }
  .circle2 {
    position: absolute;
    z-index: 0;
    right: -120px;
    top: 40px;
  }
  &--category {
    opacity: 1;
    cursor: pointer;
    margin-right: 50px;
    background: #fff;
    padding: 25px;
    &.hover {
      &:hover {
        background: #2baae1;
        color: #fff;
        box-shadow: 3px 3px 55px 5px rgba(0, 0, 0, 0.15);
        svg,
        .cls-1 {
          fill: #fff !important;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &--label {
      font-size: 18px;
      font-weight: 500;
      padding-top: 15px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .main-categories-container--category {
    margin: 30px auto;
    max-width: 350px;
    height: 200px;
  }
  .main-categories-container--category {
    &:last-child {
      margin-right: auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .circle {
    position: absolute;
    top: -50px;
    right: -60px;
    z-index: -1 !important;
  }
  .circle2 {
    position: absolute;
    z-index: -1 !important;
    right: -120px;
    top: 40px;
  }
  .main-categories-container--category {
    margin: 20px auto;
    max-width: 600px;
    height: 200px;
  }
  .main-categories-container--category {
    &:last-child {
      margin-right: auto;
    }
  }
}
</style>
