<template>
  <div
    class="button row middle-xs center-xs no-margin"
    @click.stop.prevent="click"
  >
    <div
      :class="{
        loading: isLoading
      }"
      class="button-text row"
    >
      <moon-loader
        v-if="isLoading"
        :loading="true"
        :color="'#FFF'"
        size="15px"
        style="margin-right:10px"
        class="loader"
      />
      <div>{{ text }}</div>
    </div>
  </div>
</template>

<script>
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'

export default {
  components: { MoonLoader },
  props: {
    text: {
      type: String,
      default: 'Pateikti'
    },
    isLoading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      icons: {}
    }
  },
  methods: {
    click() {
      this.$emit('on-click')
    }
  }
}
</script>

<style lang="scss">
.button {
  user-select: none;
  position: relative;
  text-transform: uppercase;
  color: #25aae1;
  border: 1.3px solid #25aae1;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 40px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  line-height: 1.2em;
  .button-text {
    z-index: 1;
  }
  &.bigger-text {
    font-size: 14px;
  }
  &.active {
    background: #25aae1;
    color: #fff;
  }
  &.black {
    border: 2px solid #333;
    color: #333;
  }
  &.gray {
    border: 2px solid #b5b5b5;
    color: #b5b5b5;
  }
}
.button:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 101%;
  height: 110%;
  background: #25aae1;
  z-index: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.button:not(.no-hover):hover {
  color: #fff;
}
.button:not(.no-hover):hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
</style>
