<template>
  <div class="paginate-links row col-xs-12">
    <div
      v-if="currentPage > 4"
      @click="loadPage(1)"
      :class="{
        active: currentPage == 1
      }"
      class="paginate-links--page-link"
    >
      1
    </div>
    <div
      v-if="currentPage > 4"
      class="row bottom-xs no-margin"
      style="padding-bottom:8px; color:#999; margin: 0 3px"
    >
      ...
    </div>
    <div
      @click="loadPage(page)"
      :class="{
        active: currentPage == page
      }"
      class="paginate-links--page-link"
      :key="page"
      v-for="page of paginePages"
    >
      {{ page }}
    </div>
    <div
      v-if="!showInLastPages"
      class="row bottom-xs no-margin"
      style="padding-bottom:8px; color:#999; margin: 0 3px"
    >
      ...
    </div>
    <div
      v-if="
        products &&
          products.last_page &&
          currentPage != products.last_page &&
          currentPage != products.last_page - 1
      "
      @click="loadLastPage"
      :class="{
        active: currentPage == page
      }"
      class="paginate-links--page-link"
    >
      {{ products.last_page }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {},
  components: {},
  data() {
    return {
      icons: {}
    }
  },
  watch: {
    currentPage() {
      this.$emit('fetch-new-data', this.currentPage)
    }
  },
  computed: {
    ...mapState({
      products: (state) => state.products,
      currentPage: (state) => state.currentPage
    }),
    showInLastPages() {
      if (!this.products) return
      return (
        this.currentPage === this.products.last_page ||
        this.currentPage === this.products.last_page - 1
      )
    },
    paginePages() {
      if (this.currentPage === 1) {
        return [1, 2, 3]
      }
      if (this.currentPage === this.products.last_page) {
        return [
          this.products.last_page - 2,
          this.products.last_page - 1,
          this.products.last_page
        ]
      }
      if (this.currentPage === 2)
        return [this.currentPage - 1, this.currentPage, this.currentPage + 1]
      return [this.currentPage - 1, this.currentPage, this.currentPage + 1]
    },
    lastPages() {
      const lastPagesArray = []
      lastPagesArray.push(this.products.last_page - 2)
      lastPagesArray.push(this.products.last_page - 1)
      lastPagesArray.push(this.products.last_page)
      return lastPagesArray
    }
  },
  methods: {
    loadPage(page) {
      this.$store.commit('setCurrentPage', page)
    },
    loadLastPage() {
      this.$store.commit('setCurrentPage', this.products.last_page)
    }
  }
}
</script>

<style lang="scss" scoped>
.paginate-links {
  margin: 5px 0 25px 0;
  &--page-link {
    background: transparent;
    color: #333;
    margin: 10px 4px;
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 500;
    min-width: 25px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    user-select: none;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      background: #25a9e0;
      border: 1px solid #25a9e0;
      color: #fff;
    }
  }
}
</style>
