<template>
  <div
    v-if="productInfo"
    @click.stop.prevent="goToProductInner"
    class="single-product border-spread between-xs"
  >
    <div
      class="row col-xs-12 between-xs no-margin"
      style="padding-left: 0; z-index: 1000"
    >
      <div
        :class="{ active: isMyFavourite }"
        @click.stop.prevent="toggleFavourite"
        class="heart-icon"
        v-html="icons['heart']"
      ></div>
      <div
        v-if="productInfo.discount"
        class="discount-icon row middle-xs center-xs"
      >
        %
      </div>
    </div>
    <div class="row col-xs-12 center-xs product-image-container">
      <div class="row product-image center-xs middle-xs">
        <img :src="getImageUrl(productInfo.image)" />
      </div>
    </div>
    <div
      v-html="shrt(productInfo.name)"
      class="single-product--description row col-xs-12 start-xs no-padding"
    ></div>
    <div class="row col-xs-12 single-product--price between-xs">
      <div class="current-price" v-if="productInfo.discount">
        {{ getPrice(discountedPrice) }}€
      </div>
      <div class="current-price" v-else>{{ getPrice(productInfo.price) }}€</div>
      <div v-if="productInfo.discount" class="current-price-discounted">
        {{ getPrice(productInfo.price) }}€
      </div>
    </div>
    <mainButton
      v-if="productInCart"
      class="active no-hover"
      @on-click="removeItemFromCart"
      text="Pašalinti"
    />
    <mainButton v-else @on-click="addToCart" text="į krepšelį" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import mainButton from '~/components/mainButton'

export default {
  props: {
    productInfo: {}
  },
  components: {
    mainButton
  },
  data() {
    return {
      backendUrl: process.env.backendUrl,
      icons: {
        heart:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e3" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>',
        discount:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-percent"><line x1="19" y1="5" x2="5" y2="19"></line><circle cx="6.5" cy="6.5" r="2.5"></circle><circle cx="17.5" cy="17.5" r="2.5"></circle></svg>'
      }
    }
  },
  computed: {
    ...mapState({
      favourites: (state) => state.favourites,
      cart: (state) => state.cart
    }),
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    },
    discountedPrice() {
      return (
        this.productInfo.price -
        (this.productInfo.price * this.productInfo.discount) / 100
      )
    },
    isMyFavourite() {
      if (!this.favourites) return
      return this.favourites.find(
        (element) => element.product_id === this.productInfo.id
      )
    },
    productInCart() {
      if (!this.cart) return
      return this.cart.find(
        (element) => element.product_id === this.productInfo.id
      )
    }
  },
  methods: {
    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    },
    async removeItemFromCart() {
      this.checkIfEnabled()
      const result = await this.$axios.$post(
        `/api/removeItemFromCart/${this.productInfo.id}`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setCart', result.cart)
    },
    async toggleFavourite() {
      this.checkIfEnabled()
      const result = await this.$axios.$post(
        `/api/addToFavourites/${this.productInfo.id}`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setFavourites', result.favourites)
    },
    shrt(content) {
      return content && content.length >= 60
        ? content.substr(0, 60) + '...'
        : content
    },
    getImageUrl(image) {
      return `${this.backendUrl}/storage/app/media/${this.productInfo.image}`
    },
    checkIfEnabled() {
      if (!this.$auth.user && !this.checkCookie) {
        this.$notify({
          closeOnClick: false,
          group: 'all',
          duration: 10000,
          type: 'error',
          text:
            'Be slapukų šis funkcionalumas neveikia! Perkraukite puslapį iš naujo ir priimkite slapukus.'
        })
      }
    },
    acceptCookies() {
      alert('accept')
    },
    async addToCart() {
      this.checkIfEnabled()
      const result = await this.$axios.$post(
        `/api/addToCart/${this.productInfo.id}/`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setCart', result.cart)
    },
    getPrice(price) {
      return (parseFloat(price) * 1.21).toFixed(2)
    },
    toFixed(num, fixed) {
      var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?')
      return num.toString().match(re)[0]
    },
    round(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100
    },
    goToProductInner(code) {
      this.$router.push({
        path: `/prekes/${this.productInfo.slug}${window.location.search}`
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.single-product {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 14px 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  min-height: 300px;
  img {
    max-height: 100px;
  }
  .product-image-container {
    margin: 0 0 15px 0;
    .product-image {
      margin-top: -20px;
      img {
        max-width: 100%;
      }
    }
  }
  .discount-icon {
    color: #fff;
    background: #e9c520;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  &--description {
    font-size: 13px;
    text-align: left;
  }
  &--price {
    margin: 20px 0;
    padding: 0;
    .current-price {
      font-weight: bold;
      font-size: 20px;
    }
    .current-price-discounted {
      font-weight: bold;
      text-align: left;
      font-size: 16px;
      color: #333;
      opacity: 0.2;
      text-decoration: line-through;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .single-product {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    max-width: 350px;
    &--description {
      padding: 0;
    }
  }
}
</style>
