<template>
  <div
    @click="click"
    class="modal-container row middle-xs center-xs no-margin border-spread"
  >
    <div style="background-image: url('/pool.jpg')" class="modal row middle-xs">
      <div @click="close" class="close" v-html="icons['close']"></div>
      <div class="reg-container row">
        <div class="modal-title col-xs-12">Registruotis</div>
        <div class="col-xs-12 start-xs">
          <label>El. pašto adresas</label>
          <input type="text" name="email" v-model="reg.email" />
        </div>
        <div class="col-xs-12">
          <label>Slaptažodis</label>
          <input type="password" name="password" v-model="reg.password" />
        </div>
        <div class="col-xs-12">
          <label>Pakartokite slaptažodį</label>
          <input
            type="password"
            name="password_repeat"
            v-model="reg.password_confirmation"
          />
        </div>
        <div class="col-xs-12" style="margin-top: 20px">
          <mainButton
            @on-click="userReg"
            class="active bigger-text no-hover"
            text="registruotis"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mainButton from '~/components/mainButton'

export default {
  props: {
    text: {
      type: String,
      default: 'Pateikti'
    }
  },
  components: { mainButton },
  data() {
    return {
      reg: {
        email: null,
        password: null,
        password_confirmation: null
      },
      icons: {
        close:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      }
    }
  },
  methods: {
    async userReg() {
      try {
        await this.$axios.$post('/api/signup', this.reg).then((response) => {
          this.$auth.setUser(response.user)
          this.sendActivationEmail(response.user.email, response.user.id)
          this.close()
        })
      } catch (error) {
        this.$notify({
          group: 'all',
          type: 'error',
          duration: 2000,
          title: error.response.data.error
        })
      }
    },
    sendActivationEmail(email, userID) {
      this.$axios.$post('/api/activateEmail', {
        user_id: userID,
        user_email: email
      })
    },
    click() {
      // this.$emit('on-click')
    },
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-container {
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  .modal {
    position: relative;
    color: #fff;
    font-weight: 300;
    width: 800px;
    height: 600px;
    background-size: cover;
    .reg-container {
      width: 400px;
      text-align: left;
      padding-left: 50px;
      > div {
        margin: 4px 0;
      }
      .modal-title {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    label {
      font-size: 18px;
      text-align: left;
      margin-bottom: 10px;
      font-weight: 200;
      line-height: 1.6em;
    }
    input {
      font-size: 14px;
      width: 100%;
      padding: 10px;
      color: #000;
    }
  }
}
.close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
</style>
