<template>
  <div v-if="relatedProducts" class="related-products row">
    <product
      :productInfo="productInfo"
      class="related-products--product"
      :key="productInfo.id"
      v-for="productInfo of relatedProducts"
    />
  </div>
</template>

<script>
import anime from 'animejs'
import product from '~/components/product'

export default {
  props: {
    productId: {
      type: Number
    }
  },
  components: {
    product
  },
  data() {
    return {
      relatedProducts: null
    }
  },
  mounted() {
    this.getRelatedProducts()
  },
  watch: {
    relatedProducts(val) {
      if (!val.length) {
        this.$emit('no-related-products')
        return
      }
      setTimeout(
        function() {
          this.animateAppear()
        }.bind(this),
        500
      )
    }
  },
  methods: {
    animateAppear() {
      anime({
        targets: '.related-products .single-product',
        translateY: [-80, 0],
        opacity: [0, 1],
        duration: 800,
        easing: 'easeOutQuart',
        delay(el, i) {
          return 55 * (i + 5)
        }
      })
    },
    async getRelatedProducts() {
      this.relatedProducts = await this.$axios.$get(
        `/api/getRelatedProducts/${this.productId}`
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.related-products {
  position: relative;
  margin-bottom: 80px;
  min-height: 280px;
  &--product {
    margin: 0 15px;
    width: 22%;
    position: relative;
    height: 100%;
  }
  &.row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media only screen and (max-width: 950px) {
  .related-products {
    &--product {
      width: 45%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .related-products {
    &--product {
      width: 100%;
    }
  }
}
</style>
