<template>
  <div v-if="notSingleItem" class="top-menu-block flex-row double-menu">
    <div class="border-slide"></div>
    <div class="clear"></div>
    <div class="row col-xs-12 between-xs no-padding">
      <div
        v-show="!item.disabled"
        :key="item.code"
        :id="item.code"
        v-for="item in menu"
        @click="!item.disabled ? selectItem(item.code) : null"
        class="menu-item col-xs center-xs"
        :class="{
          active: activeTab == item.code,
          disabled: item.disabled
        }"
      >
        <div :id="item.id">
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  props: {
    menu: {},
    type: {},
    classes: {},
    activeTab: {
      type: String
    }
  },
  data() {
    return {}
  },
  components: {},
  beforeCreate() {},
  mounted() {
    this.setFirstAsActive()
    setTimeout(
      function() {
        this.moveBorderSlide()
      }.bind(this),
      1000
    )
  },
  watch: {
    previewLarger() {
      setTimeout(
        function() {
          this.moveBorderSlide()
        }.bind(this),
        300
      )
    }
  },
  computed: {
    notSingleItem() {
      return this.menu.find((element) => element.disabled).length > 1
    },
    selectTabMenuPresent() {
      return this.menu.find((element) => element.code === this.activeTab)
    }
  },
  methods: {
    setFirstAsActive() {
      if (!this.selectTabMenuPresent) this.selectItem(this.menu[0].code)
    },
    moveBorderSlide() {
      const activePos = $('.top-menu-block .active').position()
      if (!activePos) return
      $('.border-slide')
        .stop()
        .css({
          left: activePos.left,
          width: $('.top-menu-block .menu-item.active').width()
        })
    },
    selectItem(code) {
      this.$emit('set-active-tab', code)
      setTimeout(
        function() {
          this.moveBorderSlide()
        }.bind(this),
        100
      )
    },
    nextTab(code) {
      this.$emit('nextTab', code)
    }
  }
}
</script>

<style lang="scss">
.top-menu-block {
  margin-bottom: 1.5em;
  position: relative;
  margin-top: 1.5em;
  .border-slide {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
    width: 100px;
    height: 2px;
    transition: all 0.6s ease;
  }
  .menu-item {
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    padding-bottom: 0.8em;
    border-bottom: 2px solid #efefef;
    transition: all 1s ease;
    text-transform: uppercase;
    font-weight: 600;
    &.active {
      color: #25aae1;
    }
    &.disabled {
      color: rgba(122, 122, 122, 0.3);
      cursor: no-drop !important;
      span {
        cursor: no-drop !important;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .top-menu-block {
    margin-bottom: 1.5em;
    position: relative;
    margin-top: 0;
  }
}
</style>
