<template>
  <div>
    <nuxt v-if="show" />
    <cookies />
    <transition name="fade">
      <notifications position="top center" group="all" />
    </transition>
  </div>
</template>

<script>
import cookies from '~/components/cookies'
export default {
  components: { cookies },
  data() {
    return {
      show: true,
      infoInView: null,
      backendUrl: process.env.backendUrl,
      scrollPercent: null
    }
  },
  computed: {
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    }
  },
  mounted() {
    this.$store.commit('setBackendUrl', this.backendUrl)
    if (
      this.$auth.strategy.name == 'google' &&
      this.$auth.user &&
      this.$auth.user.email
    ) {
      this.$auth.strategy.name = 'local'
      this.userLogin(this.$auth.user.email)
    }
    this.checkRefNumber()
  },
  methods: {
    getUrlVars() {
      let vars = {}
      let parts = window.location.href.replace(
        /[?&]+([^=&]+)=([^&]*)/gi,
        function (m, key, value) {
          vars[key] = value
        }
      )
      return vars
    },
    createCookie(cookieName, cookieValue, daysToExpire) {
      const date = new Date()
      date.setTime(date.getTime() + daysToExpire * 24 * 60 * 60 * 1000)
      document.cookie =
        cookieName + '=' + cookieValue + '; expires=' + date.toGMTString()
    },
    checkRefNumber() {
      const vars = this.getUrlVars()
      if (vars.refer) {
        this.createCookie('partner', vars.refer, 7)
      }
    },
    updateLayer() {
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.$nextTick(() => {})
      })
    },
    async userLogin(email) {
      const result = await this.$axios.$post('/api/checkIfUserExists', {
        email: email
      })
      if (result.user) {
        this.$auth.setUser(result.user)
        this.$auth.setUserToken(result.token)
        this.$axios.setHeader('Authorization', 'bearer ' + result.token)
        this.$notify({
          group: 'all',
          type: 'success',
          duration: 2000,
          title: 'Sėkmingai prisijungėte'
        })
        // this.$router.push('/')
        this.updateLayer()
      } else {
        this.$notify({
          group: 'all',
          type: 'info',
          duration: 2000,
          title: 'Vartotojas nėra užregistruotas'
        })
        setTimeout(() => {
          this.$router.push('/paskyra')
        }, 1000)
      }
    },
    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    }
  }
}
</script>

<style>
/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('~/assets/flexboxgrid.min.css');

html {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
}
.main-poolservice-container {
  overflow-x: hidden;
}
textarea {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 16px;
}
.all {
  transition: 1s all ease;
  font-size: 14px;
}
body {
  min-height: 100vh;
}

.vue-notification-group {
  position: fixed;
  z-index: 1000000000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.vue-slider-dot-tooltip-text {
  color: #000;
}
.border-spread {
  box-shadow: 3px 3px 35px 5px rgba(0, 0, 0, 0.05);
}
.section-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0efef;
  letter-spacing: 0.5px;
}
a {
  color: #25aae1;
  text-decoration: none;
}
input {
  border: 1px solid #e9e8e8;
}
.v-fade-left-enter-active,
.v-fade-left-leave-active,
.v-fade-left-move {
  transition: all 0.5s;
}
.v-fade-left-enter,
.v-fade-left-leave-to {
  opacity: 0;
  transform: translateX(-500px) scale(0.2);
}
textarea:focus,
input:focus {
  outline: none;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
@media only screen and (max-width: 1000px) {
  .has-items svg {
    stroke: #25aae1;
  }
}
</style>
