<template>
  <div v-if="product" class="sinle-product-container">
    <div class="product-about-block row top-xs center-xs no-margin">
      <div class="single-product col-lg-6 col-xs-12">
        <div
          class="row single-product--images middle-xs center-xs border-spread"
        >
          <div
            class="row col-xs-12 between-xs"
            style="position: absolute; top: 15px; width: 100%; margin-left: 0"
          >
            <div
              :class="{ active: isMyFavourite }"
              @click.stop.prevent="toggleFavourite"
              class="heart-icon"
              style="cursor: pointer"
              v-html="icons['heart']"
            ></div>
            <div
              v-if="product.discount"
              class="discount-icon row middle-xs center-xs no-margin"
            >
              %
            </div>
          </div>
          <img
            @click="nextImage"
            v-if="getCurrentImage.type === 'image'"
            class="product-about-block--product-image"
            :src="getCurrentImage.url"
          />
          <div class="product-about-block--product-image" v-else>
            <iframe
              width="530"
              height="315"
              :src="getCurrentImage.url"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div v-if="getAllVisualContent.length > 1" class="navigation row">
            <div
              :key="bullet.id"
              @click="slideContent(bullet.id)"
              :class="{
                active: imageToShow === bullet.id
              }"
              v-for="bullet of getAllVisualContent"
            ></div>
          </div>
        </div>
        <div v-if="product" class="row single-product--short-info start-xs">
          <div class="row single-product--short-info--item row col-xs-12">
            <div class="col-xs-6 no-padding">Modelis</div>
            <div class="col-xs-6 no-padding">
              {{ product.model }}
            </div>
          </div>
          <div
            v-if="product.manufacturer"
            class="row single-product--short-info--item col-xs-12"
          >
            <div class="col-xs-6 no-padding">Gamintojas</div>
            <div class="col-xs-6 no-padding">
              {{ product.manufacturer.name }}
            </div>
          </div>
          <div
            v-if="product.categories"
            class="row single-product--short-info--item col-xs-12"
          >
            <div class="col-xs-6 no-padding">Kategorija</div>
            <div class="col-xs-6 no-padding">
              <div :key="cat.id" v-for="cat of product.categories">
                <a :href="`/prekes?page=1&cat=${cat.id}&sort=viewed`">
                  {{ cat.name }}
                </a>
              </div>
            </div>
          </div>
          <div
            v-if="product.weight && product.weight != '0.00'"
            class="row single-product--short-info--item col-xs-12"
          >
            <div class="col-xs-6 no-padding">Svoris</div>
            <div class="col-xs-6 no-padding">{{ product.weight }}kg</div>
          </div>
          <div
            v-if="kiekis_sandely"
            class="row single-product--short-info--item col-xs-12"
          >
            <div class="col-xs-6 no-padding">Kiekis sandely:</div>
            <div class="col-xs-6 no-padding">
              {{ kiekis_sandely }}
            </div>
          </div>
          <div class="row single-product--short-info--item col-xs-12">
            <div class="col-xs-6 no-padding">Tiekimo terminas:</div>
            <div class="col-xs-6 no-padding">
              {{ getPristatymoTerminas(product.id) }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="row product-about-block--about col-lg-6 col-xs-12 start-xs no-margin top-xs w-full"
      >
        <div class="product-about-block--about--title">
          <div v-html="product.name"></div>
          <div class="price-container row middle-xs col-xs-12 between-xs">
            <div
              class="row col-sm-6 col-xs-12 start-sm center-xs w-full"
              style="padding-left: 20px"
            >
              <div class="current-price">{{ getPrice }}€</div>
            </div>
            <div class="row col-sm-6 col-xs-12 end-sm center-xs">
              <div
                v-if="!productInCart"
                class="number row center-xs no-padding no-margin"
              >
                <input
                  @input="checkIfValidNumber"
                  v-model="qty"
                  type="number"
                  name="qty"
                />
              </div>
              <mainButton
                v-if="productInCart"
                @on-click="removeItemFromCart"
                text="Pašalinti iš krepšelio"
              />
              <mainButton
                v-if="!productInCart"
                @on-click="addToCart"
                class="active no-hover"
                text="į krepšelį"
              />
            </div>
          </div>
          <tab-menu
            :active-tab="activeTab"
            @set-active-tab="setActiveTab"
            :menu="menuItems"
          />
          <div
            v-if="activeTab == 'aprasymas'"
            class="product-about-block--content"
            v-html="getDescr"
          ></div>
          <div
            v-else-if="activeTab == 'savybes'"
            class="product-about-block--content"
            v-html="product.features"
          ></div>
          <div v-else class="product-about-block--content">
            <el-table
              @row-click="downloadFile"
              :data="product.docs"
              style="width: 100%"
            >
              <el-table-column prop="doc" label="Pavadinimas"></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import { Table, TableColumn } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import anime from 'animejs'
import tabMenu from '~/components/tabMenu'
import mainButton from '~/components/mainButton'
Vue.component(Table.name, Table)
Vue.component(TableColumn.name, TableColumn)

export default {
  props: {
    product: {
      type: Object
    }
  },
  components: { tabMenu, mainButton },
  data() {
    return {
      activeTab: 'aprasymas',
      terminai: null,
      tiekimo_terminas: null,
      kiekis_sandely: null,
      imageToShow: 1,
      backendUrl: process.env.backendUrl,
      qty: 1,
      icons: {
        heart:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e3" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>',
        discount:
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-percent"><line x1="19" y1="5" x2="5" y2="19"></line><circle cx="6.5" cy="6.5" r="2.5"></circle><circle cx="17.5" cy="17.5" r="2.5"></circle></svg>'
      }
    }
  },
  mounted() {
    this.animateImageAppear()
    this.checkMonetStock()
  },
  watch: {
    product() {
      setTimeout(
        function () {
          this.animateImageAppear()
        }.bind(this),
        500
      )
    }
  },
  computed: {
    ...mapState({
      favourites: (state) => state.favourites,
      tempUser: (state) => state.tempUser,
      cart: (state) => state.cart
    }),
    discountedPrice() {
      return (
        this.product.price - (this.product.price * this.product.discount) / 100
      )
    },
    isMyFavourite() {
      if (!this.favourites) return
      return this.favourites.find(
        (element) => element.product_id === this.product.id
      )
    },
    productInCart() {
      if (!this.cart) return
      return this.cart.find((element) => element.product_id === this.product.id)
    },
    tableData() {
      const objToReturn = []
      if (
        !this.product.docs ||
        (this.product.docs && !this.product.docs.length)
      )
        return false
      for (const item of this.product.docs) {
        objToReturn.push(item)
      }
      return objToReturn
    },
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    },
    menuItems() {
      return [
        {
          name: 'Aprašymas',
          code: 'aprasymas'
        },
        {
          name: 'Savybės',
          code: 'savybes',
          disabled: !this.product.features
        },
        {
          name: 'Dokumentai',
          code: 'dokumentai',
          disabled:
            !this.product.docs ||
            (this.product.docs && !this.product.docs.length)
        }
      ]
    },
    getCurrentImage() {
      return this.getAllVisualContent.find(
        (element) => element.id === this.imageToShow
      )
    },
    getPrice() {
      let price = 0
      if (this.product.discount) {
        price = this.discountedPrice
      } else {
        price = this.product.price
      }
      return (parseFloat(price) * 1.21).toFixed(2)
    },
    getDescr() {
      return this.decodeHtml(this.product.description)
    },
    getAllVisualContent() {
      const allVisContent = []
      if (this.product.image)
        allVisContent.push({
          id: 1,
          url: this.getImageUrl(this.product.image),
          type: 'image'
        })
      // get additional visual content
      if (this.product.additional_images) {
        let i = 2
        for (const content of this.product.additional_images) {
          if (content.yt) {
            allVisContent.push({
              id: i,
              url: this.getYtContent(content.yt),
              type: 'yt'
            })
          } else {
            allVisContent.push({
              id: i,
              url: this.getImageUrl(content.image),
              type: 'image'
            })
          }
          i++
        }
      }
      return allVisContent
    }
  },
  methods: {
    toFixed(num, fixed) {
      var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?')
      return num.toString().match(re)[0]
    },
    getPristatymoTerminas(id) {
      if (!this.terminai) return '5 - 15 d.d.'
      const terminas = this.terminai.find((element) => element.cart_id === id)
      return terminas ? terminas.term : '5 - 15 d.d.'
    },
    async checkMonetStock() {
      let terminas = null
      let monetObj = []
      const result = await this.$axios.$get(
        'api/haveInStock/' + this.product.monet_product_id
      )
      this.kiekis_sandely = result.PhysicalInvent
      if (!result) {
        terminas =
          this.product.manufacturer &&
          this.product.manufacturer.tiekimo_terminas
            ? item.product.manufacturer.tiekimo_terminas
            : '5 - 15 d.d.'
      } else if (!result.PhysicalInvent || this.qty > result.PhysicalInvent) {
        terminas = this.product.manufacturer
          ? this.product.manufacturer.tiekimo_terminas || '5 - 15 d.d.'
          : '5 - 15 d.d.'
      } else {
        terminas = '1 - 2 d.d.'
      }
      monetObj.push({
        cart_id: this.product.id,
        term: terminas,
        inventory: result.PhysicalInvent,
        buying_more_than_inventory: this.product.qty > result.PhysicalInvent
      })
      this.terminai = monetObj
    },

    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    },
    round(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100
    },
    checkIfValidNumber() {
      if (this.qty < 0) this.qty = 1
      if (this.qty > 100) this.qty = 100
    },
    async removeItemFromCart() {
      const result = await this.$axios.$post(
        `/api/removeItemFromCart/${this.product.id}`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setCart', result.cart)
    },
    async toggleFavourite() {
      const result = await this.$axios.$post(
        `/api/addToFavourites/${this.product.id}`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setFavourites', result.favourites)
    },
    downloadFile(row) {
      if (!row.doc) return
      const link = document.createElement('a')
      link.setAttribute(
        'href',
        `${this.backendUrl}/storage/app/media` + row.doc
      )
      link.setAttribute('download', row.doc)
      link.setAttribute('target', '_blank')
      link.style.visibility = 'hidden'
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    },
    nextImage() {
      if (this.imageToShow !== this.getAllVisualContent.length) {
        this.slideContent(this.imageToShow + 1)
      }
    },
    slideContent(id) {
      if (id === this.imageToShow) return
      const self = this
      anime({
        targets: '.product-about-block--product-image',
        translateX: [0, -300],
        opacity: [1, 0],
        duration: 400,
        easing: 'easeOutQuart',
        complete() {
          self.imageToShow = id
          self.animateImageAppear()
        }
      })
    },
    async addToCart() {
      const result = await this.$axios.$post(
        `/api/addToCart/${this.product.id}/${this.qty}`,
        {
          user_cookie: this.checkCookie
        }
      )
      this.$store.commit('setCart', result.cart)
    },
    animateImageAppear() {
      anime({
        targets: '.product-about-block--product-image',
        translateX: [300, 0],
        opacity: [0, 1],
        duration: 200,
        easing: 'easeInQuart'
      })
    },
    getYtContent(link) {
      return `https://www.youtube.com/embed/${link}`
    },
    getImageUrl(url) {
      return `${this.backendUrl}/storage/app/media/${url}`
    },
    decodeHtml(html) {
      const txt = document.createElement('textarea')
      txt.innerHTML = html
      return txt.value.replace(/"/g, '')
    },
    setActiveTab(val) {
      this.activeTab = val
    }
  }
}
</script>

<style lang="scss">
.navigation {
  position: absolute;
  bottom: 15px;
  > div {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #25aae1;
    margin: 0 3px;
    &.active {
      background: #fff;
      border: 1px solid #25aae1;
    }
  }
}
.related-products-section {
  padding: 50px 0;
  background: #fff;
}
.price-container {
  background: #ececec;
  padding: 10px 15px;
  margin: 0;
  margin-top: 15px;
  .number {
    input {
      text-align: center;
      margin-right: 3px;
      border: none;
      height: 40px;
      width: 50px;
      font-size: 14px;
    }
  }
  .current-price {
    font-weight: bold;
    font-size: 20px;
  }
  .current-price-discounted {
    margin-left: 14px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #333;
    opacity: 0.2;
    text-decoration: line-through;
  }
}
.discount-icon {
  color: #fff;
  background: #e9c520;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.product-about-block {
  padding: 10px 0 30px;
  padding-bottom: 70px;
  &--about {
    height: 100%;
    padding-top: 20px;
    padding-left: 30px;
    &--title {
      text-align: left;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
    }
  }
  &--content {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    p {
      margin: 20px 0;
    }
  }
  .single-product {
    &--images {
      height: 550px;
      background: #fff;
      margin: 20px 0;
      position: relative;
      overflow: hidden;
      img {
        max-width: 80%;
        opacity: 0;
      }
    }
    &--short-info {
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
      &--item {
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #e9e8e8;
      }
    }
  }
}
</style>
