<template>
  <div class="user-profile-container gray-bg">
    <div class="modal">
      <div id="success-icon">
        <div class="row middle-xs center-xs" style="height: 100%">
          <div class="row middle-xs center-xs" v-html="icons['success']" />
        </div>
      </div>
      <h1><strong>Mokėjimas sėkmingas</strong></h1>
      <div class="content" style="margin-top: 80px">
        <el-progress
          :text-inside="true"
          :stroke-width="24"
          :percentage="percentage"
          status="success"
        />
        <p class="message" style="margin-top: 2em">
          {{ msg }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import anime from 'animejs'
import { Progress } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'

Vue.component(Progress.name, Progress)

export default {
  components: {},
  data() {
    return {
      percentage: 10,
      msg: 'Atnaujiname mokėjimo informaciją ir ruošiame prekes',
      icons: {
        success:
          '<svg stroke="#fff" width="54" height="54" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>'
      }
    }
  },
  mounted() {
    this.animate()
    this.animateProgress()
    this.getUrlVariables()
  },
  watch: {
    percentage(val) {
      if (val === 100) {
      }
    }
  },
  methods: {
    animateProgress() {
      this.interval = setInterval(
        function () {
          const newNumber = Math.floor(Math.random() * Math.floor(22))
          this.percentage =
            this.percentage + newNumber > 100
              ? 100
              : this.percentage + newNumber
        }.bind(this),
        1500
      )
    },
    animate() {
      const self = this
      anime({
        targets: '#success-icon svg path',
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: 'easeInOutSine',
        duration: 1500,
        delay(el, i) {
          return i * 250
        },
        complete() {
          setTimeout(function () {
            self.redirectHome()
          }, 20000)
        }
      })
    },
    async updateTransactionInfo(data) {
      const result = await this.$axios.$get('api/PayseraCallback/' + data)
      if (result.msg) {
        this.msg = result.msg
      }
      if (result === 'OK') {
        this.redirectHome()
      }
    },
    getUrlVariables() {
      const urlString = window.location.search
      this.updateTransactionInfo(urlString)
    },
    redirectHome() {
      this.$router.push({ path: '/' })
      setTimeout(() => {
        location.reload()
      }, 300)
    },
    setActiveTab(val) {
      this.activeTab = val
    },
    viewHandler(e) {
      this.scrollPercent = e.scrollPercent
    }
  }
}
</script>

<style lang="scss">
$green: rgb(89, 188, 105);
$black: rgb(87, 90, 91);
$light-gray: rgb(162, 181, 185);

* {
  margin: 0;
}

body {
  background-color: rgb(213, 221, 222);
  color: $black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.modal {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  max-width: 560px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4px;
  padding: 105px 38px 20px 38px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 37px;
}

.points {
  color: $light-gray;
  font-size: 18px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(221, 221, 221);
  margin: 20px auto;
}

.progress {
  margin-top: 20px;
  margin-bottom: 27px;

  rect {
    fill: $green;
  }
}

#close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 11px;
  height: 11px;
  stroke: $black;
  cursor: pointer;
}

#success-icon {
  position: absolute;
  width: 110px;
  height: 110px;
  // https://www.sitepoint.com/css-center-position-absolute-div/
  left: 50%;
  margin-left: -55px;
  top: -5%;
  background-color: $green;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 5px white;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
</style>
