<template>
  <div class="user-profile-container gray-bg">
    <div class="modal">
      <div id="success-icon">
        <div class="row middle-xs center-xs" style="height: 100%">
          <div class="row middle-xs center-xs" v-html="icons['success']"></div>
        </div>
      </div>
      <svg id="close-modal" version="1.1" viewBox="0 0 10 10">
        <line x1="1" y1="-1" x2="9" y2="11" stroke-width="2.5" />
        <line x1="9" y1="-1" x2="1" y2="11" stroke-width="2.5" />
      </svg>
      <h1><strong>Mokėjimas nesėkmingas</strong></h1>
      <div class="content" style="margin-top:50px">
        <p class="message">
          Bandykite dar kartą arba rašykite adresu
          <a href="mailto:info@poolservice.lt">info@poolservice.lt</a>
        </p>
        <p><a href="/">Grįžti į svetainę</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import anime from 'animejs'

export default {
  components: {},
  data() {
    return {
      icons: {
        success:
          '<svg stroke="#fff" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>'
      }
    }
  },
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      anime({
        targets: '#success-icon svg polygon',
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: 'easeInOutSine',
        duration: 1500,
        delay(el, i) {
          return i * 250
        },
        complete() {}
      })
    },
    redirectHome() {
      // this.$router.push({ path: '/' })
    },
    setActiveTab(val) {
      this.activeTab = val
    },
    viewHandler(e) {
      this.scrollPercent = e.scrollPercent
    }
  }
}
</script>

<style lang="scss">
$green: red;
$black: rgb(87, 90, 91);
$light-gray: rgb(162, 181, 185);

* {
  margin: 0;
}

body {
  background-color: rgb(213, 221, 222);
  color: $black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.modal {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  max-width: 560px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4px;
  padding: 105px 38px 20px 38px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 37px;
}

.points {
  color: $light-gray;
  font-size: 18px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(221, 221, 221);
  margin: 20px auto;
}

.progress {
  margin-top: 20px;
  margin-bottom: 27px;

  rect {
    fill: $green;
  }
}

#close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 11px;
  height: 11px;
  stroke: $black;
  cursor: pointer;
}

#success-icon {
  position: absolute;
  width: 110px;
  height: 110px;
  // https://www.sitepoint.com/css-center-position-absolute-div/
  left: 50%;
  margin-left: -55px;
  top: -5%;
  background-color: $green;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 5px white;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
</style>
