<template>
  <div class="generic-page-container gray-bg between-xs">
    <pageHeader />

    <circles :inview="infoInView" />

    <moon-loader
      v-if="loading"
      :loading="true"
      :color="'#25AAE1'"
      class="row middle-xs center-xs loader"
    />

    <div
      v-view="viewHandler"
      v-if="content && !loading"
      class="container"
      style="z-index: 1"
    >
      <div class="generic-title col-xs-12 start-xs no-padding">
        {{ content.title }}
      </div>
      <div
        v-html="content.text"
        class="flex-row col-xs-12 no-margin generic-page-container--content"
      ></div>
    </div>
    <returnForm />
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import checkView from 'vue-check-view'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import circles from '~/components/circles'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
import returnForm from '~/components/returnForm'
Vue.use(checkView)

export default {
  components: {
    pageHeader,
    MoonLoader,
    circles,
    footerBlock,
    returnForm
  },
  data() {
    return {
      content: null,
      loading: true,
      infoInView: null
    }
  },
  mounted() {
    this.getContent()
  },
  methods: {
    viewHandler(e) {
      this.infoInView = e.percentInView
    },
    async getContent() {
      const ip = await this.$axios.$get(`/api/getContactsPage/grazinimas`)
      this.loading = false
      this.content = ip.page
    }
  }
}
</script>

<style lang="scss" scoped>
.generic-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .loader {
    min-height: 500px;
  }
  .generic-title {
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0 30px 0;
  }
  &--content {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px !important;
  }
}
.border-spread-more {
  box-shadow: 3px 3px 15px 5px rgba(122, 122, 122, 0.2);
}
@media only screen and (max-width: 800px) {
  .generic-page-container {
    margin: 10px 0;
    .generic-title {
      font-size: 36px;
      font-weight: 500;
      padding: 0 20px !important;
      margin: 10px 0 10px 0 !important;
    }
    &--content {
      font-size: 16px;
      padding: 0 35px;
      width: 100vw;
      padding-bottom: 30px !important;
    }
  }
  .contacts-container--content {
    padding: 0 20px;
  }
}
</style>
