<template>
  <!-- Paysera -->
  <!-- sign_password: 52092196b91f24507df812b8c2eade4d -->
  <!-- project_id: 4529 -->
  <div v-cloak class="main-poolservice-container">
    <moon-loader
      v-if="isLoading"
      :loading="true"
      :color="'#25AAE1'"
      :class="{
        opacity: isLoading
      }"
      class="row middle-xs center-xs loader fullscreen"
    />
    <pageHeader v-if="showMenu" />
    <mainContent />
    <mainCategories
      v-view="catsViewHandler"
      :cats-in-view="catsInView"
      :scroll-percent="scrollPercent"
    />
    <infoNews v-view="viewHandler" :info-in-view="infoInView" />
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import checkView from 'vue-check-view'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import pageHeader from '~/components/header/header'
import mainContent from '~/components/mainContent'
import mainCategories from '~/components/mainCategories'
import infoNews from '~/components/infoNews'
import footerBlock from '~/components/footerBlock'
Vue.use(checkView)

export default {
  components: {
    pageHeader,
    mainContent,
    mainCategories,
    infoNews,
    footerBlock,
    MoonLoader
  },
  data() {
    return {
      showMenu: true,
      isLoading: true,
      infoInView: null,
      catsInView: null,
      scrollPercent: null
    }
  },
  mounted() {},
  computed: {
    ...mapState({
      searchCats: (state) => state.searchCats
    })
  },
  watch: {
    searchCats(val) {
      this.isLoading = false
    }
  },
  methods: {
    catsViewHandler(e) {
      this.catsInView = e.percentInView
      this.scrollPercent = e.scrollPercent
    },
    viewHandler(e) {
      this.infoInView = e.percentInView
    }
  }
}
</script>

<style lang="scss">
html {
  width: 100vw;
  overflow-x: hidden;
}
.v-spinner {
  &.fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    z-index: 1000000000;
  }
  &.opacity {
    background: rgba(244, 244, 244, 0.98);
  }
}
.main-container {
  min-height: 100vh;
}
.hide-lg {
  display: none;
}
.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 12px;
  z-index: 100000000;
  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #e54d42;
    border-left-color: #b82e24;
  }

  &.success {
    background: #68cd86 !important;
    border-left-color: #42a85f;
  }
}
.container {
  margin: 0 auto;
}
.gray-bg {
  background: #f5f5f5;
}
.generic-page-container {
  p {
    font-weight: 300;
    margin: 24px 0;
    line-height: 24px;
  }
  table {
    tr {
      td {
        padding: 5px 35px;
      }
      td:nth-child(odd) {
        padding-left: 0;
      }
      td:nth-child(even) {
        padding-right: 0;
      }
    }
    img {
      width: 100%;
    }
  }
}
.main-categories-container--category {
  svg {
    fill: #e9c520;
  }
  &.hover {
    z-index: 1;
    transition: all 0.3s ease;
    &:hover {
      svg {
        fill: #fff !important;
      }
    }
  }
}
.heart-icon {
  &:hover,
  &.active {
    svg {
      fill: #f13d3d;
    }
  }
}
.mobile-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .hide-sm {
    display: none;
  }
  .categories {
    margin: 0 auto;
  }
  .search-container {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .hide-lg {
    display: block;
  }
  .hide-xs {
    display: none !important;
  }
  .generic-page-container--content {
    tr {
      td {
        width: 100% !important;
        display: block;
        padding: 0 10px !important;
        img {
          margin: 20px auto;
        }
      }
    }
  }
  .dropdown-menu {
    left: 0 !important;
    width: 100% !important;
    top: 70px !important;
    z-index: 10000;
  }
}
</style>
