<template>
  <div class="contacts-container gray-bg">
    <pageHeader />
    <div v-view="viewHandler" v-if="content" class="container">
      <circles :inview="infoInView" />
      <div class="generic-title">
        {{ content.title }}
      </div>
      <div class="contacts-container--content row">
        <div class="col-lg-3 col-xs-12" v-html="content.text"></div>
        <div class="col-xs-12 col-lg-offset-1 col-lg">
          map
        </div>
      </div>
    </div>
    <contactsForm />
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import checkView from 'vue-check-view'
import circles from '~/components/circles'
import pageHeader from '~/components/header/header'
import contactsForm from '~/components/contactsForm'
import footerBlock from '~/components/footerBlock'
Vue.use(checkView)

export default {
  middleware: 'auth',
  components: {
    pageHeader,
    circles,
    footerBlock,
    contactsForm
  },
  data() {
    return {
      content: null,
      infoInView: null
    }
  },
  mounted() {
    this.getContent()
  },
  methods: {
    viewHandler(e) {
      this.infoInView = e.percentInView
    },
    async getContent() {
      const ip = await this.$axios.$get('/api/getContactsPage/contacts')
      this.content = ip.page
    }
  }
}
</script>

<style lang="scss" scoped>
.contacts-container {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .generic-title {
    font-size: 36px;
    font-weight: 500;
    margin: 40px 0;
  }
}
</style>
