<template>
  <div class="checkout-container gray-bg">
    <pageHeader />
    <div v-if="show && cart && cart.length" class="container">
      <div class="checkout-container--title row no-padding"></div>

      <div
        class="checkout-container--table border-spread hide-lg row no-margin"
      >
        <div class="mob row">
          <div
            v-for="item of cart"
            :key="item.id"
            class="col-xs-12"
            style="margin-bottom: 15px"
            @click="gotoProduct(item.product.slug)"
          >
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header">
                Prekė
              </div>
              <div class="col-xs checkout-container--table--about-product">
                <img
                  style="max-height: 80px"
                  :src="getImageUrl(item.product.image)"
                />
                <div class="col-xs-12 no-padding">
                  <span v-html="item.product.name"></span>
                </div>
              </div>
            </div>
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header">
                Modelis
              </div>
              <div class="col-xs checkout-container--table--about-product">
                {{ item.product.model }}
              </div>
            </div>
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header">
                Kiekis
              </div>
              <div class="col-xs checkout-container--table--about-product">
                <input
                  type="number"
                  min="1"
                  :value="item.qty"
                  @change.stop.prevent="updateQty(item.id, $event.target.value)"
                />
              </div>
            </div>
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header">
                Vnt. kaina
              </div>
              <div class="col-xs checkout-container--table--about-product">
                {{ getPrice(item.product) }}€
              </div>
            </div>
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header">Viso</div>
              <div class="col-xs checkout-container--table--about-product">
                {{ parseFloat(getPrice(item.product) * item.qty).toFixed(2) }}€
              </div>
            </div>
            <div class="row info-row">
              <div class="col-xs-3 checkout-container--table--header"></div>
              <div
                @click.stop.prevent="removeItemFromCart(item.product_id)"
                class="col-xs checkout-container--table--about-product row middle-xs no-margin"
              >
                <div v-html="icons['close']"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout-container--table--footer row col-xs-12 center-xs">
          <div class="col-xs-12 row center-xs">
            <mainButton
              @on-click="gotoProducts"
              class="gray"
              text="tęsti apsipirkimą"
            />
          </div>
          <div style="margin-top: 15px" class="col-xs row middle-xs center-xs">
            <div class="sum-title">Prekių suma su PVM:</div>
            <div class="total-sum">{{ getSum + ' EUR' }}</div>
          </div>
        </div>
      </div>

      <div class="checkout-container--table border-spread hide-xs">
        <div class="checkout-container--table--header row">
          <div class="col-xs-5">Prekė</div>
          <div class="col-xs">Modelis</div>
          <div class="col-xs">Kiekis</div>
          <div class="col-xs">Kaina</div>
          <div class="col-xs">Viso (su PVM)</div>
          <div class="col-xs" style="max-width: 40px"></div>
        </div>
        <div
          :key="item.id"
          v-for="item of cart"
          class="checkout-container--table--content row middle-xs"
        >
          <div class="col-xs-5 row no-margin middle-xs">
            <div
              @click.stop.prevent="gotoProduct(item.product.slug)"
              class="row col-xs-4 start-xs cursor-pointer"
            >
              <img
                style="max-height: 80px"
                :src="getImageUrl(item.product.image)"
              />
            </div>
            <div
              @click.stop.prevent="gotoProduct(item.product.slug)"
              class="col-xs cursor-pointer"
            >
              <span style="font-weight: bold" v-html="item.product.name"></span
              ><br />
              <span v-if="terminai"
                >Pristatymo terminas: {{ getPristatymoTerminas(item.id) }}</span
              >
              <span
                v-cloak
                style="font-weight: bold"
                v-if="noOnlineSales(item.product.categories)"
              >
                (Neparduodama internetu)*
              </span>
            </div>
          </div>
          <div class="col-xs">{{ item.product.model }}</div>
          <div class="col-xs number">
            <input
              type="number"
              min="1"
              :value="item.qty"
              @change.stop.prevent="updateQty(item.id, $event.target.value)"
            />
          </div>
          <div class="col-xs">{{ getPrice(item.product) }}€</div>
          <div class="col-xs">
            {{ parseFloat(getPrice(item.product) * item.qty).toFixed(2) }}€
          </div>
          <div
            @click.stop.prevent="removeItemFromCart(item.product_id)"
            class="col-xs"
            style="max-width: 40px"
          >
            <div v-html="icons['close']"></div>
          </div>
        </div>
        <div class="checkout-container--table--footer row between-xs">
          <mainButton
            @on-click="gotoProducts"
            class="gray"
            text="tęsti apsipirkimą"
          />
          <div class="col-xs row middle-xs end-xs">
            <div class="sum-title">Prekių suma (su PVM):</div>
            <div class="total-sum">{{ getSum + ' EUR' }}</div>
          </div>
        </div>
      </div>
      <div
        v-if="unavailableExist"
        class="info-block"
        style="margin: 15px 0 0 0; color: red"
      >
        Dėl prekių, pažymėtų žvaigždute, prašome teirautis telefonu +370 659
        54545.
      </div>

      <div class="checkout-bottom row col-xs-12 center-xs no-padding">
        <div class="col-lg-6 col-xs-12">
          <div class="row no-margin start-xs">
            <el-form ref="form" :model="form" label-width="120px">
              <div class="col-xs no-margin">
                <div class="section-title">Mokėtojo informacija</div>
              </div>
              <el-form-item
                :rules="[
                  {
                    required: false,
                    message: 'Įveskite vardą',
                    trigger: 'blur'
                  }
                ]"
                label="Vardas"
              >
                <el-input v-model="form.payer_name"></el-input>
              </el-form-item>
              <el-form-item
                prop="email"
                :rules="[
                  {
                    required: true,
                    message: 'Įveskit el. pašto adresą',
                    trigger: 'blur'
                  },
                  {
                    type: 'email',
                    message: 'Neteisingas el. pašto adresas',
                    trigger: ['blur', 'change']
                  }
                ]"
                label="El. paštas"
              >
                <el-input v-model="form.email"></el-input>
              </el-form-item>

              <el-form-item>
                <el-checkbox
                  v-model="isCompany"
                  label="Mokėtojas yra įmonė"
                  name="type"
                ></el-checkbox>
              </el-form-item>

              <div v-if="isCompany">
                <el-form-item label="Įmonės pavadinimas">
                  <el-input v-model="form.company"></el-input>
                </el-form-item>
                <el-form-item label="Įmonės kodas">
                  <el-input v-model="form.EnterpriseCode"></el-input>
                </el-form-item>
                <el-form-item label="PVM kodas">
                  <el-input v-model="form.VATNum"></el-input>
                </el-form-item>
              </div>
              <div class="col-xs no-margin">
                <div class="section-title">Pristatymo informacija</div>
              </div>
              <el-form-item
                :error="addressError || nameError"
                :rules="[
                  {
                    required: true,
                    message: 'Įveskite vardą',
                    trigger: 'blur'
                  }
                ]"
                label="Vardas"
              >
                <el-input
                  @focus="form.name = form.payer_name"
                  v-model="form.name"
                ></el-input>
              </el-form-item>
              <el-form-item
                :rules="[
                  {
                    required: selectedShipping == 3
                  }
                ]"
                :error="addressError"
                label="Adresas"
                class="address"
              >
                <el-input
                  :rules="[
                    {
                      required: selectedShipping == 3
                    }
                  ]"
                  placeholder="Gatvės pav, namas, butas"
                  v-model="form.address"
                ></el-input>
                <el-input
                  :rules="[
                    {
                      required: selectedShipping == 3
                    }
                  ]"
                  placeholder="Miestas"
                  v-model="form.city"
                ></el-input>
                <el-form-item label="Pašto kodas" prop="zip">
                  <el-input
                    :rules="[
                      {
                        required: selectedShipping == 3
                      }
                    ]"
                    maxlength="5"
                    type="text"
                    v-model="form.zip"
                  >
                    <template slot="prepend">LT-</template>
                  </el-input>
                </el-form-item>
              </el-form-item>

              <el-form-item
                :rules="[
                  {
                    required: selectedShipping == 3
                  }
                ]"
                :error="addressError"
                label="Telefonas"
              >
                <el-input v-model="form.phone">
                  <template slot="prepend">+370</template>
                </el-input>
              </el-form-item>

              <el-form-item label="Žinutė kurjeriui" class="address">
                <el-input
                  type="textarea"
                  placeholder=""
                  v-model="form.remark"
                ></el-input>
              </el-form-item>

              <el-form-item v-if="!$auth.user">
                <el-checkbox
                  v-model="wantAnAccount"
                  label="Prisiminti ir sukurti paskyrą"
                  name="type"
                ></el-checkbox>
              </el-form-item>

              <el-form-item
                v-if="wantAnAccount"
                label="Slaptažodis"
                class="address"
              >
                <el-input
                  :show-password="true"
                  placeholder="Slaptažodis"
                  type="password"
                  v-model="form.password"
                ></el-input>
                <el-input
                  :show-password="true"
                  placeholder="Pakartoti slaptažodį"
                  type="password"
                  v-model="form.password_confirmation"
                ></el-input>
              </el-form-item>
              <div style="margin-top: 20px"></div>
            </el-form>
          </div>
        </div>

        <div style="margin-left: 20px" class="col-xs">
          <div class="col-xs no-padding">
            <div class="section-title">Pristatymo būdas</div>
            <div class="shipping-container border-spread">
              <div
                :key="item.title"
                @click="selectedShipping = item.id"
                v-for="item of shippingInfo"
                class="row col-xs-12 start-xs shipping-container--item no-margin"
              >
                <div
                  class="col-xs-1 row middle-xs center-xs no-padding no-margin"
                >
                  <div class="radio-circle row middle-xs center-xs">
                    <div
                      v-if="selectedShipping == item.id"
                      class="inner-circle"
                    ></div>
                  </div>
                </div>
                <div
                  class="col-xs start-xs"
                  style="text-align: left; margin-left: 15px"
                >
                  {{ item.title }}
                  <span
                    style="color: #cecece; font-size: 14px; padding-left: 8px"
                  >
                    {{ item.subtitle }}
                  </span>
                </div>
                <div class="col-xs-3 end-xs row" style="font-weight: bold">
                  {{ item.price + '€' }}
                </div>
              </div>
            </div>
            <small style="margin-top: 10px"
              >Apmokėti užsakymai iki 14val išsiunčiami tą pačią dieną.</small
            >
          </div>
          <div class="col-xs no-padding">
            <div style="margin-top: 50px" class="section-title">
              Užsakymo patvirtinimas
            </div>
            <div class="final-checkout-container border-spread">
              <div
                style="border-bottom: 1px solid #ececec"
                class="final-checkout-item row between-xs"
              >
                <div>Krepšelis:</div>
                <div>
                  {{ getSum + '€' }}
                </div>
              </div>
              <div
                v-if="getShippingOption.price"
                class="final-checkout-item row between-xs"
              >
                <div>Pristatymas:</div>
                <div>
                  {{ getShippingOption.price + '€' }}
                </div>
              </div>
              <div class="final-checkout-item row between-xs">
                <div>PVM dalis kainoje:</div>
                <div>{{ totalVat }} (21%)</div>
              </div>
              <div v-if="discount" class="final-checkout-item row between-xs">
                <div>Nuolaida:</div>
                <div>{{ discount.percentage }}%</div>
              </div>
              <div class="discount row col-xs-12 no-padding no-margin">
                <div class="col-xs-8 row middle-xs">
                  <input
                    placeholder="Nuolaidos kodas"
                    type="text"
                    name="discount"
                    v-model="discountCode"
                  />
                </div>
                <div
                  @click="applyDiscount"
                  class="col-xs button-gray row middle-xs center-xs no-margin"
                >
                  Tikrinti
                </div>
              </div>
              <div class="final-checkout-item row between-xs">
                <div>Iš viso:</div>
                <div style="font-weight: bold; font-size: 22px">
                  {{ getFinalFinalAmount + '€' }}
                </div>
              </div>

              <div class="shipping-container">
                <div
                  :key="item.title"
                  v-show="!item.disabled"
                  @click="defaultPayment = item.id"
                  v-for="item of paymentTypes"
                  class="row col-xs-12 shipping-container--item no-margin"
                >
                  <div class="col-xs-1 row middle-xs center-xs no-padding">
                    <div class="radio-circle row middle-xs center-xs">
                      <div
                        v-if="defaultPayment == item.id"
                        class="inner-circle"
                      ></div>
                    </div>
                  </div>
                  <div class="col-xs" style="text-align: left">
                    {{ item.title }}
                  </div>
                </div>
              </div>
              <mainButton
                :is-loading="isLoading"
                @on-click="validateAndPurchase('form')"
                class="active bigger-text no-hover"
                :text="defaultPayment == 1 ? 'apmokėti' : 'formuoti užsakymą'"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import {
  Button,
  Input,
  Select,
  Form,
  FormItem,
  Checkbox,
  MessageBox
} from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
import mainButton from '~/components/mainButton'

Vue.component(Button.name, Button)
Vue.component(Select.name, Select)
Vue.component(Input.name, Input)
Vue.component(Checkbox.name, Checkbox)
Vue.component(MessageBox.name, MessageBox)
Vue.use(Form)
Vue.use(FormItem)

Vue.prototype.$confirm = MessageBox.confirm

export default {
  components: {
    pageHeader,
    footerBlock,
    mainButton
  },
  data() {
    return {
      show: false,
      unavailableExist: false,
      isLoading: false,
      isCompany: false,
      terminai: null,
      backendUrl: process.env.backendUrl,
      transactionID: null,
      wantAnAccount: false,
      newUser: null,
      discountCode: null,
      scrollPercent: null,
      zitycityPrice: false,
      checkAddress: false,
      addressError: false,
      nameError: false,
      form: {
        payer_name: '',
        name: '',
        surname: '',
        email: '',
        phone: '',
        company: '',
        EnterpriseCode: '',
        VATNum: '',
        address: '',
        city: '',
        password: '',
        password_confirmation: '',
        zip: ''
      },
      icons: {
        close:
          '<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
      },
      selectedShipping: 3,
      defaultPayment: 1
    }
  },
  mounted() {
    setTimeout(() => {
      this.show = true
    }, 100)
    if (this.cart && !this.cart.length) this.$router.push({ path: '/' })

    if (this.$auth.user) {
      this.fillUserFields()
    }
    this.checkMonetStock()
  },
  computed: {
    ...mapState({
      cart: (state) => state.cart,
      discount: (state) => state.discount,
      favourites: (state) => state.favourites
    }),
    getFinalFinalAmount() {
      return this.round(this.getSum + parseFloat(this.getShippingOption.price))
    },
    checkCookie() {
      return this.accessCookie('poolservice-cookie')
    },
    getDpdPriceBasedOnWeight() {
      let productsWeight = 0
      for (const item of this.cart) {
        productsWeight += parseFloat(item.product.weight) * item.qty
      }
      switch (true) {
        case productsWeight < 2:
          return 4.5
        case productsWeight < 5:
          return 5.5
        case productsWeight < 10:
          return 6.5
        case productsWeight < 20:
          return 7
        case productsWeight < 31.5:
          return 8
        case productsWeight < 50:
          return 14
        case productsWeight < 100:
          return 22
        case productsWeight < 200:
          return 30
        case productsWeight < 500:
          return 55
        case productsWeight < 1000:
          return 85
        case productsWeight > 1000:
          return ((productsWeight - 1000) / 100) * 12 + 85
        default:
          return 6.5
      }
    },
    getCartInfo() {
      const cartInfo = []
      for (const item of this.cart) {
        const terminas = true
        if (this.terminai) {
          terminas = this.terminai.find(
            (element) => element.cart_id === item.id
          )
        }
        cartInfo.push({
          id: item.product.id,
          qty: item.qty,
          name: item.product.name,
          slug: item.product.slug,
          monet_product_id: item.product.monet_product_id,
          weight: item.product.weight,
          enough_physical: !terminas.buying_more_than_inventory,
          product_image: item.product.image,
          vat: (this.getSum * 0.21).toFixed(2),
          price: this.getPrice(item.product)
        })
      }
      return cartInfo
    },
    getParcelQty() {
      let qty = 0
      for (const item of this.cart) {
        if (this.noOnlineSales(item.product.categories)) continue
        qty += item.qty
      }
      return qty
    },
    paymentTypes() {
      return [
        {
          id: 1,
          title: 'El. bankininkyste arba banko kortele'
        },
        {
          id: 2,
          title: 'Mokėsiu vietoje grynais',
          disabled: this.selectedShipping === 3
        },
        {
          id: 3,
          title:
            'Noriu išankstinio apmokėjimo sąskaitos banko pavedimui įvykdyti',
          disabled: this.selectedShipping === 4
        }
      ]
    },
    shippingInfo() {
      return [
        // {
        //   id: 1,
        //   title: 'Atsiimsiu pats (Švitrigailos g. 3 Vilnius, LT-03110)',
        //   subtitle: 'Užsakymą suruošime per 2–3 d. d.',
        //   price: '0'
        // },
        // {
        //   id: 2,
        //   title: 'Pristatymas į artimiausią paštomatą',
        //   subtitle: 'Pristatysime į paštomatą per 6 d. d.',
        //   price: '2.49'
        // },
        {
          id: 3,
          title: 'Pristatymas į namus',
          subtitle: this.getPristatymoTerminasBendras,
          price: this.getDpdPriceBasedOnWeight
        }
        // {
        //   id: 4,
        //   title: 'Skubus pristatymas',
        //   subtitle: 'Tą pačią dieną',
        //   price: '10.00'
        // }
      ]
    },
    finalSum() {
      if (this.discount) {
        return (
          (this.getSum - (this.getSum * this.discount.percentage) / 100) * 1.21
        )
      }
      return this.getSum * 1.21
    },
    getShippingOption() {
      const found = this.shippingInfo.find(
        (element) => element.id === this.selectedShipping
      )
      if (found && found.price) return found
      return {
        price: 0
      }
    },
    totalVat() {
      return (
        ((this.getSum + parseFloat(this.getShippingOption.price)) * 21) /
        121
      ).toFixed(2)
    },
    getSum() {
      let sum = 0
      for (const item of this.cart) {
        if (this.noOnlineSales(item.product.categories)) continue
        sum += this.getPrice(item.product) * item.qty
      }
      const final = this.round(sum)
      if (this.discount) {
        return parseFloat(
          (final - (final * this.discount.percentage) / 100).toFixed(2)
        )
      }
      return parseFloat(final.toFixed(2))
    },
    getPristatymoTerminasBendras() {
      if (!this.terminai) return
      if (this.terminai.length === 1) {
        return 'Pristatysime per: ' + this.terminai[0].term
      } else {
        let lastItem = null
        for (const item of this.terminai) {
          if (lastItem && lastItem !== item.term) {
            return 'Pristatysime per: (prekėms taikomi skirtingi laikai)'
          }
          lastItem = item.term
        }
      }
      return 'Pristatysime per: ' + this.terminai[0].term
    }
  },
  watch: {
    cart(val) {
      this.checkMonetStock()
    },
    form: {
      handler(newValue) {
        // this.zitycityPrice = false
        // if (this.selectedShipping === 4) this.selectedShipping = 1
      },
      deep: true
    }
  },
  methods: {
    async updateQty(id, val) {
      this.$store.commit('setProductQty', [id, val])
      await this.$axios.$post(`api/updateCartQty/${id}/${val}`)
    },
    showFoundData(customer) {
      this.$confirm(
        `"UAB Poolservice" duomenų bazėje radome prisijungimus:
        ${customer.name ? '<br/>Vardas: ' + customer.name : ''}
        ${customer.email ? '<br/>El. paštas: ' + customer.email : ''}
        ${customer.phone ? '<br/> Telefonas: ' + customer.phone : ''}
        ${
          customer.enterprise_code
            ? '<br/> Įmonės kodas: ' + customer.enterprise_code
            : ''
        }
        ${customer.address ? '<br/> Adresas: ' + customer.address : ''}
        ${customer.city ? '<br/> Miestas: ' + customer.city : ''}
        ${customer.zip_code ? '<br/> Pašto kodas: ' + customer.zip_code : ''}
        ${customer.country ? '<br/>' + customer.country : ''}
        `,
        `Užpildyti formą turimais duomenimis?`,
        {
          confirmButtonText: 'Taip',
          cancelButtonText: 'Ne',
          dangerouslyUseHTMLString: true,
          type: 'warning'
        }
      )
        .then(() => {
          this.fillForm(customer)
        })
        .catch(() => {})
    },
    fillForm(customer) {
      this.form.name = this.form.name ? this.form.name : customer.name
      this.form.email = this.form.email ? this.form.email : customer.email
      this.form.phone = this.form.phone ? this.form.phone : customer.phone
      this.form.company = this.form.company
        ? this.form.company
        : customer.company
      this.form.EnterpriseCode = this.form.EnterpriseCode
        ? this.form.EnterpriseCode
        : customer.enterprise_code
      this.form.VATNum = this.form.VATNum ? his.form.VATNum : customer.vat_num
      this.form.address = this.form.address
        ? this.form.address
        : customer.address
      this.form.city = this.form.city ? this.form.city : customer.city
      this.form.zip = this.form.zip ? this.form.zip : customer.zip
    },
    async checkIfEmailExists() {
      const result = await this.$axios.$post('api/checkIfCustomerExists', {
        email: this.form.email,
        enterprise_code: this.form.EnterpriseCode
      })
      if (!result.customer) return
      this.showFoundData(result.customer)
    },
    getPristatymoTerminas(id) {
      if (!this.terminai) return
      const terminas = this.terminai.find((element) => element.cart_id === id)
      return terminas ? terminas.term : null
    },
    async checkMonetStock(monetID) {
      if (!this.cart) return
      const monetObj = []
      for (const item of this.cart) {
        let terminas = ''
        const result = await this.$axios.$get(
          'api/haveInStock/' + item.product.monet_product_id
        )
        if (!result) {
          terminas =
            item.product.manufacturer &&
            item.product.manufacturer.tiekimo_terminas
              ? item.product.manufacturer.tiekimo_terminas
              : '5 - 15 d.d.'
        } else if (!result.PhysicalInvent || item.qty > result.PhysicalInvent) {
          terminas = item.product.manufacturer
            ? item.product.manufacturer.tiekimo_terminas || '5 - 15 d.d.'
            : '5 - 15 d.d.'
        } else {
          terminas = '1 - 2 d.d.'
        }
        monetObj.push({
          cart_id: item.id,
          term: terminas,
          inventory: result.PhysicalInvent,
          buying_more_than_inventory: item.qty > result.PhysicalInvent
        })
      }
      this.terminai = monetObj
    },
    noOnlineSales(categories) {
      if (!categories) return
      for (const cat of categories) {
        if (cat.turn_off_online_sales) {
          this.unavailableExist = true
          return true
        }
      }
      return false
    },
    fillUserFields() {
      this.form.name = this.$auth.user.name
      this.form.surname = this.$auth.user.surname
      this.form.email = this.$auth.user.email
      this.form.phone = this.$auth.user.phone
      this.form.company = this.$auth.user.company
      this.form.EnterpriseCode = this.$auth.user.enterprise_code
      this.form.VATNum = this.$auth.user.vat_num
      this.form.address = this.$auth.user.address
      this.form.city = this.$auth.user.city
      this.form.zip = this.$auth.user.zip
    },
    async getQuote() {
      if (!this.form.city || !this.form.address) {
        this.$notify({
          group: 'all',
          type: 'error',
          text: 'Užpildykite pristatymo informacijos laukus'
        })
        return false
      }
      const result = await this.$axios.$post('api/zitycity/getPrice', {
        request: {
          route: [
            {
              address: 'Švitrigailos g. 3 Vilnius, LT-03110'
            },
            {
              address: this.form.address + ' ' + this.form.city
            }
          ]
        }
      })
      if (result.fee) {
        this.zitycityPrice = parseFloat(result.fee)
        return
      }
      this.$notify({
        group: 'all',
        type: 'error',
        text: 'Skubus pristatymas šiuo adresu nėra galimas'
      })
    },
    async applyDiscount() {
      const result = await this.$axios.$post('api/checkDiscount', {
        discount: this.discountCode
      })
      if (result.success && result.result) {
        this.$store.commit('setDiscount', {
          code: this.discountCode,
          percentage: result.result
        })
      }
    },
    createId() {
      const transactionID = (this.transactionID = this.makeid(6))
    },
    gotoProduct(slug) {
      this.$router.push({ path: '/prekes/' + slug })
    },
    round(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100
    },
    extractIds(cart) {
      const cartObj = []
      for (const item of cart) {
        if (this.noOnlineSales(item.product.categories)) continue
        cartObj.push(item.id)
      }
      return cartObj
    },
    async createTransaction() {
      const transactionID = (this.transactionID = this.makeid(6))
      let status
      if (this.defaultPayment == 3) {
        status = 'laukiama'
      } else if (this.defaultPayment == 2) {
        status = 'pickup'
      }
      const result = await this.$axios.$post(`/api/createTransaction/`, {
        transaction_id: transactionID,
        newUser: this.newUser,
        user: this.$auth.user,
        shipping: this.getShippingOption.id,
        shipping_price: this.getShippingOption.price,
        vat: this.totalVat,
        vat_amount: this.getSum.toFixed(2),
        payment_method: this.paymentTypes.find(
          (element) => element.id === this.defaultPayment
        ).id,
        status: status,
        user_cookie: this.checkCookie,
        email: this.form.email,
        payer_name: this.form.payer_name,
        name: this.form.name,
        phone: this.form.phone,
        city: this.form.city,
        address: this.form.address,
        EnterpriseCode: this.form.EnterpriseCode,
        VATNum: this.form.VATNum,
        company: this.form.company,
        remark: this.form.remark,
        parcel_qty: this.getParcelQty,
        zip: this.form.zip,
        used_discount: this.discount,
        cart: this.extractIds(this.cart),
        cart_info: this.getCartInfo,
        partner: this.accessCookie('partner'),
        amount: this.getFinalFinalAmount * 100
      })
      setTimeout(() => {
        this.isLoading = false
      }, 4000)
      return transactionID
    },
    makeid(length) {
      return Math.floor(Math.random() * 1000000 + 10000)
    },
    checkFields() {
      this.nameError = false
      if (this.selectedShipping !== 1) {
        // jeigu ne atsiimsiu vietoje
        this.addressError = false
        if (
          !this.form.city ||
          !this.form.address ||
          !this.form.name ||
          !this.form.phone ||
          !this.form.zip
        ) {
          this.addressError = 'Užpildykite adreso laukus'
          this.$notify({
            group: 'all',
            type: 'error',
            text: 'Teisingai užpildykite adreso laukus'
          })
          return false
        }
      } else if (!this.form.email || !this.form.name) {
        this.nameError = 'Įveskite gavėjo vardą'
        this.$notify({
          group: 'all',
          type: 'error',
          text: 'Trūksta el. pašto arba vardo'
        })
        return false
      }
      this.nameError = false
      return true
    },
    async checkIfUserCreate() {
      if (this.wantAnAccount && !this.$auth.user) {
        await this.userReg()
      }
    },
    accessCookie(cookieName) {
      const name = cookieName + '='
      const allCookieArray = document.cookie.split(';')
      for (let i = 0; i < allCookieArray.length; i++) {
        const temp = allCookieArray[i].trim()
        if (temp.indexOf(name) === 0)
          return temp.substring(name.length, temp.length)
      }
      return ''
    },
    async userReg() {
      this.form.user_cookie = this.checkCookie
      try {
        await this.$axios.$post('/api/signup', this.form).then((response) => {
          // this.$auth.setUser(response.user)
          this.sendActivationEmail(response.user.email, response.user.id)
          this.newUser = response.user
        })
      } catch (error) {
        this.$notify({
          group: 'all',
          type: 'error',
          duration: 2000,
          title: response.data.error
        })
      }
    },
    sendActivationEmail(email, userID) {
      this.$axios.$post('/api/activateEmail', {
        user_id: userID,
        user_email: email
      })
    },
    async validateAndPurchase(form) {
      if (this.isLoading) return
      this.isLoading = true
      this.$refs[form].validate((valid) => {
        valid = this.checkFields()
        if (!this.form.email || !this.form.name) {
          this.$notify({
            group: 'all',
            type: 'error',
            text: 'Trūksta el. adreso arba vardo'
          })
          this.isLoading = false
          return
        }
        this.checkIfUserCreate().then(() => {
          if (valid) {
            if (this.$auth.user && this.$auth.user.id) {
              this.$axios.$post('api/saveUser', this.form)
            }

            if (this.defaultPayment === 3) {
              // išankstinio apmokėjimo sąskaita
              this.saveTransactionAndSendInvoice()
            } else if (this.defaultPayment === 1) {
              // el. bankininkyste
              this.purchase()
            } else if (this.defaultPayment === 2) {
              // vietoje grynais
              if (this.selectedShipping == 1) {
                // atsiimsiu pats
              }
              this.saveTransactionAndSendInvoice()
            }
          } else {
            this.$notify({
              group: 'all',
              type: 'error',
              text: 'Ištaisykite klaidas'
            })
            this.isLoading = false
            return false
          }
        })
      })
    },
    async sendInvoice(transactionID) {
      const result = await this.$axios.$get(
        'api/generateInvoice/' + transactionID
      )
      if (result.result) {
        if (this.defaultPayment === 2) {
          this.$notify({
            group: 'all',
            type: 'info',
            duration: 10000,
            text: 'Neatsiėmus užsakymo per 5 d.d. užsakymas bus anuliuotas'
          })
        }
        this.$notify({
          group: 'all',
          type: 'success',
          text: 'Suformuota sąskaitą išsiųsta į jūsų el. paštą'
        })
        this.$router.push({ path: '/' })
      } else {
        this.$notify({
          group: 'all',
          type: 'error',
          text: 'Nepavyko suformuoti sąskaitos'
        })
      }
    },
    sendDPD() {},
    saveTransactionAndsendDPD() {
      this.createTransaction().then((transactionID) =>
        this.sendDPD(transactionID)
      )
    },
    saveTransactionAndSendInvoice() {
      this.createTransaction().then((transactionID) =>
        this.sendInvoice(transactionID)
      )
    },
    purchase() {
      this.createTransaction().then((transactionID) =>
        this.payPaysera(transactionID)
      )
    },
    async payPaysera(transactionID) {
      const result = await this.$axios.$post(`/api/payPaysera/`, {
        transaction_id: transactionID,
        amount: this.getFinalFinalAmount
      })
      window.location.href = result.redirect_url
    },
    async finalizeItemFromCart(id) {
      const result = await this.$axios.$post(`/api/removeItemFromCart/${id}`, {
        user_cookie: this.checkCookie
      })
      this.$store.commit('setCart', result.cart)
      this.checkMonetStock()
      if (!this.cart.length) this.$router.push({ path: '/' })
    },
    removeItemFromCart(id) {
      this.$confirm(
        'Ar tikrai norite pašalinti šią prekę iš krepšelio?',
        'Patvirtinkite',
        {
          confirmButtonText: 'Taip',
          cancelButtonText: 'Ne',
          type: 'warning'
        }
      )
        .then(() => {
          this.finalizeItemFromCart(id)
        })
        .catch(() => {})
    },
    gotoProducts() {
      this.$router.push({ path: '/prekes' })
    },
    checkIfDiscount(product) {
      if (!product.discount) return product.price * 1.21
      return (product.price - (product.price * product.discount) / 100) * 1.21
    },
    getPrice(product) {
      return parseFloat(this.checkIfDiscount(product)).toFixed(2)
    },
    getImageUrl(image) {
      return `${this.backendUrl}/storage/app/media/${image}`
    }
  }
}
</script>

<style lang="scss">
.checkout-container {
  background: #f6f6f6;
  &--title {
    font-size: 36px;
    margin: 20px 0;
  }
  &--table {
    &--header {
      padding: 15px;
      color: #fff;
      background: #e9c520;
      font-size: 18px;
      font-weight: 500;
    }
    &--content {
      padding: 15px;
      color: #333;
      background: #fff;
      font-size: 14px;
      border: 1px solid #ececec;
      img {
        max-width: 80%;
      }
    }
    &--footer {
      background: #ececec;
      padding: 20px;
      box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.1);
      .sum-title {
        font-size: 15px;
      }
      .total-sum {
        font-size: 22px;
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
}
.checkout-bottom {
  margin-top: 45px;
  margin-bottom: 45px;
  .shipping-container {
    background: #fff;
    &--item {
      padding: 25px 20px;
      font-size: 15px;
      cursor: pointer;
      border-bottom: 1px solid #ececec;
    }
  }
  .radio-circle {
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    .inner-circle {
      background: #333;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
.discount {
  padding: 25px;
  margin: 15px 0;
  height: 50px;
  border: 1px solid #e9e8e8;
  font-size: 14px;
  input {
    border: none;
    font-size: 14px;
    padding-left: 15px;
  }
  .button-gray {
    background: #f0f0f0;
    cursor: pointer;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 450;
  }
}
.number {
  input {
    text-align: center;
    margin-right: 3px;
    border: none;
    height: 40px;
    width: 50px;
    font-size: 14px;
  }
}
.address {
  input {
    margin: 6px 0;
  }
}
.final-checkout-container {
  background: #fff;
  padding: 25px 35px;
  margin-left: 0px;
  .final-checkout-item {
    margin: 20px 0;
    font-size: 15px;
    padding-bottom: 10px;
  }
}
.el-form-item__label {
  line-height: 1.6em !important;
}
@media only screen and (max-width: 600px) {
  .checkout-container {
    &--title {
      font-size: 36px;
      margin: 20px 0;
    }
    &--table {
      .info-row {
        border-bottom: 1px solid #ececec;
      }
      &--about-product {
        background: #fff;
        padding: 15px;
      }
      &--header.mob {
        flex-direction: column;
      }
      &--content {
        img {
          width: 80px;
        }
      }
    }
  }
}
</style>
