<template>
  <div></div>
</template>

<script>
export default {
  mounted() {
    // if (this.$auth.strategy.name == 'google' && this.$auth.user.email) {
    //   this.userLogin(this.$auth.user.email)
    // }
  },
  methods: {
    // async userLogin(email) {
    //   alert(email)
    //   const result = await this.$axios.$post('/api/checkIfUserExists', {
    //     email: email
    //   })
    //   if (result.user) {
    //     console.log(result.user)
    //     this.$auth.setUser(result.user)
    //     this.$notify({
    //       group: 'all',
    //       type: 'success',
    //       duration: 2000,
    //       title: 'Sėkmingai prisijungėte'
    //     })
    //   } else {
    //     this.$notify({
    //       group: 'all',
    //       type: 'error',
    //       duration: 2000,
    //       title: 'Vartotojas nėra užregistruotas'
    //     })
    //   }
    //   setTimeout(() => {
    //     this.$router.push('/')
    //   }, 1000)
    // }
  }
}
</script>

<style></style>
