<template>
  <div class="user-profile-container gray-bg">
    <pageHeader />
    <div class="container" style="padding:40px">
      <!-- 
      <tab-menu
        :activeTab="activeTab"
        style="margin: 10px 20px 50px 50px; width: 60%"
        @set-active-tab="setActiveTab"
        :menu="menuItems"
      /> -->

      <div class="row no-margin start-xs">
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Vardas">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="El. paštas">
            {{ form.email }}
          </el-form-item>
          <el-form-item label="Telefonas">
            <el-input v-model="form.phone">
              <template slot="prepend">+370</template>
            </el-input>
          </el-form-item>
          <el-form-item label="Įmonė">
            <el-input v-model="form.company"></el-input>
          </el-form-item>
          <el-form-item label="Įmonės kodas">
            <el-input v-model="form.EnterpriseCode"></el-input>
          </el-form-item>
          <el-form-item label="PVM kodas">
            <el-input v-model="form.VATNum"></el-input>
          </el-form-item>
          <el-form-item label="Jūsų adresas" class="address">
            <el-input
              placeholder="Gatvės pav, namas, butas"
              v-model="form.address"
            ></el-input>
            <el-input placeholder="Miestas" v-model="form.city"></el-input>
            <el-form-item label="Pašto kodas" prop="zip">
              <el-input maxlength="5" type="text" v-model="form.zip">
                <template slot="prepend">LT-</template>
              </el-input>
            </el-form-item>
          </el-form-item>

          <el-form-item label="Slaptažodis" class="address">
            <el-input
              v-if="$auth.user.id"
              :show-password="true"
              placeholder="Dabartinis"
              type="password"
              v-model="password"
            ></el-input>
            <el-input
              :show-password="true"
              placeholder="Naujas slaptažodis"
              type="password"
              v-model="passwordRepeat"
            ></el-input>
          </el-form-item>
          <div style="margin-top:20px"></div>
          <el-form-item>
            <mainButton
              @on-click="saveUser('form')"
              style="width:200px"
              text="Atnaujinti"
            />
          </el-form-item>
        </el-form>
      </div>
    </div>

    <footerBlock />
  </div>
</template>

<script>
import Vue from 'vue'
import { Button, Input, Select, Form, FormItem } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import pageHeader from '~/components/header/header'
import footerBlock from '~/components/footerBlock'
// import tabMenu from '~/components/tabMenu'
import mainButton from '~/components/mainButton'
Vue.component(Button.name, Button)
Vue.component(Select.name, Select)
Vue.component(Input.name, Input)
Vue.use(Form)
Vue.use(FormItem)

export default {
  components: {
    // tabMenu,
    pageHeader,
    mainButton,
    footerBlock
  },
  data() {
    return {
      activeTab: 'aprasymas',
      menuItems: [
        {
          name: 'Mano paskyra',
          code: 'paskyra'
        },
        {
          name: 'Užsakymų istorija',
          code: 'istorija'
        }
      ],
      password: null,
      passwordRepeat: null,
      form: {
        name: '',
        surname: '',
        email: '',
        phone: '',
        company: '',
        EnterpriseCode: '',
        VATNum: '',
        address: '',
        city: '',
        zip: ''
      },
      rules: {
        email: [
          {
            required: true,
            message: 'Įveskite el. pašto adresą',
            trigger: 'blur'
          },
          {
            type: 'email',
            message: 'Įveskite teisingą el. pašto adresą',
            trigger: ['blur', 'change']
          }
        ]
      },
      scrollPercent: null
    }
  },
  mounted() {
    setTimeout(() => {
      if (this.$auth.user) {
        this.fillUserFields()
      }
    }, 1000)
  },
  methods: {
    fillUserFields() {
      this.form.name = this.$auth.user.name
      this.form.surname = this.$auth.user.surname
      this.form.email = this.$auth.user.email
      this.form.phone = this.$auth.user.phone
      this.form.EnterpriseCode = this.$auth.user.enterprise_code
      this.form.VATNum = this.$auth.user.vat_num
      this.form.company = this.$auth.user.company
      this.form.address = this.$auth.user.address
      this.form.city = this.$auth.user.city
      this.form.zip = this.$auth.user.zip
    },
    saveUser(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.startSubmit()
        } else {
          this.$notify({
            group: 'all',
            type: 'error',
            text: 'Ištaisykite klaidas'
          })
          return false
        }
      })
    },
    async startSubmit() {
      if (this.password || this.passwordRepeat) {
        this.form['password'] = this.password
        this.form['passwordRepeat'] = this.passwordRepeat
      }
      const result = await this.$axios.$post('api/saveUser', this.form)
      if (result.error) {
        this.$notify({
          group: 'all',
          type: 'error',
          text: result.message
        })
        return
      }
      if (result.result) {
        this.$notify({
          group: 'all',
          type: 'success',
          text: 'Informacija sėkmingai atnaujinta'
        })
        this.password = this.passwordRepeat = null
        this.$auth.setUser(result.result)
      }
    },
    setActiveTab(val) {
      this.activeTab = val
    },
    viewHandler(e) {
      this.scrollPercent = e.scrollPercent
    }
  }
}
</script>

<style lang="scss">
.user-profile-container {
  .container {
    background: #fff;
    box-shadow: 2px 2px 8px 2px rgba(122, 122, 122, 0.1);
  }
  &--title {
    font-size: 28px;
    margin-bottom: 30px !important;
  }
  .container {
    padding: 40px;
  }
  .el-form {
    width: 60%;
  }
  input {
  }
  .address {
    input {
      margin: 6px 0;
    }
  }
}
</style>
